{% extends 'base.html' %}

{% block title %} Admin Dashboard {% endblock %}

{%block cssperfile %} 
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }
  @media print {
    .myDivToPrint {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}
.dataTables_wrapper { min-height: 300px; }
</style>
<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">

<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<main class="d-flex flex-row">
	<ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="bootstrap" viewBox="0 0 118 94">
		  <title>Bootstrap</title>
		  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
		</symbol>
		<symbol id="home" viewBox="0 0 16 16">
		  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
		</symbol>
		<symbol id="speedometer2" viewBox="0 0 16 16">
		  <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
		  <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
		</symbol>
		<symbol id="table" viewBox="0 0 16 16">
		  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
		</symbol>
		<symbol id="people-circle" viewBox="0 0 16 16">
		  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
		  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
		</symbol>
		<symbol id="grid" viewBox="0 0 16 16">
		  <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
		</symbol>
		<symbol id="collection" viewBox="0 0 16 16">
		  <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
		</symbol>
		<symbol id="calendar3" viewBox="0 0 16 16">
		  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
		  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
		</symbol>
		<symbol id="chat-quote-fill" viewBox="0 0 16 16">
		  <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
		</symbol>
		<symbol id="cpu-fill" viewBox="0 0 16 16">
		  <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
		  <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
		</symbol>
		<symbol id="gear-fill" viewBox="0 0 16 16">
		  <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
		</symbol>
		<symbol id="speedometer" viewBox="0 0 16 16">
		  <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
		  <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
		</symbol>
		<symbol id="toggles2" viewBox="0 0 16 16">
		  <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
		  <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
		  <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
		</symbol>
		<symbol id="tools" viewBox="0 0 16 16">
		  <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
		</symbol>
		<symbol id="chevron-right" viewBox="0 0 16 16">
		  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
		</symbol>
		<symbol id="geo-fill" viewBox="0 0 16 16">
		  <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
		</symbol>
	  </svg>

	  <div class="d-flex flex-column" style="height: 100vh; width: 100vw;">
		<div class="container">
			<div class="d-flex justify-content-center flex-row ">
				<img class="img-fluid" src="{{url_for('static', filename='img/list_of_employees.png')}}" alt="" width="400">
			</div>
			<div class="d-flex justify-content-center flex-row">
				<!-- <div class="flex-column text-end">
					<a class="" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Toggle Column</a>
				</div> -->
				<div class="card shadow-sm mb-3">
					<div class="card-body">
						{{date_now.strftime('%Y-%m-%d %H:%M:%S')}}
					<div id="demo" class="mb-5">
						<table class="table table-striped table-hover" id="list_of_employees" style="width: 100%;z-index:-99999;" cellpadding="0" cellspacing="0" id="example" width="100%">
							<thead>
							  <tr id="tableHeading">
								<th scope="col">id</th>
								<th scope="col">timestamp</th>
								<th scope="col">employee_id</th>
								<th scope="col">is_validated</th>
								<th scope="col">email</th>
								<th scope="col">password</th>
								<th scope="col">last_name</th>
								<th scope="col">first_name</th>
								<th scope="col">middle_name</th>
								<th scope="col">name_extn</th>
								<th scope="col">position_title</th>
								<th scope="col">salary_grade</th>
								<th scope="col">employment_status</th>
								<th scope="col">section</th>
								<th scope="col">unit</th>
								<th scope="col">birthdate</th>
								<th scope="col">age</th>
								<th scope="col">place_of_birth</th>
								<th scope="col">sex</th>
								<th scope="col">civil_status</th>
								<th scope="col">height</th>
								<th scope="col">weight</th>
								<th scope="col">blood_type</th>
								<th scope="col">religion</th>
								<th scope="col">dependents</th>
								<th scope="col">mobile_no</th>
								<th scope="col">telephone_no</th>
								<th scope="col">gsis</th>
								<th scope="col">pagibig</th>
								<th scope="col">philhealth</th>
								<th scope="col">sss</th>
								<th scope="col">tin</th>
								<th scope="col">atm</th>
								<th scope="col">umid</th>
								<th scope="col">philsys</th>
								<th scope="col">citizenship</th>
								<th scope="col">dual_citizenship</th>
								<th scope="col">indicate_country</th>
								<th scope="col">p_house_block_lot</th>
								<th scope="col">p_street</th>
								<th scope="col">p_subdivision_village</th>
								<th scope="col">p_barangay</th>
								<th scope="col">p_city_municipality</th>
								<th scope="col">p_province</th>
								<th scope="col">p_zip_code</th>
								<th scope="col">pres_house_block_lot</th>
								<th scope="col">pres_street</th>
								<th scope="col">pres_subdivision_village</th>
								<th scope="col">pres_barangay</th>
								<th scope="col">pres_city_municipality</th>
								<th scope="col">pres_province</th>
								<th scope="col">pres_zip_code</th>
								<!-- <th scope="col">highest_educational_attainment</th> -->
								<th scope="col">elementary_school</th>
								<th scope="col">e_period_of_attendance_from</th>
								<th scope="col">e_period_of_attendance_to</th>
								<th scope="col">e_highest_level</th>
								<th scope="col">e_scholarship_academic_honor</th>
								<th scope="col">high_school</th>
								<th scope="col">hs_period_of_attendance_from</th>
								<th scope="col">hs_period_of_attendance_to</th>
								<th scope="col">hs_highest_level</th>
								<th scope="col">hs_scholarship_academic_honor</th>
								<!-- <th scope="col">v_school</th>
								<th scope="col">vocational_trade_course</th>
								<th scope="col">v_period_of_attendance_from</th>
								<th scope="col">v_period_of_attendance_to</th>
								<th scope="col">v_highest_level</th>
								<th scope="col">v_scholarship_academic_honor</th>
								<th scope="col">c_school</th>
								<th scope="col">c_degree_course</th>
								<th scope="col">c_period_of_attendance_from</th>
								<th scope="col">c_period_of_attendance_to</th>
								<th scope="col">c_highest_level_units_earned</th>
								<th scope="col">c_scholarship_academic_honor</th>
								<th scope="col">gs_school</th>
								<th scope="col">gs_degree_course</th>
								<th scope="col">gs_period_of_attendance_from</th>
								<th scope="col">gs_period_of_attendance_to</th>
								<th scope="col">gs_highest_level_units_earned</th>
								<th scope="col">gs_scholarship_academic_honor</th>
								<th scope="col">doc_school</th>
								<th scope="col">doc_degree_course</th>
								<th scope="col">doc_period_of_attendance_from</th>
								<th scope="col">doc_period_of_attendance_to</th>
								<th scope="col">doc_highest_level_units_earned</th>
								<th scope="col">doc_scholarship_academic_honor</th> -->
								<!-- <th scope="col">cs_eligibility</th>
								<th scope="col">cs_rating</th>
								<th scope="col">place_of_examination_conferment</th>
								<th scope="col">license_no</th>
								<th scope="col">date_of_validity</th> -->
								<th scope="col">type_of_user</th>
								<th scope="col">Controls</th>
							  </tr>
							</thead>
							<tbody class="align-middle">
							</tbody>
						  </table>
					</div>		
					</div>
				</div>

			</div>
		</div>
	  </div>
	  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
		  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Toggle Column</h5>
		  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<hr>
		<div class="offcanvas-body">
			<ul id="toggle_col">
				<li><a href="#" class="toggle-vis" data-column="0">id</a></li>
				<li><a href="#" class="toggle-vis" data-column="1">timestamp</a></li>
				<li><a href="#" class="toggle-vis" data-column="2">employee_id</a></li>
				<li><a href="#" class="toggle-vis" data-column="3">is_validated</a></li>
				<li><a href="#" class="toggle-vis" data-column="4">email</a></li> 
				<li><a href="#" class="toggle-vis" data-column="5">password</a></li>
				<li><a href="#" class="toggle-vis" data-column="6">last_name</a></li> 
				<li><a href="#" class="toggle-vis" data-column="7">first_name</a></li> 
				<li><a href="#" class="toggle-vis" data-column="8">middle_name</a></li> 
				<li><a href="#" class="toggle-vis" data-column="9">name_extn</a></li> 
				<li><a href="#" class="toggle-vis" data-column="10">position_title</a></li> 
				<li><a href="#" class="toggle-vis" data-column="11">salary_grade</a></li> 
				<li><a href="#" class="toggle-vis" data-column="12">employment_status</a></li> 
				<li><a href="#" class="toggle-vis" data-column="13">section</a></li>
				<li><a href="#" class="toggle-vis" data-column="14">unit</a></li> 
				<li><a href="#" class="toggle-vis" data-column="15">birthdate</a></li> 
				<li><a href="#" class="toggle-vis" data-column="16">age</a></li>
				<li><a href="#" class="toggle-vis" data-column="17">place_of_birth</a></li> 
				<li><a href="#" class="toggle-vis" data-column="18">sex</a></li> 
				<li><a href="#" class="toggle-vis" data-column="19">civil_status</a></li> 
				<li><a href="#" class="toggle-vis" data-column="20">height</a></li> 
				<li><a href="#" class="toggle-vis" data-column="21">weight</a></li> 
				<li><a href="#" class="toggle-vis" data-column="22">blood_type</a></li> 
				<li><a href="#" class="toggle-vis" data-column="23">religion</a></li> 
				<li><a href="#" class="toggle-vis" data-column="24">dependents</a></li>
				<li><a href="#" class="toggle-vis" data-column="25">mobile_no</a></li> 
				<li><a href="#" class="toggle-vis" data-column="26">telephone_no</a></li> 
				<li><a href="#" class="toggle-vis" data-column="27">gsis</a></li> 
				<li><a href="#" class="toggle-vis" data-column="28">pagibig</a></li> 
				<li><a href="#" class="toggle-vis" data-column="29">philhealth</a></li> 
				<li><a href="#" class="toggle-vis" data-column="30">sss</a></li> 
				<li><a href="#" class="toggle-vis" data-column="31">tin</a></li> 
				<li><a href="#" class="toggle-vis" data-column="32">atm</a></li> 
				<li><a href="#" class="toggle-vis" data-column="33">umid</a></li> 
				<li><a href="#" class="toggle-vis" data-column="34">philsys</a></li> 
				<li><a href="#" class="toggle-vis" data-column="35">citizenship</a></li> 
				<li><a href="#" class="toggle-vis" data-column="36">dual_citizenship</a></li> 
				<li><a href="#" class="toggle-vis" data-column="37">indicate_country</a></li> 
				<li><a href="#" class="toggle-vis" data-column="38">p_house_block_lot</a></li>
				<li><a href="#" class="toggle-vis" data-column="39">p_street</a></li> 
				<li><a href="#" class="toggle-vis" data-column="40">p_subdivision_village</a></li> 
				<li><a href="#" class="toggle-vis" data-column="41">p_barangay</a></li>
				<li><a href="#" class="toggle-vis" data-column="42">p_city_municipality</a></li> 
				<li><a href="#" class="toggle-vis" data-column="43">p_province</a></li> 
				<li><a href="#" class="toggle-vis" data-column="44">p_zip_code</a></li> 
				<li><a href="#" class="toggle-vis" data-column="45">pres_house_block_lot</a></li> 
				<li><a href="#" class="toggle-vis" data-column="46">pres_street</a></li> 
				<li><a href="#" class="toggle-vis" data-column="47">pres_subdivision_village</a></li> 
				<li><a href="#" class="toggle-vis" data-column="48">pres_barangay</a></li> 
				<li><a href="#" class="toggle-vis" data-column="49">pres_city_municipality</a></li> 
				<li><a href="#" class="toggle-vis" data-column="50">pres_province</a></li> 
				<li><a href="#" class="toggle-vis" data-column="51">pres_zip_code</a></li>
				<!-- <li><a href="#" class="toggle-vis" data-column="51">highest_educational_attainment</a></li>  -->
				<li><a href="#" class="toggle-vis" data-column="52">elementary_school</a></li> 
				<li><a href="#" class="toggle-vis" data-column="53">e_period_of_attendance_from</a></li> 
				<li><a href="#" class="toggle-vis" data-column="54">e_period_of_attendance_to</a></li> 
				<li><a href="#" class="toggle-vis" data-column="55">e_highest_level</a></li> 
				<li><a href="#" class="toggle-vis" data-column="56">e_scholarship_academic_honor</a></li> 
				<li><a href="#" class="toggle-vis" data-column="57">high_school</a></li> 
				<li><a href="#" class="toggle-vis" data-column="58">hs_period_of_attendance_from</a></li> 
				<li><a href="#" class="toggle-vis" data-column="59">hs_period_of_attendance_to</a></li> 
				<li><a href="#" class="toggle-vis" data-column="60">hs_highest_level</a></li> 
				<li><a href="#" class="toggle-vis" data-column="61">hs_scholarship_academic_honor</a></li> 
				<!-- <li><a href="#" class="toggle-vis" data-column="62">v_school</a></li> 
				<li><a href="#" class="toggle-vis" data-column="63">vocational_trade_course</a></li>
				<li><a href="#" class="toggle-vis" data-column="64">v_period_of_attendance_from</a></li> 
				<li><a href="#" class="toggle-vis" data-column="65">v_period_of_attendance_to</a></li> 
				<li><a href="#" class="toggle-vis" data-column="66">v_highest_level</a></li> 
				<li><a href="#" class="toggle-vis" data-column="67">v_scholarship_academic_honor</a></li> 
				<li><a href="#" class="toggle-vis" data-column="68">c_school</a></li> 
				<li><a href="#" class="toggle-vis" data-column="69">c_degree_course</a></li> 
				<li><a href="#" class="toggle-vis" data-column="70">c_period_of_attendance_from</a></li> 
				<li><a href="#" class="toggle-vis" data-column="71">c_period_of_attendance_to</a></li> 
				<li><a href="#" class="toggle-vis" data-column="72">c_highest_level_units_earned</a></li> 
				<li><a href="#" class="toggle-vis" data-column="73">c_scholarship_academic_honor</a></li> 
				<li><a href="#" class="toggle-vis" data-column="74">gs_school</a></li> 
				<li><a href="#" class="toggle-vis" data-column="75">gs_degree_course</a></li> 
				<li><a href="#" class="toggle-vis" data-column="76">gs_period_of_attendance_from</a></li> 
				<li><a href="#" class="toggle-vis" data-column="77">gs_period_of_attendance_to</a></li> 
				<li><a href="#" class="toggle-vis" data-column="78">gs_highest_level_units_earned</a></li> 
				<li><a href="#" class="toggle-vis" data-column="79">gs_scholarship_academic_honor</a></li> 
				<li><a href="#" class="toggle-vis" data-column="80">doc_school</a></li> 
				<li><a href="#" class="toggle-vis" data-column="81">doc_degree_course</a></li> 
				<li><a href="#" class="toggle-vis" data-column="82">doc_period_of_attendance_from</a></li> 
				<li><a href="#" class="toggle-vis" data-column="83">doc_period_of_attendance_to</a></li> 
				<li><a href="#" class="toggle-vis" data-column="84">doc_highest_level_units_earned</a></li> 
				<li><a href="#" class="toggle-vis" data-column="85">doc_scholarship_academic_honor</a></li>  -->
				<!-- <li><a href="#" class="toggle-vis" data-column="86">cs_eligibility</a></li> 
				<li><a href="#" class="toggle-vis" data-column="87">cs_rating</a></li> 
				<li><a href="#" class="toggle-vis" data-column="88">place_of_examination_conferment</a></li> 
				<li><a href="#" class="toggle-vis" data-column="89">license_no</a></li> 
				<li><a href="#" class="toggle-vis" data-column="90">date_of_validity</a></li>  -->
				<li><a href="#" class="toggle-vis" data-column="91">type_of_user</a></li>
				<li><a href="#" class="toggle-vis" data-column="92">Controls</a></li> 
			</ul>
		</div>
	  </div>

</main>
	

<!-- ----------------------------------------------------------------------- -->
<!--                                 MODALS                                  -->
<!-- ----------------------------------------------------------------------- -->
<div class="modal fade" id="staff_movement" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title"><i class="bi bi-person-lines-fill"></i> Staff Movement</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form enctype="multipart/form-data" id="update_appointment_form" action="#" method="POST" autocomplete="off" class="needs-validation" novalidate>
				<input type="text" class="form-control" id="staff_movement_id" name ="id" placeholder="id" value="" required>
				
				<div class="d-sm-flex flex-row"> 
					<!-- <div class="form-floating flex-fill mb-3 p-1">
						<select class="form-select" id="step" name="step" value="" form="update_form" >
						  <option value="ACTIVE">ACTIVE</option>
						  <option value="INACTIVE">INACTIVE</option>
						  <option value="SEPARATED">DETAILED</option>
						  <option value="RETIRED">RETIRED</option>
						  <option value="SEPARATED">SEPARATED</option>
						</select>
						<label for="step">Status</label>
					  </div> -->
					  <div class="form-floating flex-fill mb-3 p-1">
						<select class="form-select" id="update_status" name="status" value="">
							<option value="JOB ORDER">Job Order</option>
							<option value="PERMANENT">Permanent</option>
							<option value="CASUAL">Casual</option>
							<option value="COTERMINOUS">Coterminous</option>
							<option value="SEPARATED">Separated</option>
						</select>
						<label for="update_status">Employment Status</label>

						<div class="valid-feedback">
							<!-- Looks good! -->
						  </div>
						  <div class="invalid-feedback">
							This is required.
						  </div>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="date" class="form-control" id="date_of_effectivity" name ="date_of_effectivity" placeholder="Date of Effectivity" value="" required>
					  <label for="date_of_effectivity">Date of Effectivity</label>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating mb-3 p-1 col-sm-6">
						<select class="form-select" id="section" name="section" value="" form="update_form">
							<option value="Administrative & Finance">Administrative & Finance</option>
							<option value="Office of the Irrigation Manager">Office of the Irrigation Manager</option>
							<option value="Engineering">Engineering</option>
							<option value="Operation & Maintenance">Operation & Maintenance</option>
							<option value="NISRIP">NISRIP</option>
							<option value="CARP-IC">CARP-IC</option>
							<option value="Detailed">Detailed</option>
							<option value="N/A">N/A</option>
						  </select>
						<label for="section">Section</label>
					  </div>
					  <div class="form-floating mb-3 p-1 col-sm-6">
						<select class="form-select" id="unit" name="unit" value="" form="update_form">
						  <option value="Administrative Unit">Administrative Unit</option>
						  <option value="Finance Unit">Finance Unit</option>
						  <option value="Cashiering Unit">Cashiering Unit</option>
						  <option value="Property Unit">Property Unit</option>
						  <option value="N/A">N/A</option>
						</select>
						<label for="name_extn">Unit</label>
					  </div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<select class="form-select" id="salary_grade" name="salary_grade" value="" form="update_form">
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>
						  <option value="11">11</option>
						  <option value="12">12</option>
						  <option value="13">13</option>
						  <option value="14">14</option>
						  <option value="15">15</option>
						  <option value="16">16</option>
						  <option value="17">17</option>
						  <option value="18">18</option>
						  <option value="19">19</option>
						  <option value="20">20</option>
						  <option value="21">21</option>
						  <option value="22">22</option>
						  <option value="23">23</option>
						  <option value="24">24</option>
						  <option value="25">25</option>
						</select>
						<label for="salary_grade">Salary Grade</label>
					  </div>
					  <div class="form-floating flex-fill mb-3 p-1">
						<select class="form-select" id="step" name="step" value="" form="update_form">
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						</select>
						<label for="step">Step</label>
					  </div>
				</div>

				<div class="d-sm-flex flex-row"> 
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="text" class="form-control" id="update_designation" name ="designation" placeholder="Designation" value="" required>
					  <label for="update_designation">Position Title</label>
					  <div class="valid-feedback">
						<!-- Looks good! -->
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
				</div>

				<div class="d-sm-flex flex-row">
					<div class="flex-fill mb-3 p-1">
                        <div class="form-floating">
							<textarea class="form-control" placeholder="Leave a comment here" style="height: 150px;" id="floatingTextarea"></textarea>
							<label for="floatingTextarea">Remarks (Optional)</label>
						  </div>
                      </div>

				</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Save Record</button>
		</form>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}

{%block scripts%}
<script type="text/javascript">
$(document).ready(function() {
	var $table = $("#demo table");
    $table.DataTable( {
		language: {
            searchBuilder: {
                title: `<a class="" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Toggle Column</a>`,
				add: `Add Filter`
            }
        },
		//autoWidth: false,
		responsive: true,
		bLengthChange: true,
		//scrollX: true,
		colReorder: true,
		dom: `Q<'row'<'col-sm-4 col-md-4'l><'col-sm-4 col-md-4'B><'col-sm-4 col-md-4'f>>
				<'row'<'col-sm-12'tr>>
				<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>`,
		lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],


		// "fnDrawCallback": function() {
		// 	var $dataTable = $table.dataTable();
		// 	$dataTable.fnAdjustColumnSizing(false);

		// 	// TableTools
		// 	if (typeof(TableTools) != "undefined") {
		// 		var tableTools = TableTools.fnGetInstance(table);
		// 		if (tableTools != null && tableTools.fnResizeRequired()) {
		// 			tableTools.fnResizeButtons();
		// 		}
		// 	}
		// 	//
		// 	var $dataTableWrapper = $table.closest(".dataTables_wrapper");
		// 	var panelHeight = $dataTableWrapper.parent().height();

		// 	var toolbarHeights = 0;
		// 	$dataTableWrapper.find(".fg-toolbar").each(function(i, obj) {
		// 		toolbarHeights = toolbarHeights + $(obj).height();
		// 	});

		// 	var scrollHeadHeight = $dataTableWrapper.find(".dataTables_scrollHead").height();
		// 	var height = panelHeight - toolbarHeights - scrollHeadHeight;
		// 	$dataTableWrapper.find(".dataTables_scrollBody").height(height - 24);

		// 	$dataTable._fnScrollDraw();
		// },

		buttons: [
			
				{
					extend: 'print',
					customize: function ( win ) {
						$(win.document.body)
							.css( 'font-size', '10pt' )
							.prepend(
								'<img src="http://datatables.net/media/images/logo-fade.png" style="position:absolute; top:0; left:0;" />'
							);
	
						$(win.document.body).find( 'table' )
							.addClass( 'compact' )
							.css( 'font-size', 'inherit' );
					},
					exportOptions: {
						columns: [':visible']
					}
            	 },
					{
					text: 'Copy',
					extend: 'copyHtml5',
					exportOptions: {
						//columns: [':visible']
					}
				},
				{
					text: 'Excel',
					extend: 'excelHtml5',
					exportOptions: {
					//	columns: [':visible']
					}
				},
				{
					text: 'PDF',
					extend: 'pdfHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
        ],
        "ajax": {
            "method" : "GET",
            "url": "/employees/get-employees/0",
            "dataSrc": ""
        },
        "columns": [
			// { data: null,
			// 	render: function ( data, type, row ) {
			// 		if(data.name_extn == ""){
			// 			return data.last_name + ', ' + data.first_name + ' ' + data.middle_name;
			// 		}else{
			// 			return data.last_name + ', ' + data.first_name + ' ' + data.middle_name + ', ' + data.name_extn;
			// 		}
					
			// 	}
			// },
			{ "data": "id"},
			{ "data": "timestamp", visible: false },
			{ "data": "employee_id", visible: true },
			{ "data": "is_validated", visible: true },
			{ "data": "email", visible: false },
			{ "data": "password", visible: false },
			{ "data": "last_name", visible: true },
			{ "data": "first_name", visible: true },
			{ "data": "middle_name", visible: true },
			{ "data": "name_extn", visible: true },
			{ "data": "position_title", visible: false },
			{ "data": "salary_grade", visible: false },
			{ "data": "employment_status", visible: false },
			{ "data": "section", visible: true },
			{ "data": "unit", visible: true },
			{ "data": "birthdate", visible: false },
			{ "data": "age", visible: false },
			{ "data": "place_of_birth", visible: false },
			{ "data": "sex", visible: false },
			{ "data": "civil_status", visible: false },
			{ "data": "height", visible: false },
			{ "data": "weight", visible: false },
			{ "data": "blood_type", visible: false },
			{ "data": "religion", visible: false },
			{ "data": "dependents", visible: false },
			{ "data": "mobile_no", visible: false },
			{ "data": "telephone_no", visible: false },
			{ "data": "gsis", visible: false },
			{ "data": "pagibig", visible: false },
			{ "data": "philhealth", visible: false },
			{ "data": "sss", visible: false },
			{ "data": "tin", visible: false },
			{ "data": "atm", visible: false },
			{ "data": "umid", visible: false },
			{ "data": "philsys", visible: false },
			{ "data": "citizenship", visible: false },
			{ "data": "dual_citizenship", visible: false },
			{ "data": "indicate_country", visible: false },
			{ "data": "p_house_block_lot", visible: false },
			{ "data": "p_street", visible: false },
			{ "data": "p_subdivision_village", visible: false },
			{ "data": "p_barangay", visible: false },
			{ "data": "p_city_municipality", visible: false },
			{ "data": "p_province", visible: false },
			{ "data": "p_zip_code", visible: false },
			{ "data": "pres_house_block_lot", visible: false },
			{ "data": "pres_street", visible: false },
			{ "data": "pres_subdivision_village", visible: false },
			{ "data": "pres_barangay", visible: false },
			{ "data": "pres_city_municipality", visible: false },
			{ "data": "pres_province", visible: false },
			{ "data": "pres_zip_code", visible: false },
			{ "data": "elementary_school", visible: false },
			{ "data": "e_period_of_attendance_from", visible: false },
			{ "data": "e_period_of_attendance_to", visible: false },
			{ "data": "e_highest_level", visible: false },
			{ "data": "e_scholarship_academic_honor", visible: false },
			{ "data": "high_school", visible: false },
			{ "data": "hs_period_of_attendance_from", visible: false },
			{ "data": "hs_period_of_attendance_to", visible: false },
			{ "data": "hs_highest_level", visible: false },
			{ "data": "hs_scholarship_academic_honor", visible: false },
			// { "data": "v_school", visible: false },
			// { "data": "vocational_trade_course", visible: false },
			// { "data": "v_period_of_attendance_from", visible: false },
			// { "data": "v_period_of_attendance_to", visible: false },
			// { "data": "v_highest_level", visible: false },
			// { "data": "v_scholarship_academic_honor", visible: false },
			// { "data": "c_school", visible: false },
			// { "data": "c_degree_course", visible: false },
			// { "data": "c_period_of_attendance_from", visible: false },
			// { "data": "c_period_of_attendance_to", visible: false },
			// { "data": "c_highest_level_units_earned", visible: false },
			// { "data": "c_scholarship_academic_honor", visible: false },
			// { "data": "gs_school", visible: false },
			// { "data": "gs_degree_course", visible: false },
			// { "data": "gs_period_of_attendance_from", visible: false },
			// { "data": "gs_period_of_attendance_to", visible: false },
			// { "data": "gs_highest_level_units_earned", visible: false },
			// { "data": "gs_scholarship_academic_honor", visible: false },
			// { "data": "doc_school", visible: false },
			// { "data": "doc_degree_course", visible: false },
			// { "data": "doc_period_of_attendance_from", visible: false },
			// { "data": "doc_period_of_attendance_to", visible: false },
			// { "data": "doc_highest_level_units_earned", visible: false },
			// { "data": "doc_scholarship_academic_honor", visible: false },
			{ "data": "type_of_user", visible: false },
            {
              data: null,
			  searchable: false,
              render: function ( data, type, row ) {
                return `
				<div class="dropdown">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-collection"></i> Actions
					</a>
					<ul class="dropdown-menu dropdown-menu-start position-absolute" aria-labelledby="dropdownMenuLink" style="z-index: 1080">
						<li><a class="dropdown-item" href="/employees/validate/${data.id}"><i class="bi bi-person-check-fill"></i> Validated</a></li>
						<li><a class="dropdown-item" href="/employees/not-validated/${data.id}"><i class="bi bi-person-x-fill"></i> Not Validated</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/print-preview/${data.id}"><i class="bi bi-printer"></i> PDS Print Preview</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a href="/employees/my-profile/${data.id}" class="dropdown-item"><i class="bi bi-person-lines-fill"></i> Employee Profile</a></li>
						<li><a href="/family-background/${data.id}" class="dropdown-item"><i class="bi bi-people-fill"></i> Family Background</a></li>
						<li><a class="dropdown-item" href="/work-experience/${data.id}"><i class="bi bi-journals"></i> Work Experience</a></li>
						<li><a class="dropdown-item" href="/voluntary-work/${data.id}"><i class="bi bi-person-workspace"></i> Voluntary Work</a></li>
						<li><a class="dropdown-item" href="/learning-development/${data.id}"><i class="bi bi-lightbulb"></i>  Learning & Development</a></li>
						<li><a class="dropdown-item" href="/other-information/${data.id}"><i class="bi bi-pen"></i> Other Information</a></li>
						<li><a class="dropdown-item" href="/questions/${data.id}"><i class="bi bi-question-octagon"></i> Questions</a></li>
						<li><a class="dropdown-item" href="/character-reference/${data.id}"><i class="bi bi-person-video2"></i> Character References</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/employees/service-record/${data.id}"><i class="bi bi-card-list"></i> Service Record</a></li>
						<li><a class="dropdown-item" href="/appointment/${data.id}"><i class="bi bi-card-heading"></i> Appointments</a></li>
						<li><a class="dropdown-item" href="/covid-vaccine/${data.id}"><i class="fas fa-syringe"></i> COVID-19 Vaccination</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/tshirt-sizes/${data.id}"><i class="fas fa-tshirt"></i> Shirt Sizes</a></li>
						<li><a class="dropdown-item" href="/emergency-contact/${data.id}"><i class="bi bi-telephone"></i> Emergency Contact Details</a></li>
						<li><a class="dropdown-item" href="/other-questions/${data.id}"><i class="bi bi-question-diamond"></i> Other Questions</a></li>
						<li>
					</ul>
					`;
              }
            }
        ]
    } );




$('a.toggle-vis').on( 'click', function (e) {
		// Get the column API object
		var column = products_table.column( $(this).attr('data-column') );

		// Toggle the visibility
		column.visible( ! column.visible() );
	} );

})
	
	function staff_movement(el){
		console.log(el.id)
		var staff_movement_id = document.getElementById("staff_movement_id");
		staff_movement_id.value = el.id;

		fetch('/get-employee/'+el.id,{
		method: 'GET'
	})
		.then(response => response.json())
		.then(data => {
			triggerToast(data)
			// var table = $('#character_ref_table').DataTable();
			table.ajax.reload();
		});

	}

	document.getElementById("section").addEventListener("change", (e)=>{
      console.log(e.target.value)
      var units = `<option class='' value='' selected disabled hidden>-</option>`;
      document.getElementById("unit").innerHTML = units;
      if(e.target.value == "Administrative & Finance"){
        units = `
          <option value="Administrative Unit">Administrative Unit</option>
          <option value="Finance Unit">Finance Unit</option>
          <option value="Cashiering Unit">Cashiering Unit</option>
          <option value="Property Unit">Property Unit</option>
          <option value="N/A">N/A</option>
        `;
      }
      else if(e.target.value == "Engineering"){
        units = `
          <option value="Planning Unit">Planning Unit</option>
          <option value="Design Unit">Design Unit</option>
          <option value="Construction Unit">Construction Unit</option>
          <option value="Institutional Development Unit">Institutional Development Unit</option>
          <option value="Equipment Unit">Equipment Unit</option>
          <option value="N/A">N/A</option>
        `;
      }
      else if(e.target.value == "Operation & Maintenance"){
        units = `
          <option value="Agno-Sinocalan RIS">Agno-Sinocalan RIS</option>
          <option value="San Fabian-Dumoloc RIS">San Fabian-Dumoloc RIS</option>
          <option value="Lower Agno RIS">Lower Agno RIS</option>
          <option value="Ambayoan-Dipalo RIS">Ambayoan-Dipalo RIS</option>
          <option value="N/A">N/A</option>
        `;
      }
      else{
        units = `
          <option value="N/A">N/A</option>
          `;
      }
      document.getElementById("unit").insertAdjacentHTML("afterbegin", units);
    });

</script>
{%endblock%}