{% extends 'base.html' %}

{% block title %} AFL Logs {% endblock %}

{%block cssperfile %} 
<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/pdf-lib/dist/pdf-lib.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<main class="container mt-4">
	<ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
  
	<div class="row mb-3">
		<div class="card mb-3">
			<div class="card-body">
				<div class="card text-white bg-blue shadow-sm mb-3" >
					<div class="card-header">
						<h3 class="card-title text-white fw-bolder"><i class="fas fa-calendar-check"></i> APPLICATION FOR LEAVE LOGS</h3>
					 </div>
					<div class="card-body">
					  <ul>
					  <li><p class="card-text">This page contains all your Applications for Leave.</p></li>
					  
					  </ul>
					  
					</div>
				  </div>
				  <table class="table table-hover" id="afl_log_table">
					<thead class="sticky-top top-0 bg-light">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Leave Type</th>
						<th scope="col">No. of Days</th>
						<th scope="col">Inclusive Dates </th>
						<th scope="col">Date of Filing </th>
						<th scope="col">PDF File </th>
						{% if current_user.type_of_user == 'admin' %}
						<th scope="col">Control </th>
						{% endif %}
						
						<!-- <th scope="col">Leaves Available</th> -->
					</tr>
					</thead>
					<tbody>
						{% for afl in get_afl %}
							<tr>
								<th scope="row">{{ afl.id }}</th>
								<th scope="row">{{ afl.leave_id|aflDesc }}</th>
								<td>{{ afl.no_working_days_applied_for }} day/s</td>
								<td>{{ afl.date_range }}</td>
								<td>{{ afl.filing_date|format_mydatetime_2 }}</td>
                                <td class="text-start"><a href="{{ url_for('afl.download_blob', id=afl.id) }}">Download</a></td>
								
								{% if current_user.type_of_user == 'admin' %}
								<td>
									<div class="d-sm-flex flex-row">
										<!-- <a class="btn btn-primary btn-sm me-2 text-white" title="Edit" id="{{afl.id}}" data-bs-toggle="modal" data-bs-target="#editLogModal" onclick="edit_log(this)">
											<i class="bi bi-pencil"></i>
										</a> -->
									
											<a class="btn btn-danger btn-sm text-white" title="Remove" id="{{afl.id}}" onclick = "delete_log(this)">
												<i class="bi bi-trash"></i>
											</a>
									</div>
								</td>
								{% endif %}

							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>
	</div>


	<div class="modal fade" id="editLogModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLogModal" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-fullscreen-sm-down">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="editLogModal">EDIT LOG</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  <form id="update_afl_form" action="#" method="POST"></form>
			</div>
				<div class="modal-body">
				<div class="row mb-3 container">
					<div class="card mb-3 pt-3">
						<input type="hidden" name ="id" id="id" placeholder="ID" form="update_afl_form" required>

						{% if current_user.type_of_user != 'user' %}
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="date" class="form-control" name ="date_of_filing" id="date_of_filing" form="update_afl_form" max="9999-12-31" value="{{ today_date_formatted }}">
									<label for="date_of_filing">Date of Filing<span class="is-required">*</span></label>
								</div>
							</div>
						{% else %}
							<input type="date" class="form-control d-none" name ="date_of_filing" id="date_of_filing" form="update_afl_form" max="9999-12-31" value="{{ today_date_formatted }}">
							<div class="form-floating flex-fill mb-3 p-1">
								<input type="date" class="form-control" name="" id="date_of_filing_display" value="{{ today_date_formatted }}" max="9999-12-31" disabled >
								<label for="date_of_filing_display">Date of Filing<span class="is-required">*</span></label>
							</div>
						{% endif %}

						<div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1">
								<select class="form-select" id="leave_id" name="leave_id" form="update_afl_form">
									<option value="13">Adoption Leave</option>
									<option value="2">Mandatory/Forced Leave</option>
									<option value="4">Maternity Leave</option>
									<option value="5">Paternity Leave</option>
									<option value="10">Rehabilitation Privilege</option>
									<option value="3">Sick Leave</option>
									<option value="12">Special Emergency (Calamity) Leave</option>
									<option value="11">Special Leave Benefits for Women</option>
									<option value="6">Special Privilege Leave</option>
									<option value="7">Solo Parent Leave</option>
									<option value="8">Study Leave</option>
									<option value="1">Vacation Leave</option>
									<option value="9">10-Day VAWC Leave</option>
									<option value="99">Others</option>

								</select>
								<label for="leave_id">Type of Leave <span class="is-required">*</span></label>
							</div>
						</div>
						<div class="d-md-flex flex-row">
							<div class="col-sm-12 mb-3 has-validation">
							  <label for="date_from" class="form-label">Inclusive Date/s<span class="is-required">*</span></label>
							  <input type="date" class="form-control" id="date_from" name ="date_from" placeholder="Select date..." form="update_afl_form" required>
							  <div class="invalid-feedback">
								  Please provide inclusive date/s.
								</div>
							</div>
						</div>
						<div class="d-md-flex flex-column mb-0">
							<div class="form-floating flex-fill col-sm-12 pb-0 p-1 has-validation">
								<input type="number" class="form-control" name ="no_working_days_applied_for" id="no_working_days_applied_for" placeholder="Rating" form="update_afl_form" required step="any" min="1" max="999">
								<label id="no_working_days_applied_for_label" for="no_working_days_applied_for">Number of Working Days Applied for<span class="is-required">*</span></label>
								<div class="invalid-feedback">
									Please provide a valid number of working days (min: 1 | max: 999)
								  </div>  
							</div>
							
						</div>
					<div class="col-sm-12 text-center mt-2 mb-3 flex-fill">
						<button type="submit" id="submitBtn" class="btn btn-primary" form="update_afl_form" onclick="">
							SAVE
						</button>
					</div>
				</div>
			</div>
		</div>
	  </div>
	  </div>
	</div>

</main>

{% endblock %}

{%block scripts%}
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='sgjg.js') }}"></script>
<script src="https://unpkg.com/@pdf-lib/fontkit@0.0.4"></script>

<script type="text/javascript">
	var fp;
	//fp = document.querySelector("#date_from")._flatpickr;
	fp = document.querySelector("#date_from")._flatpickr;

	$(document).ready(function () {
        var table = $('#afl_log_table').DataTable({ order: [[0, 'desc']] });
    });

	//drawCalendar('range');

	function drawCalendar(mode, defDate = ["December 13, 2023", "December 14, 2023"]){
		fp = flatpickr("#date_from", {
		   mode: mode,
		   altInput: true,
		   altFormat: "F j, Y",
		   dateFormat: "F j, Y",
		   defaultDate: defDate,
		   //"plugins": [new confirmDatePlugin({})],
		   //defaultDate: "2023-05-15",
		   //readOnly: false,
		   allowInput: true,
		   //dateFormat: "m/d/Y",
		   onReady: function(selectedDates, dateStr, instance) {
			   let el2 = instance.element;
			   let el = instance.altInput;
			   function preventInput(event) {
				   event.preventDefault();
				   return false;
			   };
			   el2.attributes.required = "required";

			   el.onkeypress = el.onkeydown = el.onkeyup = preventInput; // disable key events
			   el.onpaste = preventInput; // disable pasting using mouse context menu
	   
			   el.style.caretColor = 'transparent'; // hide blinking cursor
			   el.style.cursor = 'pointer'; // override cursor hover type text
			   el.style.color = '#585858'; // prevent text color change on focus
			   el.style.backgroundColor = 'f7f7f7'; // prevent bg color change on focus
		   },
		   });
		 //fp.destroy();
		 //fp.redraw();

	 }



	function delete_log(el) {
		Swal.fire({
			title: "Are you sure?",
			text: "You won't be able to revert this!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Yes, delete it!"
		  }).then((result) => {
			if (result.isConfirmed) {
				loadingScreen('block');
				fetch('/afl/delete-afl', {
					method: 'POST',
					body: JSON.stringify({"id": el.id})
				})
				.then(response => response.json())
				.then(data => {
					triggerToast(data);
					window.location.reload();
					loadingScreen('none');
				});
			}
		  });
	}

	document.getElementById('update_afl_form').addEventListener('submit',(e)=>{
		e.preventDefault();

		let start = document.querySelector('#date_from')._flatpickr.selectedDates[0];
		let end = document.querySelector('#date_from')._flatpickr.selectedDates[1];

		var formElem = document.getElementById("update_afl_form");
		let formData = new FormData(formElem);

		

		const data = {}
		formData.forEach((value, key) => (data[key] = value))

		formData.append('blob_file', blobData)
		formData.append('date_start', start)
		formData.append('date_end', end)

		console.log(formData);

		fetch(`/afl/edit-afl/${el.id}`, {
			method: 'POST',
			body: formData
		})
			.then(response => response.json())
			.then(data => {
				drawCalendar('range', data.date_range.split(" to "));
				document.getElementById('id').value = data.id;

				{% if current_user.type_of_user != 'user' %}
					document.getElementById('date_of_filing').value = data.date_of_filing;
				{% else %}
					document.getElementById('date_of_filing_display').value = data.date_of_filing;
				{% endif %}

				document.getElementById('leave_id').value = data.leave_id;

				//document.getElementById('date_from').value = data[0].address;

				document.getElementById('no_working_days_applied_for').value = data.no_working_days_applied_for;
			});

	});

	//function save_logs(){
		
	//}
	function edit_log(el){
		fetch(`/afl/edit-afl/${el.id}`, {
			method: 'GET',
		})
			.then(response => response.json())
			.then(data => {

				//console.log(data.date_range.split(" to ")); 
				drawCalendar('range', data.date_range.split(" to "));


				document.getElementById('id').value = data.id;

				{% if current_user.type_of_user != 'user' %}
					document.getElementById('date_of_filing').value = data.date_of_filing;
				{% else %}
					document.getElementById('date_of_filing_display').value = data.date_of_filing;
				{% endif %}

				document.getElementById('leave_id').value = data.leave_id;

				//document.getElementById('date_from').value = data[0].address;

				document.getElementById('no_working_days_applied_for').value = data.no_working_days_applied_for;
			});
	}


 
	  

</script>
{%endblock%}