{% extends 'base.html' %}

{% block title %} Application for Leave {% endblock %}

{%block cssperfile %} 
<style type="text/css">

	.scroll-container {
		position: relative;
		height: 800px;
		overflow-y: scroll;
		scroll-behavior: smooth;
	}
	.highlight2 {
		background-color: rgba(166, 240, 243, 0.8); /* set the highlight color */
		transition: background-color 1s ease-out; /* add a transition */
		
	  }

	  .highlight {
		box-shadow: 0 0 8px 1px #48abe0,
					0 0 9px 2px #ff1493;
	  }
	  
	  .fade-out {
		background-color: transparent !important; /* set the background color to transparent */
	  }

	  .is-required {
		color: red;
		font-size: 15px;
		margin-left: 5px;
	  }

	  @media (max-width: 768px) {
		/* CSS styles for mobile devices */
		.main-card{
			padding: 5px;
			margin-left: 0px;
			margin-right: 0px;
		}
		.main-card .card-body{
			padding: 8px;
			margin: 0;
		}

		#no_working_days_applied_for_label{
			font-size: 12px;
		}
	  }

</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">

{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/pdf-lib/dist/pdf-lib.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
	  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
	</symbol>
	<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
	  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
	</symbol>
	<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
	  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
	</symbol>
  </svg>

<main class="container-fluid mt-4 ps-5 pe-5 pb-5">
	<ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	  </ul>
	<div class="row mb-3 mt-4">

		<div class="card col-md-8 col-sm-12	main-card">
			<div class="card-body ">
			<form id="add_afl_form" action="#" method="POST" class="needs-validation" novalidate>
				<div class="card text-white bg-blue shadow-sm mb-3" >
					<div class="card-header">
						<h3 class="card-title"><i class="bi bi-calendar-week"></i> Application for Leave</h3>
					</div>
					<!-- <div class="card-body">
					  <ul>
						<li><p class="card-text">Please fill out all necessary fields.</p></li>
					  </ul>
					</div> -->
				</div>
			
				<div class="d-flex flex-column">
					<div class="d-md-flex flex-md-row flex-sm-column">
						<div class="card shadow-sm mb-3 col-sm-12 col-md-6 m-1">

							<div class="card-body">
								{% if current_user.type_of_user != 'user' %}

								<div class="d-md-flex flex-row">
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="date" class="form-control" name ="date_of_filing" id="date_of_filing" placeholder="Date of Filing" form="add_afl_form" max="9999-12-31" >
										<label for="date_of_filing">Date of Filing<span class="is-required">*</span></label>
									</div>
								</div>
								{% else %}
									<input type="date" class="form-control d-none" name ="date_of_filing" id="date_of_filing" placeholder="Date of Filing" form="add_afl_form" max="9999-12-31" >
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="date" class="form-control" name="" id="date_of_filing_display" placeholder="Date of Filing" disabled >
										<label for="date_of_filing_display">Date of Filing<span class="is-required">*</span></label>
									</div>
								{% endif %}

								<div class="d-md-flex flex-row">
									<div class="form-floating flex-fill mb-3 p-1">
										<select class="form-select" id="leave_id" name="leave_id" form="add_afl_form" onchange="leave_type(this);scrollToDiv(this.value)">
											<option value="13">Adoption Leave</option>
											<option value="2">Mandatory/Forced Leave</option>
											<option value="4">Maternity Leave</option>
											<option value="10">Rehabilitation Privilege</option>
											<option value="3">Sick Leave</option>
											<option value="12">Special Emergency (Calamity) Leave</option>
											<option value="11">Special Leave Benefits for Women</option>
											<option value="6">Special Privilege Leave</option>
											<option value="7">Solo Parent Leave</option>
											<option value="8">Study Leave </option>
											<option value="1">Vacation Leave</option>
											<option value="9">10-Day VAWC Leave</option>
											<option value="99">Others</option>

										</select>
										<label for="leave_id">Type of Leave <span class="is-required">*</span></label>
									</div>
								</div>
								<!-- <div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="dateRangeSelection" onchange="changeCalendarMode()">
									<label class="form-check-label" for="dateRangeSelection">Date Range Selection</label>
								  </div> -->
								<div class="d-md-flex flex-row">
									<!-- <div class="input-group mb-3">
										<span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-week"></i></span>
										<input type="text" class="form-control" placeholder="Inclusive Date/s" aria-label="Inclusive Date/s" aria-describedby="basic-addon1" name ="date_from" id="date_from" required >
									  </div> -->

									  <div class="col-sm-12 mb-3 has-validation">
										<label for="date_from" class="form-label">Inclusive Date/s<span class="is-required">*</span></label>
										<input type="date" class="form-control" id="date_from" name ="date_from" placeholder="Select date..." form="add_afl_form" required>
										<div class="invalid-feedback">
											Please provide inclusive date/s.
										  </div>
									</div>

									<!-- <div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="date_from" id="date_from" placeholder="Inclusive Date/s" form="add_afl_form" max="5000-12-31" required>
										<label for="date_from">Inclusive Date/s<span class="is-required">*</span></label>
									</div> -->
								</div>
								<!-- <div class="d-md-flex flex-row">
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="date" class="form-control" name ="date_to" id="date_to" placeholder="Inclusive Date of Attendance To" form="add_afl_form" max="5000-12-31" onchange="getBusinessDays(document.getElementById('date_from').value, this.value)" required>
										<label for="date_to">Inclusive Date To<span class="is-required">*</span></label>
									</div>
								</div> -->
								<div class="d-md-flex flex-column mb-0">
									<div class="form-floating flex-fill col-sm-12 pb-0 p-1 has-validation">
										<input type="number" class="form-control" name ="no_working_days_applied_for" id="no_working_days_applied_for" placeholder="Rating" form="add_afl_form" required step="any" min="1" max="999">
										<label id="no_working_days_applied_for_label" for="no_working_days_applied_for">Number of Working Days Applied for<span class="is-required">*</span></label>
										<div class="invalid-feedback">
											Please provide a valid number of working days (min: 1 | max: 999)
										  </div>  
									</div>
									
								</div>
							<div class="col-sm-12 text-center mt-5 mb-5 flex-fill">
								<button type="submit" id="submitBtn" class="btn btn-primary" form="add_afl_form" disabled>
									<span id="mySpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  									Loading...
								</button>
							</div> 
							</div>
						</div>

						<div class="card shadow-sm mb-3 col-sm-12 col-md-6">
							<div class="card-body">
								<div class="d-md-flex flex-row">
									<h6><i>In case of Vacation/Special Privilege Leave:</i></h6>
								</div>
								<div class="d-md-flex flex-row">
									<div class="mb-3 p-1 col-md-6">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="1" id="wph" name="wph" onchange="click_within_ph(this)" disabled>
											<label class="form-check-label" for="wph">
											  Within the Philippines
											</label>
											<div class="form-floating flex-fill">
												<input type="text" class="form-control" name ="wph_remarks" id="wph_remarks" placeholder="Remarks" form="add_afl_form" disabled>
												<label for="wph_remarks">Remarks</label>
											</div>
										  </div>
									</div>
									<div class="mb-3 p-1 col-md-6">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="1" id="out_abroad" name="out_abroad" onchange="click_out_abroad(this)" disabled>
											<label class="form-check-label" for="out_abroad">
											  Abroad
											</label>
											<div class="form-floating flex-fill">
												<input type="text" class="form-control" name ="abroad_remarks" id="abroad_remarks" placeholder="Remarks" form="add_afl_form" disabled>
												<label for="abroad_remarks">Remarks</label>
											</div>
										  </div>
									</div>
								</div>
								<div class="d-md-flex flex-row">
									<h6><i>In case of Sick Leave:</i></h6>
								</div>
								<div class="d-md-flex flex-row">
									<div class="mb-3 p-1 col-md-6">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="1" id="in_hospital" name="in_hospital" onchange="click_in_hospital(this);" disabled>
											<label class="form-check-label" for="in_hospital">
												In Hospital
											</label>
											<div class="form-floating flex-fill mb-3 p-1">
												<input type="text" class="form-control" name ="in_hospital_illness" id="in_hospital_illness" placeholder="(Specify Illness)" form="add_afl_form" required disabled>
												<label for="in_hospital_illness">(Specify Illness)<span class="is-required">*</span></label>
											</div>
										  </div>
									</div>
									<div class="mb-3 p-1 col-md-6">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="1" id="out_patient" name="out_patient" onchange="click_out_patient(this);" disabled>
											<label class="form-check-label" for="out_patient">
												Out Patient
											</label>
											<div class="form-floating flex-fill mb-3 p-1">
												<input type="text" class="form-control" name ="out_patient_illness" id="out_patient_illness" placeholder="(Specify Illness)" form="add_afl_form" required disabled>
												<label for="out_patient_illness">(Specify Illness)<span class="is-required">*</span></label>
											</div>
										  </div>
									</div>
								</div>
		
								<div class="d-md-flex flex-row">
									<h6><i>In case of Special Leave Benefits for Women:</i></h6>
								</div>
		
								<div class="d-md-flex flex-row">
									<div class="mb-3 p-1 col-md-6">
										<div class="form-check">
											<div class="form-floating flex-fill mb-3 p-1">
												<input type="text" class="form-control" name ="slbw" id="slbw" placeholder="(Specify Illness)" form="add_afl_form" required disabled>
												<label for="in_hospital_illness">(Specify Illness)<span class="is-required">*</span></label>
											</div>
										  </div>
									</div>
								</div>
		
								<div class="d-md-flex flex-row">
									<h6><i>In case of Study Leave:</i></h6>
								</div>
		
								<div class="mb-3 p-1 col-md-12">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="stl1" id="study_master" name="study_master" form="add_afl_form" disabled>
										<label class="form-check-label" for="study_master">
											Completion of Master's Degree
										</label>
									  </div>
									  <div class="form-check">
										<input class="form-check-input" type="checkbox" value="stl2" id="study_review" name="study_review" form="add_afl_form" disabled>
										<label class="form-check-label" for="study_review">
											BAR/Board Examination Review
										</label>
									  </div>
								</div>
		
								<div class="d-md-flex flex-row">
									<h6><i>Other purpose:<span class="is-required">*</span></i></h6>
								</div>
							 
								<div class="mb-3 p-1 col-md-12">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="CTO" id="cto" name="cto" form="add_afl_form" onchange="click_cto(this);" disabled>
										<label class="form-check-label" for="cto">
											CTO
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" id="monetization" name="monetization" form="add_afl_form" onchange="click_monetization(this);" disabled>
										<label class="form-check-label" for="monetization">
											Monetization of Leave Credits
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" id="terminal" name="terminal" form="add_afl_form" onchange="click_terminal(this);" disabled>
										<label class="form-check-label" for="terminal">
											Terminal Leave
										</label>
									</div>
								</div>
		
							</div>
						</div>
					</div>
				</div>

			</form>
			</div>
		</div>
		
		<div class="card col-md-4 col-sm-12 m-0 p-0" style="height: 850px;">
			<div class="card-body m-0 p-0">
				<div class="scroll-container p-3" id="scrolling_div">
					<div id="scrollspyHeading1" class="rounded p-3">
						<h4 id="">1. Vacation Leave*</h4>
						<p class="mb-0">
							It shall be filed five (5) days in advance, whenever possible, of the effective date of such leave. Vacation leave within in the Philippines or abroad shall be indicated in the form for purposes of securing travel authority and completing clearance from money and work accountabilities.
						</p>
					</div>
					<div id="scrollspyHeading2" class="rounded p-3">
						<h4 id="">2. Mandatory/Forced leave</h4>
						<p class="mb-0">
							Annual five-day vacation leave shall be forfeited if not taken during the year. In case the scheduled leave has been cancelled in the exigency of the service by the head of agency, it shall no longer be deducted from the accumulated vacation leave. Availment of one (1) day or more Vacation Leave (VL) shall be considered for complying the mandatory/forced leave subject to the conditions under Section 25, Rule XVI of the Omnibus Rules Implementing E.O. No. 292.
						</p>
					</div>

					<div id="scrollspyHeading3" class="rounded p-3">
					<h4 id="">3. Sick leave*</h4>
						<ul class="mb-0">
							<li>It shall be filed immediately upon employee's return from such leave.</li>
							<li>If filed in advance or exceeding five (5) days, application shall be accompanied by a medical certificate. In case medical consultation was not availed of, an affidavit should be executed by an applicant.</li>
						</ul>
					</div>

					<div id="scrollspyHeading4" class="rounded p-3">
						<h4 id="">4. Maternity leave* – 105 days</h4>
						<ul class="mb-0">
							<li>Proof of pregnancy e.g. ultrasound, doctor’s certificate on the expected date of delivery</li>
							<li>Accomplished Notice of Allocation of Maternity Leave Credits (CS Form No. 6a), if needed</li>
							<li>Seconded female employees shall enjoy maternity leave with full pay in the recipient agency.</li>
						</ul>
					</div>

					<div id="scrollspyHeading5" class="rounded p-3">
						<h4 id="">5. Paternity leave – 7 days</h4>
						<p class="mb-0">
							Proof of child’s delivery e.g. birth certificate, medical certificate and marriage contract.
						</p>
					</div>
					<div id="scrollspyHeading6" class="rounded p-3">
						<h4 id="">6. Special Privilege leave – 3 days</h4>
						<p class="mb-0">
							It shall be filed/approved for at least one (1) week prior to availment, except on emergency cases. Special privilege leave within the Philippines or abroad shall be indicated in the form for purposes of securing travel authority and completing clearance from money and work accountabilities.
						</p>
					</div>

					<div id="scrollspyHeading7" class="rounded p-3">
						<h4 id="">7. Solo Parent leave – 7 days</h4>
						<p class="mb-0">
							It shall be filed in advance or whenever possible five (5) days before going on such leave with updated Solo Parent Identification Card.
						</p>
					</div>

					<div id="scrollspyHeading8" class="rounded p-3">
						<h4 id="">8. Study leave* – up to 6 months</h4>
						<ul class="mb-0">
							<li>Shall meet the agency’s internal requirements, if any;</li>
							<li>Contract between the agency head or authorized representative and the employee concerned.</li>
						</ul>
					</div>
					
					<div id="scrollspyHeading9" class="rounded p-3">
						<h4 id="">9. VAWC leave – 10 days</h4>
						<ul class="mb-0">
							<li>It shall be filed in advance or immediately upon the woman employee’s return from such leave.</li>
							<li>It shall be accompanied by any of the following supporting documents:
								<ol>
									<li>Barangay Protection Order (BPO) obtained from the barangay;</li>
									<li>Temporary/Permanent Protection Order (TPO/PPO) obtained from the court;</li>
									<li>If the protection order is not yet issued by the barangay or the court, a certification issued by the Punong Barangay/Kagawad or Prosecutor or the Clerk of Court that the application for the BPO, TPO or PPO has been filed with the said office shall be sufficient to support the application for the ten-day leave; or</li>
									<li>Temporary/Permanent Protection Order (TPO/PPO) obtained from the court;</li>
									<li>In the absence of the BPO/TPO/PPO or the certification, a police report specifying the details of the occurrence of violence on the victim and a medical certificate may be considered, at the discretion of the immediate supervisor of the woman employee concerned.</li>
								</ol>
							</li>
						</ul>
					</div>
					
					<div id="scrollspyHeading10" class="rounded p-3">
						<h4 id="">10. Rehabilitation leave* – up to 6 months</h4>
						<ul class="mb-0">
							<li>Application shall be made within one (1) week from the time of the accident except when a longer period is warranted.</li>
							<li>Letter request supported by relevant reports such as the police report, if any,</li>
							<li>Medical certificate on the nature of the injuries, the course of treatment involved, and the need to undergo rest, recuperation, and rehabilitation, as the case may be.</li>
							<li>Written concurrence of a government physician should be obtained relative to the recommendation for rehabilitation if the attending physician is a private practitioner, particularly on the duration of the period of rehabilitation.</li>
						</ul>
					</div>

					<div id="scrollspyHeading11" class="rounded p-3">
						<h4 id="">11. Special leave benefits for women* – up to 2 months</h4>
						<ul class="mb-0">
							<li>The application may be filed in advance, that is, at least five (5) days prior to the scheduled date of the gynecological surgery that will be undergone by the employee. In case of emergency, the application for special leave shall be filed immediately upon employee’s return but during confinement the agency shall be notified of said surgery.</li>
							<li>The application shall be accompanied by a medical certificate filled out by the proper medical authorities, e.g. the attending surgeon accompanied by a clinical summary reflecting the gynecological disorder which shall be addressed or was addressed by the said surgery; the histopathological report; the operative technique used for the surgery; the duration of the surgery including the perioperative period (period of confinement around surgery); as well as the employees estimated period of recuperation for the same.</li>
						</ul>
					</div>

					<div id="scrollspyHeading12" class="rounded p-3">
						<h4 id="">12. Special Emergency (Calamity) leave – up to 5 days</h4>
						<ul class="mb-0">
							<li>The special emergency leave can be applied for a maximum of five (5) straight working days or staggered basis within thirty (30) days from the actual occurrence of the natural calamity/disaster. Said privilege shall be enjoyed once a year, not in every instance of calamity or disaster.</li>
							<li>The head of office shall take full responsibility for the grant of special emergency leave and verification of the employee’s eligibility to be granted thereof. Said verification shall include: validation of place of residence based on latest available records of the affected employee; verification that the place of residence is covered in the declaration of calamity area by the proper government agency; and such other proofs as may be necessary.</li>
						</ul>
					</div>

					<div id="scrollspyHeading14" class="rounded p-3">
						<h4 id="">13. Monetization of leave credits</h4>
						<p class="mb-0"> 
							Application for monetization of fifty percent (50%) or more of the accumulated leave credits shall be accompanied by letter request to the head of the agency stating the valid and justifiable reasons.
						</p>
					</div>

					<div id="scrollspyHeading15" class="rounded p-3">
						<h4 id="">14. Terminal leave*</h4>
						<p class="mb-0">
							Proof of employee’s resignation or retirement or separation from the service.
						</p>
					</div>
					<div id="scrollspyHeading13" class="rounded p-3">
						<h4 id="">15. Adoption Leave</h4>
						<p class="mb-0">
							Application for adoption leave shall be filed with an authenticated copy of the Pre-Adoptive Placement Authority issued by the Department of Social Welfare and Development (DSWD).
						</p>
					</div>
				  </div>
			</div>
		</div>

	</div>
</main>



{% endblock %}

{%block scripts%}

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='sgjg.js') }}"></script>
<script src="https://unpkg.com/@pdf-lib/fontkit@0.0.4"></script>
<script src="https://unpkg.com/downloadjs@1.4.7"></script>

<script type="text/javascript">

		var fp;
		fp = document.querySelector("#date_from")._flatpickr;

		var formUrl;
		var formPdfBytes;
		var pdfDoc;

		var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
		var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
		return new bootstrap.Popover(popoverTriggerEl)
		})

		drawCalendar('range');
	  
		document.getElementById('date_of_filing').valueAsDate = new Date();
	  
		{% if current_user.type_of_user == 'user' %}
		document.getElementById('date_of_filing_display').valueAsDate = new Date();
		{% endif %}
	  

		var forms = document.querySelectorAll('.needs-validation')
		// Loop over them and prevent submission
		Array.prototype.slice.call(forms)
		  .forEach(function (form) {
			form.addEventListener('submit', function (event) {
			  if (!form.checkValidity()) {
				event.preventDefault()
				event.stopPropagation()
			  }else{
				event.preventDefault()
				event.stopPropagation()
				  var wph = document.getElementById('wph');
				  var wph_remarks = document.getElementById('wph_remarks');
				  var out_abroad = document.getElementById('out_abroad');
				  var abroad_remarks = document.getElementById('abroad_remarks');
				  var in_hospital = document.getElementById('in_hospital');
				  var in_hospital_illness = document.getElementById('in_hospital_illness');
				  var out_patient = document.getElementById('out_patient');
				  var out_patient_illness = document.getElementById('out_patient_illness');
				  var study_master = document.getElementById('study_master');
				  var study_review = document.getElementById('study_review');
				  var slbw = document.getElementById('slbw');
				  var leave_id = document.getElementById('leave_id');
				  var cto = document.getElementById('cto');
				  var monetization = document.getElementById('monetization');
				  var terminal = document.getElementById('terminal');
				  if(leave_id.value == 1){
					  if(wph.checked == false && out_abroad.checked == false){
						  triggerToast('Please choose if within the Philippines or Abroad', 'error');
					  }else{
						  addAflForm();
					  }
				  }else if(leave_id.value == 3){
					  if(!in_hospital.checked && !out_patient.checked){
						  triggerToast('Please choose if In Hospital or Out Patient', 'error');
					  }else{
						  addAflForm();
					  }
				  }else if(leave_id.value == 99){
					  if(!monetization.checked && !cto.checked && !cto.terminal){
					  triggerToast('Please choose other purpose', 'error');
				  }else{
					  addAflForm();
				  }
			  }else{
					  addAflForm();
				  }
			  }
	  
			  form.classList.add('was-validated')
			}, false)
		  })

		  loadPdf();

		  const spinnerElement = document.getElementById('mySpinner');
		  spinnerElement.style.display = 'none';
		  var submitBtn = document.getElementById('submitBtn');
		  submitBtn.textContent = "Print Application for Leave";
		  submitBtn.disabled = false;
		
		  // Fetch all the forms we want to apply custom Bootstrap validation styles to
		  var forms = document.querySelectorAll('.needs-validation')
	  



	function validateInclusiveDates(dates, leave){

		var num = 0;

		var date_of_filing = document.getElementById('date_of_filing');
		var submitBtn = document.getElementById('submitBtn');
		var $leaveVal = "";
		
		num = getCalendarDays(date_of_filing.value, dates[0][0])+1;

		if(leave == 2){
			$leaveVal = "Mandatory/Forced Leave";
		}else if(leave == 99){
			$leaveVal = "Compesatory Time-Off (CTO)";
		}

		if(num <= 5){
			submitBtn.disabled = true;
			Swal.fire({
				title: 'NOTICE!',
				// text: "Please be advised that your date of filing is deemed invalid as it does not meet the minimum requirement of five (5) days.",
				text: `Please be advised that the application for ${$leaveVal} shall be filed five (5) days in advance, whenever possible, of the effective date of such leave.`,
				icon: 'warning',
				allowOutsideClick: false,
				showCancelButton: false,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'I understand'
			  }).then((result) => {
				if (result.isConfirmed) {
					fp.clear();
				}
			  })

		}else{
			submitBtn.disabled = false;
		}
	}

	function addAflForm(){
		var formElem = document.getElementById("add_afl_form");
		let formData = new FormData(formElem);

		const data = {}
		formData.forEach((value, key) => (data[key] = value))
		loadingScreen('block');
		
		fetch('/afl/add-afl/{{emp_id}}', {
				method: 'POST',
				body: formData
			}).then((res)=>{
				return res.json();
			}).then((data)=>{
				fillForm();
				///setTimeout(loadingScreen('none'), 2000);
				
			})
	}

	function numberWithCommas(x) {
		return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
	}

	async function loadPdf(){
		
		if ('caches' in window) {
			//const pdfUrl = 'path/to/your/file.pdf';

			formUrl = "{{ url_for('static', filename='afl-templateee.pdf') }}";
	  
		
			// Try to fetch the PDF file from the cache
			caches.match(formUrl).then((response) => {
			  if (response) {
				// If the file is in the cache, load it
				loadPdfFromCache(response);
			  } else {
				// If the file is not in the cache, fetch and store it
				fetchAndCachePdf(formUrl);
			  }
			});
		  }
		  
	}
	async function fillForm() {

		const { PDFDocument, StandardFonts, registerFontkit } = PDFLib
		// Register the fontkit instance with PDF-lib

		//import { TextFormField } from 'pdf-lib/lib/core/interactive/forms';

	  
		//formPdfBytes = await fetch(formUrl).then(res => res.arrayBuffer())
	  

		const timesRomanFont = await pdfDoc.embedFont(StandardFonts.TimesRomanBold)
		const timesRomanFontItalic = await pdfDoc.embedFont(StandardFonts.TimesRomanItalic)

		const cambriaFontBytes = await fetch("{{url_for('static', filename='/fonts/Cambria.ttf')}}").then(res => res.arrayBuffer());
		const cambriaBoldFontBytes = await fetch("{{url_for('static', filename='/fonts/cambriab.ttf')}}").then(res => res.arrayBuffer());
		const cambriaItalicFontBytes = await fetch("{{url_for('static', filename='/fonts/cambriai.ttf')}}").then(res => res.arrayBuffer());

		
		//const cambriaFont = await pdfDoc.embedFont(cambriaFontBytes);

		pdfDoc.registerFontkit(fontkit);

		const cambria = await pdfDoc.embedFont(cambriaFontBytes,{
			subset: true, 
			features: { liga: false }, 
			});

		const cambriaBold = await pdfDoc.embedFont(cambriaBoldFontBytes,{
			subset: true, 
			features: { liga: false }, 
			});

		const cambriaItalic = await pdfDoc.embedFont(cambriaItalicFontBytes,{
			subset: true, 
			features: { liga: false }, 
			});

		const form = pdfDoc.getForm()
	
		const fields = form.getFields();

		const last_name = form.getTextField('tb_last_name');
		const first_name = form.getTextField('tb_first_name');
		const middle_name = form.getTextField('tb_middle_name');
		const tb_office_section = form.getTextField('tb_office_section');
		const tb_date_of_filing = form.getTextField('tb_date_of_filing');
		const tb_position = form.getTextField('tb_position');

		const tb_salary = form.getTextField('tb_salary');

		const cb_vl = form.getCheckBox('cb_vl');
		const cb_fl = form.getCheckBox('cb_fl');
		const cb_sl = form.getCheckBox('cb_sl');
		const cb_ml = form.getCheckBox('cb_ml');
		const cb_pl = form.getCheckBox('cb_pl');
		const cb_spl = form.getCheckBox('cb_spl');
		const cb_solo_pl = form.getCheckBox('cb_solo_pl');
		const cb_stl = form.getCheckBox('cb_stl');
		const cb_vawcl = form.getCheckBox('cb_vawcl');
		const cb_rh = form.getCheckBox('cb_rh');
		const cb_slbw = form.getCheckBox('cb_slbw');
		const cb_sel = form.getCheckBox('cb_sel');
		const cb_al = form.getCheckBox('cb_al');
		const cb_within_ph = form.getCheckBox('cb_within_ph');
		const cb_abroad = form.getCheckBox('cb_abroad');
		const cb_hospital = form.getCheckBox('cb_hospital');
		const cb_out_patient = form.getCheckBox('cb_out_patient');
		const cb_masters = form.getCheckBox('cb_masters');
		const cb_bar_review = form.getCheckBox('cb_bar_review');
		const cb_monetization = form.getCheckBox('cb_monetization');
		const cb_terminal = form.getCheckBox('cb_terminal');
		const cb_comm_not_requested = form.getCheckBox('cb_comm_not_requested');
		const cb_comm_requested = form.getCheckBox('cb_comm_requested');
		const cb_others= form.getCheckBox('Others');

		const tb_others = form.getTextField('tb_others');
		const tb_days_applied_for = form.getTextField('tb_days_applied_for');
		const tb_inclusive_dates = form.getTextField('tb_inclusive_dates');
		const tb_as_of = form.getTextField('tb_as_of');
		const tb_within_ph = form.getTextField('tb_within_ph');
		const tb_abroad = form.getTextField('tb_abroad');
		const tb_hospital = form.getTextField('tb_hospital');
		const tb_out_patient = form.getTextField('tb_out_patient');

		const tb_incase_slbw = form.getTextField('tb_incase_slbw');
		const tb_immediate_supervisor = form.getTextField('tb_immediate_supervisor');
		const tb_div_manager = form.getTextField('tb_div_manager');
		const tb_div_manager_position = form.getTextField('tb_div_manager_position');

		const tb_certifier = form.getTextField('tb_certifier');
		const tb_certifier_position = form.getTextField('tb_certifier_position');

		//<!-- ----------------------------------------------------------------------- -->
		//<!--                               FROM FIELDS                               -->
		//<!-- ----------------------------------------------------------------------- -->
		const no_working_days_applied_for = document.getElementById('no_working_days_applied_for');
		const date_of_filing = document.getElementById('date_of_filing');
		const date_from = document.getElementById('date_from');
		const date_to = document.getElementById('date_to');

		tb_office_section.setText('PANGASINAN IMO / {{user_profile.user_section.section_title|escapejs}}');
		tb_office_section.updateAppearances(cambriaBold);

		{% if user_profile.is_section_chief == 1 or user_profile.is_division_manager == 1 %}
			tb_immediate_supervisor.setText('N/A')
		{% else %}

			{% if user_profile.user_unit.id == 12 or user_profile.user_unit.id == 13 or user_profile.user_unit.id == 14 or user_profile.user_unit.id == 15 or user_profile.user_unit.id == 21 %}
				tb_immediate_supervisor.setText('{{user_profile.user_unit.unit_head|escapejs}}');
			{% else %}
				tb_immediate_supervisor.setText('{{user_profile.user_section.section_chief|escapejs}}');
			{% endif %}

		{% endif %}

		tb_immediate_supervisor.updateAppearances(cambriaBold);

		last_name.setText('{{user_profile.last_name}}');
		last_name.updateAppearances(cambriaBold);

		first_name.setText('{{user_profile.first_name}} {{ user_profile.name_extn + "." if user_profile.name_extn is not none and user_profile.name_extn != "N/A" and user_profile.name_extn != ""}}');
		first_name.updateAppearances(cambriaBold);

		middle_name.setText('{{user_profile.middle_name}}');
		middle_name.updateAppearances(cambriaBold);

		cb_comm_not_requested.check();

		{% if user_profile.employment_status == 'PERMANENT' or user_profile.employment_status == 'COTERMINOUS' or user_profile.employment_status == 'TEMPORARY' %}
			 tb_salary.setText(String('Php '+numberWithCommas(job_grade_monthly_salary['{{ user_profile.job_grade }}']['{{ user_profile.step }}'])));
		{% elif user_profile.employment_status == 'CASUAL' %}
			 tb_salary.setText(String('Php '+numberWithCommas(casual_job_grade_daily_salary['{{ user_profile.job_grade }}']['{{ user_profile.step }}'])));
		{% elif user_profile.employment_status == 'JOB ORDER' %}
			 tb_salary.setText(String('Php '+numberWithCommas(daily_salary['{{ user_profile.salary_grade }}'])));
		{% endif %}

		tb_salary.updateAppearances(cambriaBold);

		var date_of_filing_formatted = new Date(date_of_filing.value);

		// Format date as "January 01, 2023"
		var options = { 
		month: 'long', 
		day: '2-digit', 
		year: 'numeric' 
		};

		var formattedDateOfFiling = date_of_filing_formatted.toLocaleDateString('en-US', options);

		tb_date_of_filing.setText(String(formattedDateOfFiling));
		tb_date_of_filing.updateAppearances(cambriaBold);
		
		tb_position.setText('{{ user_profile.position_title|escapejs }}');
		tb_position.updateAppearances(cambriaBold);

		var leave_id = document.getElementById('leave_id').value;
		if(leave_id == 1){
			cb_vl.check();
		}else if(leave_id == 2){
			cb_fl.check();
		}else if (leave_id == 3){
			cb_sl.check();
		}else if (leave_id == 4){
			cb_ml.check();
		}else if (leave_id == 5){
			cb_pl.check();
		}else if (leave_id == 6){
			cb_spl.check();
		}else if (leave_id == 7){
			cb_solo_pl.check();
		}else if (leave_id == 8){
			cb_stl.check();
			var masters = document.getElementById('study_master');
			var review = document.getElementById('study_review');
			if(masters.checked){
				cb_masters.check();
			}
			if(review.checked){
				cb_bar_review.check();
			}

		}else if (leave_id == 9){
			cb_vawcl.check();
		}else if (leave_id == 10){
			cb_rh.check();
		}else if (leave_id == 11){
			cb_slbw.check();

			var slbw = document.getElementById('slbw');
			tb_incase_slbw.setText(slbw.value);
			tb_incase_slbw.updateAppearances(cambria);

		}else if (leave_id == 12){
			cb_sel.check();
		}else if (leave_id == 13){
			cb_al.check();
		}else if (leave_id == 99){
			cb_others.check();
		}

		var wph = document.getElementById('wph');
		var wph_remarks = document.getElementById('wph_remarks');

		if(wph.checked){
			cb_within_ph.check();
			tb_within_ph.setText(wph_remarks.value);
			tb_within_ph.updateAppearances(cambria);
		}

		var out_abroad = document.getElementById('out_abroad');
		var abroad_remarks = document.getElementById('abroad_remarks');

		if(out_abroad.checked){
			cb_abroad.check();
			tb_abroad.setText(abroad_remarks.value);
			tb_abroad.updateAppearances(cambria);

		}

		var in_hospital = document.getElementById('in_hospital');
		var in_hospital_illness = document.getElementById('in_hospital_illness');

		if(in_hospital.checked){
			cb_hospital.check();
			tb_hospital.setText(in_hospital_illness.value)
			tb_hospital.updateAppearances(cambria);

		}

		var out_patient = document.getElementById('out_patient');
		var out_patient_illness = document.getElementById('out_patient_illness');

		if(out_patient.checked){
			cb_out_patient.check();
			tb_out_patient.setText(out_patient_illness.value)
			tb_out_patient.updateAppearances(cambria);

		}

		var cto = document.getElementById('cto');
		if(cto.checked){
			tb_others.setText('CTO');
			tb_others.updateAppearances(cambria);

		}

		var monetization = document.getElementById('monetization');
		if(monetization.checked){
			cb_monetization.check();
		}

		var terminal = document.getElementById('terminal');
		if(terminal.checked){
			cb_terminal.check();
		}

		var numberToWord = convertNumberToWords(no_working_days_applied_for.value);

		if(no_working_days_applied_for.value > 1){
			tb_days_applied_for.setText(numberToWord.toUpperCase() + " ("+  no_working_days_applied_for.value  +") days");
		}else{
			tb_days_applied_for.setText(numberToWord.toUpperCase() + " ("+ no_working_days_applied_for.value +") day");

		}

		tb_days_applied_for.updateAppearances(cambriaBold);



		tb_inclusive_dates.setText(date_from.value);
		tb_inclusive_dates.updateAppearances(cambriaBold);


		tb_div_manager.setText('{{user_profile.assignatory[0].assignatory}}');
		tb_div_manager.updateAppearances(cambriaBold);

		tb_div_manager_position.setText('{{user_profile.assignatory[0].position_title}}');
		tb_div_manager_position.updateAppearances(cambriaItalic);

		{% if user_profile.is_primary_afl_certifier == 1 %}
			tb_certifier.setText('{{ secondary_certifier[0].first_name }} {{ secondary_certifier[0].middle_initial }}. {{ secondary_certifier[0].last_name }} {{ secondary_certifier[0].name_extn if secondary_certifier[0].name_extn != "N/A" }}');
			tb_certifier_position.setText(toTitleCase('{{ secondary_certifier[0].position_title }}'));
		{% else %}
			tb_certifier.setText('{{ primary_certifier[0].first_name }} {{ primary_certifier[0].middle_initial }}. {{ primary_certifier[0].last_name }} {{ primary_certifier[0].name_extn if primary_certifier[0].name_extn != "N/A" }}');
			tb_certifier_position.setText(toTitleCase('{{ primary_certifier[0].position_title }}'));
		{% endif %}

		tb_certifier.updateAppearances(cambriaBold);
		tb_certifier_position.updateAppearances(cambriaItalic);

		form.flatten();

		const pdfBytes = pdfDoc.save()

		const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
		const testPdfDataUri = await pdfDoc.saveAsBase64();

		
		// decode base64 string, remove space for IE compatibility
		var binary = atob(testPdfDataUri.replace(/\s/g, ''));
		var len = binary.length;
		var buffer = new ArrayBuffer(len);
		var view = new Uint8Array(buffer);
		for (var i = 0; i < len; i++) {
			view[i] = binary.charCodeAt(i);
		}
	
		var blob = new Blob( [view], { type: "application/pdf" });
		var url = URL.createObjectURL(blob);
	
		//var file = new Blob([pdfDataUri], {type: 'application/pdf'});
		//var fileURL = URL.createObjectURL(file);
	
		loadingScreen('none')
		window.open(url);

		loadPdf();
		const myform = document.querySelector('#add_afl_form');
		myform.classList.remove('was-validated');
	}

	function toTitleCase(str) {
		return str.toLowerCase().replace(/(?:^|\s)\w/g, function(match) {
		  return match.toUpperCase();
		});
	  }

	  function changeCalendarMode(){
		const dateRangeSelection = document.getElementById('dateRangeSelection');
		var mode = "multiple";
		if(dateRangeSelection.checked){
			mode = "range";
		}else{
			mode = "multiple";
		}
		drawCalendar(mode);
	  }


	  function drawCalendar(mode){
		 fp = flatpickr("#date_from", {
			mode: mode,
			altInput: true,
			altFormat: "F j, Y",
			dateFormat: "F j, Y",
			//"plugins": [new confirmDatePlugin({})],
			//defaultDate: "2023-05-15",
			//readOnly: false,
			allowInput: true,
			//dateFormat: "m/d/Y",
			onReady: function(selectedDates, dateStr, instance) {
				let el2 = instance.element;
				let el = instance.altInput;
				function preventInput(event) {
					event.preventDefault();
					return false;
				};
				el2.attributes.required = "required";

				el.onkeypress = el.onkeydown = el.onkeyup = preventInput; // disable key events
				el.onpaste = preventInput; // disable pasting using mouse context menu
		
				el.style.caretColor = 'transparent'; // hide blinking cursor
				el.style.cursor = 'pointer'; // override cursor hover type text
				el.style.color = '#585858'; // prevent text color change on focus
				el.style.backgroundColor = 'f7f7f7'; // prevent bg color change on focus
			},
			onValueUpdate: function(selectedDates, dateStr, instance) {
			  const sortedDates = selectedDates.sort((a, b) => a - b);
			  const dateRanges = [[new Date(sortedDates[0]).toLocaleDateString()]];
			  let lastRange = 0;
		  
			  for (let i = 1; i < sortedDates.length; i++) {
				const diffInMs = sortedDates[i] - sortedDates[i - 1];
				const diffInDays = diffInMs / (1000 * 60 * 60 * 24);
		  
				if (diffInDays === 1) {
				  dateRanges[lastRange].push(new Date(sortedDates[i]).toLocaleDateString());
				} else {
				  lastRange++;
				  dateRanges.push([new Date(sortedDates[i]).toLocaleDateString()]);
				}
			  }
			  var leave = document.getElementById('leave_id').value;

			  if(leave == 2){
				validateInclusiveDates(dateRanges, leave);
			  }

			var cto = document.getElementById('cto');

			  if(leave == 99 && cto.checked){
				validateInclusiveDates(dateRanges, leave);

			  }
			  //document.getElementById("no_working_days_applied_for").focus();
			}
		  });
		  //fp.destroy();
		  //fp.redraw();

	  }

	  function loadPdfFromCache(response) {
		response.blob().then((blob) => {
		  const url = URL.createObjectURL(blob);
	  
		  fetch(url)
			.then((res) => res.arrayBuffer())
			.then((formPdfBytes) => {
			  return PDFLib.PDFDocument.load(formPdfBytes);
			})
			.then((myPdfDoc) => {
				
			   pdfDoc = myPdfDoc;
			})
			.catch((error) => {
			  // Handle any errors that occurred during loading or processing
			});
		});
	  }
	  
	  function fetchAndCachePdf(pdfUrl) {
		// Fetch the PDF file from the server
		fetch(pdfUrl).then((response) => {
		  // Clone the response to store it in the cache
		  const clone = response.clone();
		  
		  // Store the response in the cache
		  caches.open('pdf-cache').then((cache) => {
			cache.put(pdfUrl, clone);
		  });
		  
		  // Load the PDF file
			loadPdfFromCache(response);
		});
	  }


function leave_type(leave_type){

	fp.clear();

	var wph = document.getElementById('wph');
	var wph_remarks = document.getElementById('wph_remarks');
	var out_abroad = document.getElementById('out_abroad');
	var abroad_remarks = document.getElementById('abroad_remarks');
	var in_hospital = document.getElementById('in_hospital');
	var in_hospital_illness = document.getElementById('in_hospital_illness');
	var out_patient = document.getElementById('out_patient');
	var out_patient_illness = document.getElementById('out_patient_illness');
	var study_master = document.getElementById('study_master');
	var study_review = document.getElementById('study_review');
	var slbw = document.getElementById('slbw');
	var cto = document.getElementById('cto');
	var monetization = document.getElementById('monetization');
	var terminal = document.getElementById('terminal');

	var leave_id = document.getElementById('leave_id');

	if(leave_type.value == 1 || leave_type.value == 6){
		wph.disabled = false;
		wph_remarks.disabled = false;
		out_abroad.disabled = false;
		abroad_remarks.disabled = true;

		in_hospital.disabled = true;
		in_hospital_illness.disabled = true;
		out_patient.disabled = true;
		out_patient_illness.disabled = true;

		slbw.disabled = true;

		in_hospital.checked = false;
		out_patient.checked = false;
		wph.checked = true;
		study_master.disabled = true;
		study_review.disabled = true;
		study_master.checked = false;
		study_review.checked = false;

		cto.disabled = true;
		monetization.disabled = true;
		terminal.disabled = true;

		cto.checked = false;
		monetization.checked = false;
		terminal.checked = false;
	}else if(leave_type.value == 3){
		wph.disabled = true;
		wph_remarks.disabled = true;
		out_abroad.disabled = true;
		abroad_remarks.disabled = true;

		in_hospital.disabled = false;
		in_hospital_illness.disabled = true;
		
		out_patient.disabled = false;
		out_patient_illness.disabled = false;

		slbw.disabled = true;

		in_hospital.checked = false;
		out_patient.checked = true;
		wph.checked = false;
		out_abroad.checked = false;
		study_master.disabled = true;
		study_review.disabled = true;
		study_master.checked = false;
		study_review.checked = false;

		cto.disabled = true;
		monetization.disabled = true;
		terminal.disabled = true;

		cto.checked = false;
		monetization.checked = false;
		terminal.checked = false;

	}else if(leave_type.value == 8){
		wph.disabled = true;
		wph_remarks.disabled = true;
		out_abroad.disabled = true;
		abroad_remarks.disabled = true;

		in_hospital.disabled = true;
		in_hospital_illness.disabled = true;
		out_patient.disabled = true;
		out_patient_illness.disabled = true;

		slbw.disabled = true;
		
		in_hospital.checked = false;
		out_patient.checked = false;
		wph.checked = false;
		out_abroad.checked = false;

		study_master.disabled = false;
		study_review.disabled = false;

		cto.disabled = true;
		monetization.disabled = true;
		terminal.disabled = true;

		cto.checked = false;
		monetization.checked = false;
		terminal.checked = false;

	}else if(leave_type.value == 11){
		wph.disabled = true;
		wph_remarks.disabled = true;
		out_abroad.disabled = true;
		abroad_remarks.disabled = true;

		in_hospital.disabled = true;
		in_hospital_illness.disabled = true;
		out_patient.disabled = true;
		out_patient_illness.disabled = true;

		study_master.disabled = true;
		study_review.disabled = true;

		slbw.disabled = false;
		
		in_hospital.checked = false;
		out_patient.checked = false;
		wph.checked = false;
		out_abroad.checked = false;

		study_master.disabled = true;
		study_review.disabled = true;
		study_master.checked = false;
		study_review.checked = false;

		cto.disabled = true;
		monetization.disabled = true;
		terminal.disabled = true;

		cto.checked = false;
		monetization.checked = false;
		terminal.checked = false;
		
	}else if(leave_type.value == 99){
		wph.disabled = true;
		wph_remarks.disabled = true;
		out_abroad.disabled = true;
		abroad_remarks.disabled = true;

		in_hospital.disabled = true;
		in_hospital_illness.disabled = true;
		out_patient.disabled = true;
		out_patient_illness.disabled = true;

		study_master.disabled = true;
		study_review.disabled = true;

		slbw.disabled = true;
		
		in_hospital.checked = false;
		out_patient.checked = false;
		wph.checked = false;
		out_abroad.checked = false;

		study_master.disabled = true;
		study_review.disabled = true;
		study_master.checked = false;
		study_review.checked = false;
		
		cto.disabled = false;
		if(cto.checked){
			cto.checked = true;
		}else{
			cto.checked = true;
		}

		
		monetization.disabled = false;

		terminal.disabled = false;

		
	}else{

		wph.disabled = true;
		wph_remarks.disabled = true;
		out_abroad.disabled = true;
		abroad_remarks.disabled = true;

		in_hospital.disabled = true;
		in_hospital_illness.disabled = true;
		out_patient.disabled = true;
		out_patient_illness.disabled = true;

		study_master.disabled = true;
		study_review.disabled = true;
		study_master.checked = false;
		study_review.checked = false;

		slbw.disabled = true;
		
		in_hospital.checked = false;
		out_patient.checked = false;
		wph.checked = false;
		out_abroad.checked = false;

		cto.disabled = true;
		monetization.disabled = true;
		terminal.disabled = true;

		cto.checked = false;
		monetization.checked = false;
		terminal.checked = false;

		if(leave_type.value == 2){
			document.getElementById('submitBtn').disabled = true;
		}else{
			document.getElementById('submitBtn').disabled = false;

		}
	}
}



function convertNumberToWords(number) {
	var words = [
	  'zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine',
	  'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'
	];
	var tensWords = [
	  '', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'
	];
  
	if (number < 20) {
	  return words[number];
	}
  
	if (number < 100) {
	  return tensWords[Math.floor(number / 10)] + (number % 10 !== 0 ? '-' : '') + words[number % 10];
	}
  
	if (number < 1000) {
	  return words[Math.floor(number / 100)] + ' hundred' + (number % 100 !== 0 ? ' and ' : '') + convertNumberToWords(number % 100);
	}
  
	if (number < 1000000) {
	  return convertNumberToWords(Math.floor(number / 1000)) + ' thousand' + (number % 1000 !== 0 ? ' ' : '') + convertNumberToWords(number % 1000);
	}
  
	if (number < 1000000000) {
	  return convertNumberToWords(Math.floor(number / 1000000)) + ' million' + (number % 1000000 !== 0 ? ' ' : '') + convertNumberToWords(number % 1000000);
	}

	
  }


  function getBusinessDays(startDate, endDate) {

	var days = 0;
	var currentDate = new Date(startDate);
	var endDate = new Date(endDate);

	while (currentDate <= endDate) {
	  var dayOfWeek = currentDate.getDay();
  
	  if (dayOfWeek != 0 && dayOfWeek != 6) {
		days++;
	  }
	  currentDate.setDate(currentDate.getDate() + 1);
	}


	//document.getElementById('no_working_days_applied_for').value = days;
	return days;
  }
  
  function getCalendarDays(startDate, endDate) {
	var days = 0;
	var currentDate = new Date(startDate);
	var endDate = new Date(endDate);
  
	while (currentDate <= endDate) {
	  days++;
	  currentDate.setDate(currentDate.getDate() + 1);
	}
  
	return days;
  }

  function scrollToDiv(elemId){

	// Select all elements with the class
	var elements = document.querySelectorAll(".highlight");

	// Loop through each element and remove the CSS class
	elements.forEach(function(element) {
		element.classList.remove("highlight");
	});


	if(elemId == 99){
		elemId = 1;
		var myElement = document.getElementById('scrollspyHeading'+elemId);

		myElement.classList.remove('fade-out');
		myElement.classList.remove('highlight');

		var topPos = myElement.offsetTop;
	
		document.getElementById('scrolling_div').scrollTop = topPos;
	}else{
		var myElement = document.getElementById('scrollspyHeading'+elemId);

		myElement.classList.remove('fade-out');
		myElement.classList.remove('highlight');

		var topPos = myElement.offsetTop;
	
		document.getElementById('scrolling_div').scrollTop = topPos - 20;
		
		myElement.classList.add('highlight'); // add the highlight class

		//setTimeout(function() {
			//myElement.classList.add('fade-out'); // add the fade-out class after 1 
		//}, 1500);
	}

  }

  function click_within_ph(elem){
	var out_abroad = document.getElementById('out_abroad');
	var abroad_remarks = document.getElementById('abroad_remarks');
	var wph_remarks = document.getElementById('wph_remarks');

	if(elem.checked){
		out_abroad.checked = false;
		abroad_remarks.value = "";
		abroad_remarks.disabled = true;
		wph_remarks.disabled = false;
	}else{
		elem.checked = true;
		out_abroad.checked = false;

	}
  }

  function click_out_abroad(elem){
	var wph = document.getElementById('wph');
	var wph_remarks = document.getElementById('wph_remarks');
	var abroad_remarks = document.getElementById('abroad_remarks');

	if(elem.checked){
		wph.checked = false;
		wph_remarks.value = "";
		wph_remarks.disabled = true;
		abroad_remarks.disabled = false;
	}else{
		elem.checked = true;
		wph.checked = false;

	}
  }

  function click_cto(elem){

	//const dateRanges = [[new Date(fp.selectedDates[0]).toLocaleDateString()]];


	//const dateRanges = [[new Date(sortedDates[0]).toLocaleDateString()]];
	var monetization = document.getElementById('monetization');
	var terminal = document.getElementById('terminal');

	if(elem.checked){
		monetization.checked = false;
		terminal.checked = false;

		const dateRanges = [];

		fp.selectedDates.forEach(date => {
		const formattedDate = new Date(date).toLocaleDateString();
		dateRanges.push([formattedDate]);
		});
	
		validateInclusiveDates(dateRanges, elem.value)

		console.log(dateRanges);
		
	}else{
		elem.checked = true;
	}

  }

  function click_monetization(elem){
	var submitBtn = document.getElementById('submitBtn');
	submitBtn.disabled = false;

	var cto = document.getElementById('cto');
	var terminal = document.getElementById('terminal');
	const dateFromInput = document.querySelector('#date_from');
	
	
	if(elem.checked){
		scrollToDiv(14);
		cto.checked = false;
		terminal.checked = false;
		//fp.clear();
		fp.close();
		//fp.destroy();
		dateFromInput.disabled = true;
	}else{
		elem.checked = true;
	}
  }

  function click_terminal(elem){
	var submitBtn = document.getElementById('submitBtn');
	submitBtn.disabled = false;

	var cto = document.getElementById('cto');
	var monetization = document.getElementById('monetization');

	if(elem.checked){
	scrollToDiv(15);

		cto.checked = false;
		monetization.checked = false;
		//fp.clear();
		fp.close();
	}else{
		elem.checked = true;
	}
  }


  function click_in_hospital(elem){
	var out_patient = document.getElementById('out_patient');
	var in_hospital_illness = document.getElementById('in_hospital_illness');
	var out_patient_illness = document.getElementById('out_patient_illness');

	if(elem.checked){
		out_patient.checked = false;
		out_patient_illness.disabled = true;
		in_hospital_illness.disabled = false;
		in_hospital_illness.value = "";
		out_patient_illness.value = "";
	}else{
		in_hospital_illness.disabled = false;
		elem.checked = true;
	}
  }

  function click_out_patient(elem){
	var in_hospital = document.getElementById('in_hospital');
	var in_hospital_illness = document.getElementById('in_hospital_illness');
	var out_patient_illness = document.getElementById('out_patient_illness');

	if(elem.checked){
		in_hospital.checked = false;
		out_patient_illness.disabled = false;
		in_hospital_illness.disabled = true;
		in_hospital_illness.value = "";
		out_patient_illness.value = "";
	}else{
		out_patient_illness.disabled = false;
		elem.checked = true;

	}
  }


</script>
{%endblock%}