{% extends 'base.html' %}

{% block title %} Appointments {% endblock %}

{%block cssperfile %} 
<style>
	.dtsb-titleRow{
		display: none;
	}
</style>


<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">


{% endblock %}

{% block content %}
<main class="container-fluid mt-4">
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	<div class="container-fluid">
		<div class="card shadow-sm mt-3">
			<div class="card-body">
				<!-- <div class="col-sm-12"> -->
					<div class="card text-white bg-blue shadow-sm mb-0" >
						<div class="card-header"><h3 class="card-title fw-bolder text-white"><i class="bi bi-card-heading"></i> APPOINTMENTS</h3> </div>
						<div class="card-body">
						  <ul>
							<li><p class="card-text">Please input all necessary fields.</p></li>
							<li><p class="card-text">Check the PRESENT checkbox to indicate that your appointment is currently effective.</p></li>
							<li><p class="card-text">File uploading only accepts PDF files. </p></li>
						  </ul>
						  <!-- <h5 class="card-title">Description</h5> -->
						  
						</div>
					</div>
						<div class="col-sm-12 text-center">
							<button class="btn btn-primary btn-md mt-5 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD RECORD</button>
						</div>
					<div class="table-responsive">
						<table class="table table-striped table-bordered text-center display" id="service_record_table" style="width: 100%;">
							<thead>
							<tr class="align-middle">
								<th  colspan="2">EMPLOYMENT PERIOD <i>(Inclusive Dates)</i></th>
								<th  colspan="3">RECORD OF APPOINTMENT</th>
								<th  rowspan="2">STATION/PLACE OF ASSIGNMENT</th>
								<th  rowspan="2">ATTACHMENT</th>
								<th  rowspan="2">CONTROLS</th>
							</tr>
							<tr class="align-middle">
								<th >FROM</th>
								<th >TO</th>
								<th >POSITION TITLE</th>
								<th >EMPLOYMENT STATUS</th>
								<th >DAILY/MONTHLY RATE</th>
							</tr>
							</thead>
							<tbody>
			
							</tbody>
						</table>
					</div>
				<!-- </div> -->
		</div>
		</div>

	</div>

</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title"><i class="bi bi-card-list"></i> Appointment</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form enctype="multipart/form-data" id="add_appointment_form" action="#" method="POST" autocomplete="off" class="needs-validation" novalidate>
				<div class="d-sm-flex flex-row"> 
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="date" class="form-control" id="service_from" name ="service_from" max="{{today_date.strftime('%Y-%m-%d')}}" onchange="document.getElementById('service_to').setAttribute('min', document.getElementById('service_from').value)" placeholder="Service From" value="" required>
					  <label for="service_from">Service From</label>
					  <div class="valid-feedback">
						<!-- Looks good! -->
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="date" class="form-control" id="service_to" name ="service_to" max="{{today_date.strftime('%Y-%m-%d')}}" placeholder="Service To" value="" required>
					  <label for="first_name">Service To</label>
					  <div class="valid-feedback">
						<!-- Looks good! -->
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					  <div class="form-check">
						<input class="form-check-input" type="checkbox" id="sf_present" name="sf_present" value = "Present">
						<label class="form-check-label" for="sf_present">
						  PRESENT
						</label>
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row"> 
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="text" class="form-control" id="designation" name ="designation" placeholder="Designation" value="" required>
					  <label for="designation">Position Title</label>
					  <div class="valid-feedback">
						<!-- Looks good! -->
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<select class="form-select" id="status" name="status" aria-label="Floating label select example" value="">
							<option value="JOB ORDER">Job Order</option>
							<option value="PERMANENT">Permanent</option>
							<option value="CASUAL">Casual</option>
							<option value="COTERMINOUS">Coterminous</option>
							<option value="SEPARATED">Separated</option>
						</select>
						<label for="middle_name">Employment Status</label>

						<div class="valid-feedback">
							<!-- Looks good! -->
						  </div>
						  <div class="invalid-feedback">
							This is required.
						  </div>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
						<!-- onblur="this.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'" -->
					  <input type="text" class="form-control trailing-decimal-input" id="salary" name ="salary" placeholder="Salary" value="" step=".01"> 
					  <label for="salary">Salary</label>
					  <div class="valid-feedback">
						<!-- Looks good! -->
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<input type="text" class="form-control" id="station_place" name ="station_place" placeholder="Station/ Place of Assignment" value="" required>
						<label for="designation">Station/ Place of Assignment</label>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="nia_pimo" name="nia_pimo" value = "NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE">
							<label class="form-check-label" for="nia_pimo">
							  NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE
							</label>
						  </div>
						<div class="valid-feedback">
							<!-- Looks good! -->
						  </div>
						  <div class="invalid-feedback">
							This is required.
						  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="flex-fill mb-3 p-1">
                        <label for="diploma" class="form-label">Upload Appointment</label>
                        <input class="form-control" type="file" id="appointment_attachment" name="appointment_attachment" required>
                      </div>
				</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Save Record</button>
		</form>
		</div>
	  </div>
	</div>
  </div>


  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title"><i class="bi bi-card-list"></i> Edit Appointment</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form enctype="multipart/form-data" id="update_appointment_form" action="#" method="POST">
				<input type="hidden" class="form-control" id="id" name ="id" placeholder="id" value="" required>
				
				<div class="d-sm-flex flex-row"> 
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="date" class="form-control" id="update_service_from" name ="service_from" placeholder="Service From" value="" required>
					  <label for="update_service_from">Service From</label>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="date" class="form-control" id="update_service_to" name ="service_to" placeholder="Service To" value="" required>
					  <label for="update_service_to">Service To</label>
					  <div class="form-check">
						<input class="form-check-input" type="checkbox" id="update_sf_present" name="sf_present" value = "PRESENT">
						<label class="form-check-label" for="update_sf_present">
						  PRESENT
						</label>
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row"> 
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="text" class="form-control" id="update_designation" name ="designation" placeholder="Designation" value="" required>
					  <label for="update_designation">Position Title</label>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<select class="form-select" id="update_status" name="status" aria-label="Floating label select example" value="">
							<option value="JOB ORDER">Job Order</option>
							<option value="PERMANENT">Permanent</option>
							<option value="CASUAL">Casual</option>
							<option value="COTERMINOUS">Coterminous</option>
							<option value="SEPARATED">Separated</option>
						</select>
						<label for="update_status">Employment Status</label>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="text" class="form-control trailing-decimal-input" id="update_salary" name ="salary" placeholder="Salary" value="" step="0.01" required>
					  <label for="update_salary">Salary</label>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<input type="text" class="form-control" id="update_station_place" name ="station_place" placeholder="Station/ Place of Assignment" value="" required>
						<label for="update_station_place">Station/ Place of Assignment</label>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="update_nia_pimo" name="nia_pimo" value = "NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE">
							<label class="form-check-label" for="update_nia_pimo">
							  <small class="text-muted">NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE</small>
							</label>
						  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="flex-fill mb-3 p-1">
                        <label for="diploma" class="form-label">Upload Appointment (This will overwrite the old File)</label>
                        <input class="form-control" type="file" id="update_appointment_attachment" name="appointment_attachment">
						<div class="valid-feedback">
							<!-- Looks good! -->
						  </div>
						  <div class="invalid-feedback">
							This is required.
						  </div>
                      </div>
				</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Save Record</button>
		</form>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}

{%block scripts%}
<script type="text/javascript">

	

(function () {
  'use strict'


   //Fetch all the forms we want to apply custom Bootstrap validation styles to
   var forms = document.querySelectorAll('.needs-validation')
	//	console.log(forms)
	// Loop over them and prevent submission
	Array.prototype.slice.call(forms)
		.forEach(function (form) {
		form.addEventListener('submit', function (event) {
			// if (!form.checkValidity()) {
			// console.log(1132)
			// event.preventDefault()
			// event.stopPropagation()
			// }

			form.classList.add('was-validated')
		}, false)
		})


$('.trailing-decimal-input').on('blur', function (e) {
var intRegex = /^\d+$/;
var floatRegex = /^((\d+(\.\d *)?)|((\d*\.)?\d+))$/;
if(intRegex.test($(this).val().replace(/,/gi, "")) || floatRegex.test($(this).val().replace(/,/gi, ""))) {
    var num = $(this).val().replace(/,/gi, "");
	// console.log(num)
    var float_num = parseFloat(num);
    var final = parseFloat((float_num)).toLocaleString("en-EN",{
      minimumFractionDigits: 2,
      maximumFractionDigits: 2 });

	this.value = final;
    // $(this).val(final);
  
}else{
   $(this).val("")
}

});

})()

$('#uploaded_file_table').DataTable({
      responsive: true,
        dom: 'ftrip',
		order: [[ 0, "desc" ]],

		});

	var products_table = $('#service_record_table').DataTable( {
		bSortCellsTop: true,
		scrollX: true,
        dom: 'lfrtip',
		order: [[ 0, "desc" ]],

        "ajax": {
            "method" : "GET",
            "url": "/appointment/get-appointment/{{emp_id}}",
            "dataSrc": ""
        },

        "columns": [

			{ "data": "service_from"},
			{ "data": "service_to"},
			{ "data": "designation"},
			{ "data": "status"},
			{ "data": "salary"},
			{ "data": "station_place"},
			{
              data: null,
			  searchable: true,
              render: function ( data, type, row ) {
                return `
				<div class="d-sm-flex flex-row">
					<a href="../${data.appointment_attachment}" title="View Attachment" id="${data.ld_attachment_file_name}" target = "_blank" >
						<i class="bi bi-box-arrow-up-right"></i> Attachment
					</a>
				</div>`;
              }
            },
            {
              data: null,
			  searchable: false,
              render: function ( data, type, row ) {
                return `
				<div class="d-sm-flex flex-row">
					<a href="#" class="btn btn-primary btn-sm m-2" title="Edit Appointment" id="${data.id}" data-bs-toggle="modal" onclick="edit_appointment(this.id)" data-bs-target="#updateModal">
						<i class="bi bi-pencil"></i>
					</a>
					<a href="/appointment/delete-appointment/${data.id}" class="btn btn-danger btn-sm m-2" title="Remove" id="${data.id}">
						<i class="bi bi-trash"></i>
					</a>
				</div>`;
              }
            }
        ]
    } );

	var myModal = document.getElementById('updateModal')
		myModal.addEventListener('shown.bs.modal', function () {
			update_sf_present();
	})


	
	//-- ----------------------------------------------------------------------- -->
	//--                       SUBMIT OF APPOINTMENT FORM                        -->
	//-- ----------------------------------------------------------------------- -->

	document.getElementById('add_appointment_form').addEventListener('submit',(e)=>{
			e.preventDefault();
            var url = '/appointment/add-appointment/{{current_user.id}}'
            
            let formData4 = new FormData(document.getElementById("add_appointment_form"));
                
                const data4 = {}
                formData4.forEach((value, key) => (data4[key] = value));

				if (!document.getElementById('add_appointment_form').checkValidity()) {
					event.preventDefault()
					event.stopPropagation()
				}else{
					fetch(url, {
						method: 'POST',
						body: formData4
						}).then((res)=>{

						var myModalEl = document.getElementById('exampleModal');
						var modal = bootstrap.Modal.getInstance(myModalEl);
						
						if (res.status == 200){
							triggerToast("Successfully Added Appointment", 'success')
							document.getElementById('add_appointment_form').reset()
							$('#service_record_table').DataTable().ajax.reload()

							modal.hide();
							// window.location.reload()
						}
						return res.json()

						}).then((data)=>{
						
						if(data == "invalid_file"){
							console.log("invalid_file");
							triggerToast('Invalid File Submitted. Only PDF Files are allowed.', 'warning');
							loadingScreen('none');
							//modal.hide();

						}else if (data == "overlapping_date"){
							triggerToast('You Can\'t Enter Overlapping Dates!', 'success');
							console.log("overlaping_date");
							loadingScreen('none');
							//modal.hide();
						}

						});//END
				}


             
    })

function edit_appointment(id){
	fetch(`/appointment/edit-appointment`,{
    method: 'POST',
    body: JSON.stringify({"id" : id})
  })
	.then(response => response.json())
	.then(data => {
		console.log(data)
		var id = document.getElementById("id");
		var update_sf_present = document.getElementById("update_sf_present");
		var update_service_from = document.getElementById("update_service_from");
		var update_service_to = document.getElementById("update_service_to");
		var update_designation = document.getElementById("update_designation");
		var update_status = document.getElementById("update_status");
		var update_salary = document.getElementById("update_salary");
		var update_station_place = document.getElementById("update_station_place");
		var update_leave_wo_pay = document.getElementById("update_leave_wo_pay");
		var update_separation_date = document.getElementById("update_separation_date");
		var update_separation_cause = document.getElementById("update_separation_cause");
		var update_appointment = document.getElementById("update_appointment");

		id.value = data[0].id
		update_service_from.value = data[0].service_from
		update_service_to.value = data[0].service_to

		if(data[0].service_to == "PRESENT"){
			update_sf_present.checked = true;
			// sf_present();
		}else{
			update_sf_present.checked = false;

		}

		update_designation.value = data[0].designation
		update_status.value = data[0].status
		update_salary.value = data[0].salary
		update_station_place.value = data[0].station_place
		
  })
}

function sf_present(){
		var sf_present = document.getElementById('sf_present');
		var service_to = document.getElementById('service_to');
		var station_place = document.getElementById('station_place');
		if(sf_present.checked){
			service_to.disabled = true;
			service_to.value = ''
			// station_place.value = "NIA-PANGASINAN IMO"
			}
		else{
			service_to.disabled = false;
			}
	
	}

	function update_sf_present(){
		var sf_present = document.getElementById('update_sf_present');
		var service_to = document.getElementById('update_service_to');
		var station_place = document.getElementById('update_station_place');
		if(sf_present.checked){
			service_to.disabled = true;
			service_to.value = ''
			// station_place.value = "NIA-PANGASINAN IMO"
			}
		else{
			service_to.disabled = false;
			}
	
	}

	function nia_pimo(){
		var nia_pimo = document.getElementById('nia_pimo');
		var station_place = document.getElementById('station_place');
		// var station_place = document.getElementById('station_place');
		if(nia_pimo.checked){
			station_place.value = "";
			station_place.disabled = true;
			}
		else{
			station_place.disabled = false;
			}
	
	}

	function update_nia_pimo(){
		var nia_pimo = document.getElementById('update_nia_pimo');
		var station_place = document.getElementById('update_station_place');
		// var station_place = document.getElementById('station_place');

		if(nia_pimo.checked){
			station_place.value = "";
			station_place.disabled = true;
			station_place.value = "NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE";
			}
		else{
			station_place.disabled = false;
			}
	
	}

	document.getElementById('sf_present').addEventListener('change', sf_present)
	document.getElementById('update_sf_present').addEventListener('change', update_sf_present)

	document.getElementById('nia_pimo').addEventListener('change', nia_pimo)
	document.getElementById('update_nia_pimo').addEventListener('change', update_nia_pimo)

	
document.getElementById('update_appointment_form').addEventListener('submit', (e)=>{
	e.preventDefault();
	var id = document.getElementById('id').value;
	var url = `update-appointment/${id}/{{user_profile.id}}`;
	// var url = `/ld/save-ld/${id}/{{user_profile.id}}`;
            loadingScreen('block');
            let formData4 = new FormData(document.getElementById("update_appointment_form"));
                
                const data4 = {}
                formData4.forEach((value, key) => (data4[key] = value));
               
                fetch(url, {
                method: 'POST',
                body: formData4
                }).then((res)=>{

				var myModal = document.getElementById('updateModal');
				var modal = bootstrap.Modal.getInstance(myModal);

               	if (res.status == 200){
					loadingScreen('none');
					// modal.hide();
					$('#service_record_table').DataTable().ajax.reload()
					triggerToast('Successfully Saved Changes.', 'success')

					// return res.json()
                }
				return res.json();
                
                }).then((data)=>{
					// console.log(data)
					if(data == "invalid_file"){
							console.log("invalid_file");
							triggerToast('Invalid File Submitted. Only PDF Files are allowed.', 'warning');
							loadingScreen('none');
							//modal.hide();

					}else if (data == "overlapping_date"){
						triggerToast('You Can\'t Enter Overlapping Dates!', 'success');
						console.log("overlaping_date");
						loadingScreen('none');
						//modal.hide();
					}

                });//END
})

</script>
{%endblock%}