<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link href="{{ url_for('static', filename='bootstrap-5.1.3-dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='datatables/datatables.min.css') }}" rel="stylesheet">


  <!-- Favicon-->
  <!-- <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" /> -->
  <!-- Bootstrap icons-->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" /> -->
  <!-- Google fonts-->
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" /> -->
  <!-- Core theme CSS (includes Bootstrap)-->
  <!-- <link href="css/styles.css" rel="stylesheet" /> -->

  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='spinner.css') }}" rel="stylesheet">


  <link href="{{ url_for('static', filename='bootstrap-icons-1.7.0/bootstrap-icons.css') }}" rel="stylesheet">


  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/dce3348e0b.js" crossorigin="anonymous"></script>

  <style type="text/css">
.btn-primary{
  background: rgb(51,10,113);
  background: linear-gradient(152deg, rgba(51,10,113,0.9192051820728291) 3%, rgba(0,5,121,0.8127626050420168) 37%, rgba(34,76,199,1) 98%);
}
/* .btn-success{
  background: rgb(33,82,2);
background: linear-gradient(152deg, rgba(33,82,2,0.9192051820728291) 2%, rgba(0,84,8,0.8127626050420168) 17%, rgba(34,199,67,1) 100%);
} */
.bg-blue{
  /* background-color: #020878; */
  background: rgb(51,10,113);
background: linear-gradient(152deg, rgba(51,10,113,0.9192051820728291) 3%, rgba(0,5,121,0.8127626050420168) 37%, rgba(34,76,199,1) 98%);
}
@font-face {
  font-family: trajan_reg;
  src: url("{{ url_for('static', filename='fonts/TrajanPro-Bold.otf') }}");
}
.trajan{
  font-family: trajan_reg;
}
@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

  </style>


	{% block cssperfile %}{% endblock %}

</head>



<body class="area" onload="">
  <!-- <div class="area" > -->

  <!-- </div > -->
  {% if current_user.is_authenticated%}
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">
        <img src="{{url_for('static', filename='img/nia-logo.png')}}" alt="" width="50px" height="50px" class="d-inline-block align-text-center">
        PIMO
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard" tabindex="-1" aria-disabled="true"><i class="bi bi-house-fill"></i> Home</a>
          </li>
          <ul class="navbar-nav navbar-right me-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-rolodex"></i> Employee Profile
              </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/employees/my-profile/{{current_user.id}}"><i class="bi bi-person-lines-fill"></i> My Profile</a></li>
                <li><a class="dropdown-item" href="/family-background/{{current_user.id}}"><i class="bi bi-people-fill"></i> Family Background</a></li>
                <li><a class="dropdown-item" href="/work-experience/{{current_user.id}}"><i class="bi bi-journals"></i> Work Experience</a></li>
                <li><a class="dropdown-item" href="/voluntary-work/{{current_user.id}}"><i class="bi bi-person-workspace"></i> Voluntary Work</a></li>
                <li><a class="dropdown-item" href="/learning-development/{{current_user.id}}"><i class="bi bi-lightbulb"></i>  Learning & Development</a></li>
                <li><a class="dropdown-item" href="/other-information/{{current_user.id}}"><i class="bi bi-pen"></i> Other Information</a></li>
                <li><a class="dropdown-item" href="/questions/{{current_user.id}}"><i class="bi bi-question-octagon"></i> Questions</a></li>
                <li><a class="dropdown-item" href="/character-reference/{{current_user.id}}"><i class="bi bi-person-video2"></i> Character References</a></li>
                <!-- <li><a class="dropdown-item" href="/appointment/{{current_user.id}}"><i class="bi bi-card-heading"></i> Appointments</a></li> -->

                <!-- <li><a class="dropdown-item" href="/learning-development/{{current_user.id}}"><i class="bi bi-lightbulb"></i> Learning & Development</a></li> -->
                <!-- <li><a class="dropdown-item" href="/covid-vaccine/{{current_user.id}}"><i class="bi-bandaid"></i> COVID-19 Vaccination</a></li> -->
                

                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item {{'' if current_user.type_of_user == 'user'}}" href="/print-preview/{{current_user.id}}"><i class="bi bi-printer"></i> Print Preview</a></li>
              </ul>
            </li>
          </ul>
          <li class="nav-item">
            <a class="nav-link {{'disabled' if current_user.type_of_user == 'user'}}" href="/employees/service-record/{{current_user.id}}" tabindex="-1" aria-disabled="true"><i class="bi bi-card-list"></i> Service Record</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link {{'disabled' if current_user.type_of_user == 'user'}}" href="/employees/service-record/{{current_user.id}}" tabindex="-1" aria-disabled="true"><i class="bi bi-card-list"></i> Service Record</a> -->
            <a class="nav-link" href="/appointment/{{current_user.id}}"><i class="bi bi-card-heading"></i> Appointments</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/learning-development/{{current_user.id}}"> <i class="bi bi-lightbulb"></i> Learning & Development</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/covid-vaccine/{{current_user.id}}"> <i class="fas fa-syringe"></i> COVID-19 Vaccination</a>
          </li>
          <ul class="navbar-nav navbar-right me-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-box-seam"></i> Others
              </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/tshirt-sizes/{{current_user.id}}"><i class="fas fa-tshirt"></i> Shirt Sizes</a></li>
                <li><a class="dropdown-item" href="/emergency-contact/{{current_user.id}}"><i class="bi bi-telephone"></i> Emergency Contact Details</a></li>
                <li><a class="dropdown-item" href="/other-questions/{{current_user.id}}"><i class="bi bi-question-diamond"></i> Other Questions</a></li>
                 <!-- <li><hr class="dropdown-divider"></li> -->
                <!-- <li><a class="dropdown-item" href="/others/{{current_user.id}}"><i class="bi bi-box-seam"></i> Others</a></li> -->
              </ul>
            </li>
          </ul>
          
          <!-- <ul class="navbar-nav navbar-right me-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-key"></i> Admin Access
              </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/admin/dashboard"><i class="bi bi-table"></i> List of Employees</a></li>
                <li><a class="dropdown-item" href="/family-background/{{current_user.id}}"><i class="bi bi-code"></i> Tokens</a></li>
                 <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/others/{{current_user.id}}"><i class="bi bi-box-seam"></i> Others</a></li>
              </ul>
            </li>
          </ul> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard"> <i class="bi bi-table"></i> List of Employees</a>
          </li> -->
        </ul>
        
        <ul class="navbar-nav navbar-right me-3">

          {% if current_user.type_of_user == 'admin' %}
          <ul class="navbar-nav navbar-right me-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-key"></i> Admin Access
              </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/admin/dashboard"><i class="bi bi-table"></i> List of Employees</a></li>
                <li><a class="dropdown-item" href="/family-background/{{current_user.id}}"><i class="bi bi-code"></i> Tokens</a></li>
                 <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/others/{{current_user.id}}"><i class="bi bi-box-seam"></i> Others</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- <img src="https://github.com/apj-lml.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->
              <strong>{{current_user.first_name.0}}{{current_user.middle_name.0}}{{current_user.last_name.0}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/change-password/{{current_user.id}}"><i class="bi bi-shield-lock"></i> Change Password</a></li>
              <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
            </ul>
          </li>

        </ul>
      {% endif %}


      </div>
    </div>
  </nav>


  {% block content %}{% endblock %}

<div class="loading" id="loading">Loading&#8230;</div>

<div class="position-absolute d-flex justify-content-center align-items-center w-100 top-50" style="z-index: 1000;">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" style="max-width: 600px;">
    <div class="toast-header text-white bg-primary border-0">
      <h4 class="me-auto">Notice!</h4>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" style="opacity: 1;">
        <h6 id="toastBody"></h6>
    </div>
  </div>
</div>

  <!-- Bootstrap core JS-->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
  <!-- Core theme JS-->
  <!-- <script src="js/scripts.js"></script> -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->



<script src="{{ url_for('static', filename='bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
<!-- ----------------------------------------------------------------------- -->
<!--                                  SWAL                                   -->
<!-- ----------------------------------------------------------------------- -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">

const Toast = Swal.mixin({
  toast: true,
  position: 'center',
  showConfirmButton: false,
  showCloseButton: true,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    // toast.addEventListener('mouseenter', Swal.stopTimer)
    // toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})



  function loadingScreen(is_display){
    var loading = document.getElementById('loading');
    loading.style.cssText = `display:${is_display}`;
  }
  function triggerToast(err_msg, icon='success'){
    // document.getElementById('toastBody').innerHTML = ""
    // document.getElementById('toastBody').innerHTML = err_msg
    // var myAlert = document.getElementById('liveToast');//select id of toast
    // var bsAlert = new bootstrap.Toast(myAlert);//inizialize it
    // bsAlert.show();//show it

    Toast.fire({
      icon: icon,
      title: err_msg,
    })

}

</script>
{% block scripts %}{% endblock %}

</body>
</html>