{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{%block cssperfile %} 
<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}
</style>


<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<main class="container">
	
	<div class="row mb-3">
		<!-- <div class="col-sm-12">
			<button class="btn btn-secondary btn-sm m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">New Service Record</button>
		</div> -->
		<div class="card mb-3">
			<div class="card-body">
				<form id="change_password_form" action="#" method="POST"></form>
					<h3 class="card-title">Change Password</h3> 
						<div class="card shadow-sm mb-3">
                            <div class="card-body">
                                <div class="d-md-flex flex-row">
                                    <div class="form-floating flex-fill mb-3 p-1">
                                        <input type="password" class="form-control" name ="current_password" placeholder="Current Password" form="change_password_form" required>
                                        <label for="current_password">Current Password</label>
                                    </div>

                                </div>
                                <div class="d-md-flex flex-row">

                                    <div class="form-floating flex-fill mb-3 p-1">
                                        <input type="password" class="form-control" name ="new_password" placeholder="New Password" form="change_password_form" required>
                                        <label for="new_password">New Password</label>
                                    </div>

                                </div>
                                <div class="d-md-flex flex-row">
                                    <div class="form-floating flex-fill mb-3 p-1">
                                        <input type="password" class="form-control" name ="confirm_password" placeholder="Confirm Password" form="change_password_form" required>
                                        <label for="confirm_password">Confirm Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-primary" form="change_password_form">Submit</button>
					</div>
			</div>
		</div>
	</div>

</main>

{% endblock %}

{%block scripts%}
<script type="text/javascript">
	///ld/add-learning-and-development/{{emp_id}}
	document.getElementById('change_password_form').addEventListener('submit', (e)=>{
		e.preventDefault();
		var formElem = document.getElementById("change_password_form"); 
		let formData = new FormData(formElem);

		const data = {}
		formData.forEach((value, key) => (data[key] = value))
		
		console.log(data)
		fetch('/employees/update-password/{{user_profile.id}}', {
				method: 'POST',
				body: formData
			}).then((res)=>{
				if (res.status == 200){
					document.getElementById('change_password_form').reset();
				}
				return res.json();

			}).then((data)=>{
					triggerToast(data); //this is the returned error message
			})

	});




</script>
{%endblock%}