{% extends 'base.html' %}

{% block title %} Character Reference {% endblock %}

{%block cssperfile %} 
<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}
</style>


<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<main class="container-fluid">
	
	<div class="row mb-3">

		<div class="card mb-3">
			<div class="card-body">
				<!-- <h3 class="card-title">Learning & Development</h3> -->
				<form id="add_character_reference_form" action="#" method="POST"></form>
				<div class="card text-white bg-blue shadow-sm mb-3" >
                    <div class="card-header">
						<h3 class="card-title"><i class="bi bi-person-video2"></i> Character Reference</h3>
                    </div>
                    <div class="card-body">
                      <!-- <h5 class="card-title">Description</h5> -->
                      <ul>
						<li><p class="card-text">Please input all necessary fields.</p></li>
                      	<li><p class="card-text">Maximum of three (3) inputs only.</p></li>
                      </ul>
                    </div>
                  </div>
					  <!-- <input type="hidden" class="form-control" id="ld_no_fields" name ="ld_no_fields" placeholder="No. of Fields" min="1" max="10" form="add_character_reference_form" value="1"> -->
						<div class="card shadow-sm mb-3">
						  <div class="card-body">
						  <div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="text" class="form-control" name ="last_name" placeholder="Last Name" form="add_character_reference_form" required>
							  <label for="ld_program[1]">Last Name</label>
							</div>
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="text" class="form-control" name ="first_name" placeholder="First Name" form="add_character_reference_form" required>
							  <label for="ld_date_from[1]">First Name</label>
							</div>
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="text" class="form-control" name ="middle_name" placeholder="Middle Name" form="add_character_reference_form">
							  <label for="ld_date_to[1]">Middle Name</label>
							</div>
                            <div class="form-floating flex-fill mb-3 p-1">
                                <input type="text" class="form-control" name ="name_ext" placeholder="Name Extension" form="add_character_reference_form">
                                <label for="ld_date_to[1]">Name Extension</label>
                              </div>
						  </div>
						  <div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1 col-md-6">
							  <input type="text" class="form-control" name ="address" placeholder="Address" form="add_character_reference_form">
							  <label for="address">Address</label>
							</div>
                            <div class="form-floating flex-fill mb-3 p-1 col-md-6">
                                <input type="tel" class="form-control" name ="contact_no" placeholder="09277799422" form="add_character_reference_form" pattern="[0-9]{11}">
                                <label for="contact_no">Contact No. (Eg. 09277799422)</label>
                              </div>
						  </div>

						  <div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" form="add_character_reference_form">Submit</button>
						</div>
						</div>
						
					  </div>
				
				  <div class="card shadow-sm mb-3">
					<div class="card-body">
						<div class="col-sm-12">
							<div class="table-responsive">
								<table class="table table-striped" id="character_ref_table" width = "100%">
									<thead class="">
									<tr>
										<th scope="col">Full Name</th>
										<!-- <th scope="col">Last Name</th>
										<th scope="col">First Name</th>
										<th scope="col">Middle Name</th>
										<th scope="col">Name Extension</th> -->
										<th scope="col">Address</th>
										<th scope="col">Contact Number</th>
										<th scope="col">Controls</th>
									</tr>
									</thead>
									<tbody>
									<tr>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="card shadow-sm mb-3">
					<div class="card-body">
					  <h3 class="card-title"> <i class="bi bi-person-bounding-box"></i> Person Administering Oath</h3>
						<div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1 col-md-6">
                                <input type="tel" class="form-control" name ="contact_no" value="ENGR. GERTRUDES A. VIADO" placeholder="NAME OF PERSON ADMINISTERING OATH" readonly>
                                <label for="contact_no"> Name of Person Administering Oath</label>
                              </div>
					  </div>
					</div>
				  </div>

			</div>
		</div>
	</div>

</main>

{% endblock %}

{%block scripts%}
<script type="text/javascript">
	///ld/add-learning-and-development/{{emp_id}}
	document.getElementById('add_character_reference_form').addEventListener('submit', (e)=>{
		e.preventDefault();
		var formElem = document.getElementById("add_character_reference_form");
		let formData = new FormData(formElem);

		const data = {}
		formData.forEach((value, key) => (data[key] = value))
		
		console.log(data)
		fetch('/characterReference/add/{{emp_id}}', {
				method: 'POST',
				body: formData
			}).then((res)=>{
				return res.json();

			}).then((data)=>{
					triggerToast(data); //this is the returned error message
					var table = $('#character_ref_table').DataTable();
					table.ajax.reload();
			})

	});
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })

	var character_ref_table = $('#character_ref_table').DataTable( {
		language: {
            searchBuilder: {
				add: `Add Filter`
            }
        },
		bSortCellsTop: true,
		// bLengthChange: true,
		scrollX: true,
		responsive: true,
		// colReorder: true,
        // dom: 'QBfrtip',
		
		dom: `<'row'<'col-sm-4 col-md-4'l><'col-sm-4 col-md-4'><'col-sm-4 col-md-4'f>>
				<'row'<'col-sm-12'tr>>
				<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>`,
		lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
		buttons: [
			
				{
					extend: 'print',
					customize: function ( win ) {
						$(win.document.body)
							.css( 'font-size', '10pt' )
							.prepend(
								'<img src="../static/img/nia-logo.png" style="position:absolute; top:0; left:0;" />'
							);
	
						$(win.document.body).find( 'table' )
							.addClass( 'compact text-center' )
							.css( 'font-size', 'inherit' );
					},
					exportOptions: {
						columns: [':visible']
					}
            	},
					{
					text: 'Copy',
					extend: 'copyHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
				{
					text: 'Excel',
					extend: 'excelHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
				{
					text: 'PDF',
					extend: 'pdfHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
        ],
        "ajax": {
            "method" : "GET",
            "url": "/characterReference/get/{{emp_id}}",
            "dataSrc": ""
        },

        "columns": [
			// { "data": "last_name"},
			// { "data": "first_name"},
			// { "data": "middle_name"},
			// { "data": "name_ext"},
			{"data": null,
                render: function ( data, type, row ) {
					console.log(data.middle_name)
                    if (!data.middle_name){
                        var middle_name = ''
                    }else{
                        var middle_name = data.middle_name[0]
						middle_name = middle_name.concat('.')
                    }
                return `
				${data.first_name} ${ middle_name ?? ''} ${data.last_name} ${data.name_ext ?? ''}
                `;
              }
             },
			{ "data": "address"},
			{ "data": "contact_no"},
            {
              data: null,
			  searchable: false,
              render: function ( data, type, row ) {
                return `
				<div class="d-sm-flex flex-row">
					<a class="btn btn-danger btn-sm m-2" title="Remove" id="${data.id}" onclick = "delete_ld(this)">
						<i class="bi bi-trash"></i>
					</a>
				</div>`;
              }
            }
        ]
    } );

})()
function delete_ld(el){
	// alert(el.id)
	fetch('/characterReference/delete',{
		method: 'POST',
		body: JSON.stringify({"id" : el.id})
	})
		.then(response => response.json())
		.then(data => {
			triggerToast(data)
			var table = $('#character_ref_table').DataTable();
			table.ajax.reload();
		});
}


</script>
{%endblock%}