{% extends 'base.html' %}

{% block title %} NIA PIMO {% endblock %}

{% block cssperfile %} 
    <style rel="stylesheet">
        select.birthday-select{
            border: none;
            background-color:transparent;
            font-weight: bold;
            /* font-style: italic; */
            text-align: left;
            color: rgb(51,10,113);
            color: linear-gradient(152deg, rgba(51,10,113,0.9192051820728291) 3%, rgba(0,5,121,0.8127626050420168) 37%, rgba(34,76,199,1) 98%);
            /* width: auto; */
        }

        .paragraph {
            overflow: hidden;
            max-height: 300px;
            transition: max-height 0.3s ease-out;
        }

        #read-more-btn,
        #read-less-btn {
            display: none;
            cursor: pointer;
            color: rgb(51,10,113);
            color: linear-gradient(152deg, rgba(51,10,113,0.9192051820728291) 3%, rgba(0,5,121,0.8127626050420168) 37%, rgba(34,76,199,1) 98%);
            /* width: auto; */
        }

          

        
    </style>
{% endblock %}

{% block content %}

        <!-- Navigation-->
        <!-- <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>
        </nav> -->
		
        <!-- Masthead-->
        <div class="container-fluid vw-100 p-0 w-0">
            <header class="masthead pt-5 col-sm-12 me-0 w-100 vh-100">
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <div class="text-center text-white">
                                <!-- Page heading-->
                                <img src="{{url_for('static', filename='img/nia-logo.png')}}" alt="" width="250px" height="250px" class="d-inline-block align-text-center mb-5">
                                                    
                                <h1 class="mb-5 mt-0 text-white trajan"><span style="font-size: larger;">PANGASINAN</span> <br> IRRIGATION MANAGEMENT OFFICE</h1>
                                <p class="fs-5"><i id="quote"></i></p>
                                <p class="text-center" style="font-size: large;"><b id="qauthor"></b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Icons Grid-->
            <div class="col-sm-12">
                <section class="features-icons bg-light text-center pt-5 mt-5 mb-0 pb-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex"><a href="#valueFocus" class="mx-auto" id="valueFocusBtn"><i class="bi bi-heart-fill m-auto text-blue"></i></a></div>
                                    <h4>Value Focus</h4>
                                    <p class="lead mb-0">Weekly value focus - anytime, anywhere.</p>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex"><a href="#valueFocus" class="mx-auto" id="valueFocusBtn"><i class="bi bi-7-circle-fill text-blue"></i></a></div>
                                    <h4>7 Point Agenda</h4>
                                    <p class="lead mb-0">Look at the Administrator's Agenda.</p>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex"><a href="#valueFocus" class="mx-auto" id="valueFocusBtn"><i class="bi bi-flag text-blue"></i></a></div>
                                    <h4>Quality Policy</h4>
                                    <p class="lead mb-0">NIA's Quality Policy.</p>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex"><a href="#mission" class="mx-auto"><i class="bi bi-graph-up-arrow m-auto text-blue"></i></a></div>
                                    <h4>Mission & Vision</h4>
                                    <p class="lead mb-0">Look at NIA's Mission & Vision.</p>
                                </div>
                            </div>
                            <!-- <div class="col-lg">
                                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex"><a href="#vision" class="mx-auto"><i class="bi bi-eye-fill m-auto text-blue"></i></a></div>
                                    <h4>Vision </h4>
                                    <p class="lead mb-0">Look at NIA's vision.</p>
                                </div>
                            </div> -->
                            <div class="col-lg">
                                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex"><a href="#birthdays" class="mx-auto"><i class="bi bi-cake text-blue"></i></a></div>
                                    <h4>Birthdays</h4>
                                    <p class="lead mb-0">See whose birthday today and greet them!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div> 

            <div class="col-sm-12">
                <section class="features-icons bg-light text-center pt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <h1>Calendar of Activities</h1>
                                <div id='calendar' class="vh-75 vw-75 mx-auto"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <section class="showcase">
                <div class="container-fluid p-0">
                    <div class="row g-0"  id="valueFocus">
                        <div class="col-lg-6 order-lg-2 text-white showcase-img text-center">
                            <img class="img-fluid" src="https://www.crfv-cpu.org{{ blog_image['src'] }}"/>
                            <!-- <img class="img-fluid" src="https://www.crfv-cpu.org{{ blog_image['src'] }}" width="450px;" height="450px;"/> -->
                        </div>
                        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                            <h2>{{ blog_title[0] | safe }}</h2>
                            {{ blog_paragraph | safe}}
                            <div class="lead mb-0" id="blog-content"></div>
                            <span id="dots">
                                <p id="read-more-btn" onclick="toggleReadMore()">...Read More</p>
                                <p id="read-less-btn" onclick="toggleReadMore()">Read Less...</p>
                            </span>

                        </div>

                    </div>
                    <div class="row g-0" id="mission">
                            <div class="col-lg-6 text-white showcase-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/mission.jpg') }}" loading="lazy" alt="mission" />
                        </div>
                        <div class="col-lg-6 my-auto showcase-text">
                            <h2>Mission</h2>
                            <p class="lead mb-0">To plan, construct, operate and maintain irrigation systems consistent with integrated water resource management principles to improve agricultural productivity and increase farmers' income.</p>
                            <br>
                            <h2>Vision</h2>
                            <p class="lead mb-0">By 2022, NIA is a professional and efficient irrigation agency contributing to the inclusive growth of the country and in the improvement of the farmers' quality of life.</p>
                        </div>
                    </div>
                    <div class="row g-0" id="vision">
                        <!-- <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg')"></div> -->
                        <div class="col-lg-6 order-lg-2 text-white showcase-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/vision.png') }}" loading="lazy" alt="vision"/>
                        </div>
                        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                            <h2>Quality Policy</h2>
                            <p class="lead mb-0">
                                We commit to provide efficient, effective, and sustainable irrigation services aimed towards the highest satisfaction of the Filipino farmers.
                                <br>
                                <br>
                                We strive for the attainment of our strategic themes of Technical and Operational Excellence, and Good Governance through Partnership with the farmers and other relevant interested parties.
                                <br>
                                <br>

                                We commit to establish programs that prevent work-related injury and ill health, and encourage participation and consultation workers within Agency.

                                <br>
                                <br>

                                We abide with applicable legal and international requirements and we remain dedicated to the core values of Commitment, Integrity and Professionalism, to continually improve the NIA’s Integrated Management System.
                            </p>
                        </div>
                    </div>
                    <div class="row g-0" id="mission">
                        <div class="col-lg-6 text-white showcase-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/agenda.png') }}" loading="lazy" alt="mission" />
                        </div>
                        <div class="col-lg-6 my-auto showcase-text">
                            <h2>7 Point Agenda</h2>
                            <!-- <p class="lead mb-0">To plan, construct, operate and maintain irrigation systems consistent with integrated water resource management principles to improve agricultural productivity and increase farmers' income.</p> -->
                            <ul class="fs-4">
                                <li>Irrigation Infrastruction Development</li>
                                <li>Irrigators' Association Capacity Building</li>
                                <li>Climate Smart Irrigator's Association Farming System</li>
                                <li>Management Governance</li>
                                <li>Monitoring & Evaluation</li>
                                <li>Capability Building of the Human Resource</li>
                                <li>Strategic Communication and Advocacy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row g-0" id="vision">
                        <!-- <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg')"></div> -->
                        <div class="col-lg-6 order-lg-2 text-white showcase-img">
                            <div id="carouselExampleControls" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" >
                                <div class="carousel-inner">
                                    {% for celebs in bday_celebs %}
                                    <div class="carousel-item {{ 'active' if loop.index == 1 }}" id="">
                                      <img src="{{ url_for('static', filename='img/birthday/' + today_date.strftime('%m') + '/'+ celebs.id|string +'.png') }}" class="d-block w-100 h-90" alt="birthdays">
                                    </div>
                                  {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </div>
                        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                            <h2 class="mt-3">Birthday Celebrators</h2>
                            <h4>
                                Month of 
                                 <select name="" id="birthday-select" value="{{ today_date.strftime('%m') }}" class="birthday-select">
                                     <option value="{{ today_date.strftime('%m') }}" selected hidden>{{ today_date.strftime('%B') }}</option>
                                     <option value="01">January</option>
                                     <option value="02">February</option>
                                     <option value="03">March</option>
                                     <option value="04">April</option>
                                     <option value="05">May</option>
                                     <option value="06">June</option>
                                     <option value="07">July</option>
                                     <option value="08">August</option>
                                     <option value="09">September</option>
                                     <option value="10">October</option>
                                     <option value="11">November</option>
                                     <option value="12">December</option>
                                 </select>
                            </h4>
                             <ul id="listOfBirthdayCelebrators">
                                 {% for celebs in bday_celebs %}
                                     <li>{{celebs.birthdate.strftime('%d')}} &#8212; {{celebs.last_name}}, {{celebs.first_name}} {{ "" if celebs.name_extn is none or celebs.name_extn == "" or celebs.name_extn == "N/A" else celebs.name_extn }} {{ celebs.middle_name if celebs.middle_name is none or celebs.middle_name == "" or celebs.middle_name == "N/A" else celebs.middle_name }}</li>
                                 {% endfor %}
                             </ul>
           
                        </div>
                    </div>
                </div>
            </section>

        <!-- Call to Action-->
        <section class="call-to-action text-white text-center col-sm-12">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <img src="{{url_for('static', filename='img/nia-logo.png')}}" alt="" width="150px" height="150px" class="d-inline-block align-text-center mb-2">
                        <h2 class="mb-4 trajan text-white">PANGASINAN <br> IRRIGATION MANAGEMENT OFFICE</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->



        </div>
     

        <!-- Modal -->



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#calendarModal">
    Launch demo modal
  </button>
   -->
  <!-- Modal -->
  <div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form action="#" method="POST" id="add_event_form">
                <div class="row">
                    <div class="form-floating col-md-12 col-sm-12 p-1">
                        <input type="text" class="form-control" id="e_title" name ="e_title" form="add_event_form" placeholder="Event Title" value="" required>
                        <label for="e_title">Event Title<span class="is-required">*</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-md-12 col-sm-12 p-1">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="e_all_day" name="e_all_day" unchecked>
                            <label class="form-check-label" for="e_all_day">All day</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="dateOnly">
                    <div class="form-floating col-md-6 col-sm-12 p-1">
                        <input type="datetime-local" class="form-control" id="e_date_from" name ="e_date_from" form="add_event_form" placeholder="e_date_from" required>
                        <label for="e_date_from">Event Date (From)<span class="is-required">*</span></label>
                    </div>
                    <div class="form-floating col-md-6 col-sm-12 p-1">
                        <input type="datetime-local" class="form-control" id="e_date_to" name ="e_date_to" form="add_event_form" placeholder="e_date_to" required>
                        <label for="e_date_to">Event Date (To)<span class="is-required">*</span></label>
                    </div>
                </div>
                
                <!-- <div class="row" id="dateTimeOnly">
                    <div class="form-floating col-md-6 col-sm-12 p-1">
                        <input type="datetime-local" class="form-control" id="" name ="e_date_from" form="add_event_form" placeholder="e_date_from" required>
                        <label for="e_date_from">Event Date (From)<span class="is-required">*</span></label>
                    </div>
                    <div class="form-floating col-md-6 col-sm-12 p-1">
                        <input type="datetime-local" class="form-control" id="" name ="e_date_to" form="add_event_form" placeholder="e_date_to" required>
                        <label for="e_date_to">Event Date (To)<span class="is-required">*</span></label>
                    </div>
                </div> -->
                <div class="row">
                    <div class="form-floating p-1 col-md-6 col-sm-12">
                        <select class="form-select" id="e_type" name="e_type">
                            <option value="MEETING">MEETING</option>
                            <option value="HOLIDAY">HOLIDAY</option>
                            <option value="CELEBRATION">CELEBRATION</option>
                            <option value="DEADLINE">DEADLINE</option>
                          </select>
                        <label for="e_type">Event Type</label>
                    </div>
                    <div class="form-floating col-md-6 col-sm-12 p-1">
                        <select class="form-select" id="e_repeat" name="e_repeat" value="" form="add_event_form" required>
                        <option value="1" selected>Doesn't Repeat</option>
                        <option value="2">Daily</option>
                        <option value="3">Weekly</option>
                        <option value="4">Monthly</option>
                        <option value="5">Annually</option>
                        </select>
                        <label for="repeat">Does this event repeat?</label>

                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">Close</button>
          <button type="submit" class="btn btn-primary" form="add_event_form">Save changes</button>
        </div>
      </div>
    </div>
  </div>

		{% endblock %}

        {% block scripts %}

        <script src='https://cdn.jsdelivr.net/npm/fullcalendar/core/locales/es.global.js'></script>
        <script type="application/javascript">

            // self executing function here
            (function() {

                var myModal = new bootstrap.Modal(document.getElementById('calendarModal'), {
                    //keyboard: false
                    });

                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {

                    //plugins: [ googleCalendarPlugin ],
                    //googleCalendarApiKey: 'AIzaSyAeC9OYPttokVOUk17VvuWyFtbEEk6gjCs',
                    //events: {
                    //  googleCalendarId: 'aljohnjacinto.aj@gmail.com'
                    //},
                    //events: 'en.usa#holiday@group.v.calendar.google.com',
                    //locale: 'ph',
                    //themeSystem: 'bootstrap5',
                    initialView: 'dayGridMonth',
                    //views:{
                    //    dayGridMonth: {
                           // eventLimit: 3
                    //    }
                    //},
                    dayMaxEvents: true,
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'addEventButton',
                        right: 'dayGridMonth,listYear'
                      },
               
                    //selectable: true,
                    editable: true,
                    droppable: true,
                    //displayEventTime: false,
                    //dateClick: function(info) {
                    //    alert('clicked ' + info.dateStr);
                    //},
                    customButtons: {
                        addEventButton: {
                          text: 'Add Event',
                          click: function() {
                            myModal.show();
                          }
                        }
                      },

                      //eventRender: function(info) {
                       // if (info.event.start < info.event.end) {
                       //     info.el.querySelector('.fc-time').style.display = 'none';
                       // }
                    //}
                });

                calendar.render();

                fetchCalendarEvents(calendar);


                 window.closeModal = function() {
                    myModal.hide();
                };

                document.getElementById('e_all_day').addEventListener('change', (e)=>{
                    if(e.target.checked){
                        document.getElementById('e_date_from').type = 'date';
                        document.getElementById('e_date_to').type = 'date';
                       // document.getElementById('dateOnly').classList.remove('d-none');
                       // document.getElementById('dateTimeOnly').classList.add('d-none');
                    }else{
                        document.getElementById('e_date_from').type = 'datetime-local';
                        document.getElementById('e_date_to').type = 'datetime-local';


                       // document.getElementById('dateTimeOnly').classList.remove('d-none');
                       // document.getElementById('dateOnly').classList.add('d-none');
                    }
                });

                document.getElementById('add_event_form').addEventListener('submit',(e)=>{
                    e.preventDefault();
    
                    var e_title = document.getElementById('e_title').value;
                    var e_all_day = document.getElementById('e_all_day');
                    //var dateStrt = document.getElementById('e_date_from').value;
                    //var dateEnd = document.getElementById('e_date_to').value;
                    var dateStrt = document.getElementsByName('e_date_from').value;
                    var dateEnd = document.getElementsByName('e_date_to').value;
                    var e_repeat = document.getElementById('e_repeat').value;
                    
                    let allDay = false;
                    if(e_all_day.checked){
                        allDay = true;
                    }
                    //let allDay = false;
                    //if(dateStrt === dateEnd ){
                    //    allDay = true;
                    //}
                    
                    let add_event_form = document.getElementById('add_event_form');
                
                    // Submit form data using FormData
                    let formData2 = new FormData(add_event_form);
            
                    const data2 = {};
                    formData2.forEach((value, key) => (data2[key] = value));
            
                    fetch(`/calendar/add-event`, {
                        method: 'POST',
                        body: formData2
                    }).then((res) => {
                        if (res.status == 200) {
                            return res.json();
                        }
                    }).then((data)=>{;
                        Object.entries(data).forEach(([key, value]) => {
                            console.log(value);
                            calendar.addEvent(value)
                        });
                        //calendar.addEvent(data)
                        
                        //calendar.addEvent(data);
    
                    });
           
    
                  });
    
            })();

            function fetchCalendarEvents(calendar){
                fetch(`/calendar/get-all-events`, {
                    method: 'GET',
                }).then(response => response.json())
                    .then(data => {
                        data.forEach((v, k)=>{
                            console.log(v);
                            calendar.addEvent(v);
                        });
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
           

            document.getElementById('birthday-select').addEventListener('change', (e) => {
                document.getElementById("listOfBirthdayCelebrators").innerHTML = '';
                var birthday_pics = document.getElementById('carouselExampleControls').getElementsByClassName('carousel-inner')[0];
            
                // Clear the existing carousel content
                birthday_pics.innerHTML = '';
            
                let month = document.getElementById('birthday-select');
                fetch(`/birthday-celebrators/${month.value}`, {
                    method: 'GET',
                })
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(element => {
                            var date = new Date(element.birthdate);
                            day = date.toLocaleDateString(undefined, {
                                year: "numeric",
                                month: "2-digit",
                                day: "2-digit"
                            })
            
                            day = day.split("/")
            
                            document.getElementById("listOfBirthdayCelebrators").innerHTML += `
                                <li>${day[1]} &#8212; ${element.last_name}, ${element.first_name} ${(element.name_extn == null || element.name_extn == "N/A" || element.name_extn == "") ? "" : element.name_extn} ${(element.middle_name == null || element.middle_name == "N/A" || element.middle_name == "") ? "" : element.middle_name}</li>
                            `
            
                            var element_id = element.id;
                            var image_url = `/static/img/birthday/${day[0]}/${element_id}.png`;
            
                            // Create a new carousel item for each image
                            var carouselItem = document.createElement('div');
                            carouselItem.classList.add('carousel-item');
                            if (birthday_pics.children.length === 0) {
                                carouselItem.classList.add('active');
                            }
                            carouselItem.innerHTML = `
                                <img src="${image_url}" class="d-block w-100 h-90" alt="birthdays">
                            `;
                            birthday_pics.appendChild(carouselItem);
                        });
                    });
            });


            function countWords(text) {
                return text.split(/\s+/).filter(Boolean).length;
            }

            function toggleReadMore() {
                //var content = document.getElementById('blog-content');
                var content = document.getElementsByClassName("paragraph");
                var readMoreBtn = document.getElementById('read-more-btn');
                var readLessBtn = document.getElementById('read-less-btn');
                var valueFocus = document.getElementById('valueFocusBtn');

             if(content[0].style.maxHeight == '100%'){
                    content[0].style.maxHeight = '300px';
                    readMoreBtn.style.display = 'block';
                    readLessBtn.style.display = 'none';
                    valueFocus.click();

                
                } else {
                    content[0].style.maxHeight = '100%';
                    readMoreBtn.style.display = 'none';
                    readLessBtn.style.display = 'block';
                }
            }

        // Check if content has more than 100 words
        // var content = document.getElementById('content');
        var content = document.getElementsByClassName("paragraph");

        var readMoreBtn = document.getElementById('read-more-btn');
        if (countWords(content[0].textContent) > 40) {
            content[0].style.maxHeight = '300px';
            readMoreBtn.style.display = 'block';
        }


            window.addEventListener('load', (event) => {

                $(document).ready(function(){
                    $("#searchFormsInput").on("keyup", function() {
                      var value = $(this).val().toLowerCase();
                      $("#searchFormsList li").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                      });
                    });
                  });



                fetch('https://api.quotable.io/random?tags=inspirational',{
                    method: 'GET',
                    //body: JSON.stringify({"tags" : "inspirational, famous-quotes"})
                })
                    .then(response => response.json())
                    .then((data)=>{
                        if(data.content != undefined){
                            document.getElementById("quote").innerHTML = '"'+ data.content +'"';
                            document.getElementById("qauthor").innerHTML = '-'+ data.author;
                        }

                })

                var selectId = document.getElementById("birthday-select");

                selectId.onchange=function(){
                var selectedValue = selectId.options[selectId.selectedIndex].value; 
                var selectedText = selectId.options[selectId.selectedIndex].text;

                selectId.style.width = 75 + (selectedText.length * 8) + "px";
                }

                });
        </script>
        {% endblock %}