{% extends 'base.html' %}

{% block title %} NIA PIMO {% endblock %}

{% block cssperfile %} 
    <style rel="stylesheet">
      
        
    </style>
{% endblock %}

{% block content %}

        <!-- Navigation-->
        <!-- <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>
        </nav> -->
		
        <!-- Masthead-->
        <div class="">
            <header class="masthead pt-5 col-sm-12">
                <div class="container position-relative ">
                    <div class="row justify-content-center overflow-auto">
                        <div class="col-xl-12">
                            <div class="text-center text-white">
                                <img src="{{url_for('static', filename='img/nia-logo.png')}}" alt="" width="250px" height="250px" class="d-inline-block align-text-center mb-5">
                                                    
                                <h3 class="mb-3 mt-0 text-white"><span style="font-size: larger;">DATA PRIVACY ACT</span></h3>
                                <p class="container fs-5"><i>

                                    Before you continuing please take a moment to understand and acknowledge that we are committed to safeguarding your data privacy in 
                                    accordance with the Republic Act No. 10173, Data Privacy Act of the Philippines. We are dedicated to ensuring the security and confidentiality of your 
                                    personal information. Please review our <a href="#" class="text-warning" onclick="fireDataPrivacy();">Privacy Policy </a> if you have any concerns about how we handle your data.

                                </i></p>
                                <p class="text-center" style="font-size: large;">
                                    <button class="btn btn-success shadow" id="continue" {% if user_profile.data_privacy != "checked" %}disabled{% endif %} onclick="continueBtn()">Continue</button>
                                    <a href="/" class="btn btn-secondary shadow">Go Back</a>
                                </p>
                                <p>
                                    Read about our <u><a href="#" class="link-warning" onclick="fireDataPrivacy();">Privacy Policy </a></u>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Icons Grid-->




        </div>
     




		{% endblock %}

        {% block scripts %}


        <script type="application/javascript">

            
           function continueBtn(){
            loadingScreen('block');
            let btnClick;
            fetch('/data-privacy-act', {
                method: 'POST',
                body: JSON.stringify({ btnClick: 'true' })
              }).then((res)=>{
                if(res.status == 200){
                    if (res.redirected) {
                        // Redirect the user to the new location
                        window.location.href = res.url;
                      }
                }
              });
             }

    {% if request.path == "/data-privacy-act" and user_profile.data_privacy != "checked" %}

             fireDataPrivacy();

    {% endif %}

    function fireDataPrivacy(){
        Swal.fire({
            title: '<strong>Privacy Policy</strong>',
            icon: 'info',
            width: 1200,
            allowOutsideClick: false,
            showCloseButton: false,
            html:
                     `
    <p class="text-start">
      <b><i>Last Updated: October 27, 2023</i></b>
        <br><br>

      The Pangasinan Irrigation Management Office (PIMO) is dedicated to protecting the privacy and personal information of individuals using our Online 201 File System. This Privacy Policy outlines how we collect, use, disclose, and safeguard your data. By accessing and using the Online 201 File System, you consent to the terms and practices described in this policy.<br><br>
      
      <b>1. Information We Collect</b>
      <br><br>
      
      <i>1.1. Personal Information:</i> We may collect personal information, including but not limited to names, addresses, contact information, and identification details, from users who interact with the Online 201 File System. To see the full list of personal information we collect, you may <a class="link-warning" href="https://tinyurl.com/PIMOInfoCollectedList" target="_blank"><u>visit here</u></a>.<br><br>
      
      <i>1.2. Non-Personal Information:</i> We may also collect non-personal information, such as IP addresses, browser type, and usage data, to enhance the functionality and security of our system.
      
      <br><br><br>
      
      <b>2. How We Use Your Information</b>
      <br><br>
      
      <i>2.1. User Verification:</i> We use your personal information to verify your identity and grant access to the Online 201 File System.<br><br>
      
      <i>2.2. System Functionality:</i> Your information may be used to ensure the proper operation and functionality of the system.<br><br>
      
      <i>2.3. Communication: </i> We may use the contact information to keep you informed about important information and communications. Our methods of communication may include contacting you through your cellphone number, email address, or sending physical mail to the address you have provided in the system. It's important to note, however, that these communication practices are subject to certain limitations, as outlined below:
      
      <ul class='text-start'>
      <li>We want to emphasize that we will never ask you to share sensitive personal information like passwords or financial details through email, text messages, or other electronic communication methods. Please avoid sharing such information with anyone who claims to represent PIMO through these channels. If you receive any unexpected or suspicious requests for such information, please let us know immediately.</li>
      <li>While we do our best to secure our communication channels, it's essential to recognize that electronic and postal communication always carries some level of risk. We cannot guarantee absolute security, so we encourage you to be cautious when sharing information through these means.</li>
      <li>If you ever need to verify the legitimacy of a communication that appears to be from PIMO, please contact us directly through our official contact information provided in Section 8.</li>
      </ul>
      <p class='text-start'>
      <i>2.4. Report Generation and Submission:</i> Your data may also be used to generate and submit reports to improve Administrative services and meet specific organizational needs with the Online 201 File System.<br><br>
    
      <br>
      <b>3. Data Security</b>
        <br><br>
      
      <i>3.1. Protection:</i> We implement industry-standard security measures to safeguard your data against unauthorized access, disclosure, alteration, or destruction.<br><br>
      
      <i>3.2. Access Control:</i> Access to your personal information is restricted to authorized Administrative Unit personnel only.<br><br>
      

      <br>
      <b>4. Disclosure of Information</b>
      <br><br>
      
      <i>4.1. Legal Compliance and Consent:</i> Our practices regarding the sharing of information align with the provisions of the Data Privacy Act of the Philippines. We adhere to the following principles when disclosing information:<br><br>
      <i>(a)</i> When you have provided us with your explicit consent, we process your data in accordance with your preferences.<br><br>
      <i>(b)</i> We process information when it is necessary to fulfill contractual obligations with you or to take steps leading to the establishment of a contract.<br><br>
      <i>(c)</i> If there exists a legal obligation mandating the use of your data, we ensure strict adherence to such legal requirements.<br><br>
      <i>(d)</i> In circumstances where safeguarding the life and health of an individual is paramount, and that individual is incapable of providing consent, we may process the data in question.<br><br>
      <i>(e)</i> We may process data when it is essential to respond to national emergencies, maintain public order and safety, or fulfill the functions of public authority, always ensuring that such processing aligns with the mandate and responsibilities of public organizations.<br><br>
      <i>(f)</i> When processing is required for legitimate interests pursued by us or a third party, we exercise this right while respecting your fundamental rights and freedoms, which are constitutionally protected.<br><br>
      
      <i>4.2. Third Parties:</i> We do not share your personal information with third parties without your explicit consent unless required by law.<br><br>

      
      <br>
      <b>5. Access and Control of Your Information</b>
      <br><br>
      
      <i>5.1. Data Access:</i> The right to access the personal information stored in our system is exclusively granted to active employees of PIMO. Should you wish to inquire about the specifics of the information retained, we encourage you to contact us. Subsequently, we will provide comprehensive guidance on the procedure for accessing your information.<br><br>
      
      <i>5.2. Control of Data:</i> In addition to data access, you, as an active employee, possess the capacity to rectify or update your personal information within our system. In the event you identify inaccuracies or changes in your data, we kindly request that you reach out to us. We are committed to aiding you in maintaining the accuracy and currency of your information.<br><br>
      <br>
      
      <b>6. Cookies</b>
      <br><br>
      
      <i>6.1. Utilization of Cookies:</i> Cookies are small data files that are placed on your computer or device when you visit our Online 201 File System. These files serve various functions, including enhancing your user experience by allowing our system to recognize and remember your preferences. They enable us to tailor our services and content to better align with your needs.<br><br>
      <br>
   
      <b>7. Amendments to the Privacy Policy</b>
      <br>
      <br>
      <i>7.1</i> We reserve the right to modify this Privacy Policy as required. Any alterations will be duly posted on this page, along with the effectivity date. We recommend that you routinely review this page to remain apprised of any updates. Your continued use of the Online 201 File System subsequent to these revisions signifies your consent to the revised terms and practices outlined herein.
      <br>
      <br>
      <br>

      <b>8. Contact Information</b>
      <br>
      <br>
      
      <i>8.1.</i> If you have questions, concerns, or requests related to this Privacy Policy, please contact the designated Compliance Officer for Privacy (COP):<br><br>
       <b>ALJOHN P. JACINTO</b> <br>
       <i>Industrial Relations Management Officer C</i> <br>
       <b>Email:</b> pimo.adm02@gmail.com <br>
       <b>Telephone:</b> (075) 505-155<br><br>
      
      The National Irrigation Administration - Pangasinan Irrigation Management Office values your privacy and is committed to protecting your personal information. By using the Online 201 File System, you agree to the terms outlined in this Privacy Policy.
    </p>
    </p>
    
      <div class="d-inline-flex justify-content-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="acknowledgement" {% if user_profile.data_privacy == "checked" %} checked {% endif %} onchange="acknowledge(this)">
          <label class="form-check-label" for="acknowledgement">
            I agree
          </label>
        </div>
      </div>
                     `,
                    showCancelButton: true,
                    focusConfirm: true,
                    confirmButtonText:
                      'Proceed',
                    cancelButtonText:
                      'Cancel',
            preConfirm: ()=>{
              let ack = document.getElementById("acknowledgement");
              if(ack.checked){
                return undefined;
              }else{
                Swal.fire('Failed to Agree on Privacy Policy!', 'You have not agreed to the Privacy Policy and therefore can not proceed.', 'warning')
                return false;
              }
            }
                  }).then((result) => {
                    if (result.isConfirmed) {
                      let checkbox = document.getElementById('acknowledgement');
                      let checkboxVal = 'checked';
                      if(!checkbox.checked){
                        checkboxVal = 'unchecked';
                      }
    
                      fetch('/employees/update_data_privacy', {
                        method: 'POST',
                        body: JSON.stringify({ checkboxVal: checkboxVal })
                      }).then((res)=>{
                        if(res.status == 200){
                            let continueBtn = document.getElementById('continue');
                            continueBtn.disabled = false;
    
                        }
                      });
                    }
                  });
    }


    window.onload = (event) => {
        const confirmButton = Swal.getConfirmButton();
        confirmButton.setAttribute('disabled', 'true');
      };

          


            function acknowledge(el){
                const confirmButton = Swal.getConfirmButton();
        confirmButton.setAttribute('disabled', 'true');
                console.log('button: ', confirmButton)
                //const confirmButton = Swal.getConfirmButton();
                //confirmButton.setAttribute('disabled', 'true');

                if(el.checked){
                    confirmButton.disabled = false;
                }else{
                    confirmButton.setAttribute('disabled', 'true');

                }

            }
        </script>
        {% endblock %}