{% extends 'base.html' %}

{% block title %} Family Background {% endblock %}

{%block cssperfile %} 
<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
	}
</style>

<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">


<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<main class="container mt-3">
	<ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<div class="row mb-3">
		<!-- <div class="col-sm-12">
			<button class="btn btn-secondary btn-sm m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">New Service Record</button>
		</div> -->
		<div class="card mb-3">
			<div class="card-body">
				<form id="family_bg_form" action="#" method="POST"></form>
				<form id="family_bg_update_form" action="#" method="POST"></form>
					<div class="card text-white bg-blue shadow-sm mb-3" >
						<div class="card-header"><h3 class="card-title"><i class="bi bi-people-fill"></i> Family Background</h3> </div>
						<div class="card-body">
							<ul>
								<li>Please fill out all necessary fields.</li>
								<li><p>Please indicate in <strong>FIRST NAME </strong> if parents are deceased. Eg. "MARIA (DECEASED)".</p></li>
							</ul>
						  <!-- <h5 class="card-title">Description</h5> -->
						  
						</div>
					  </div>
						<div class="card shadow-sm mb-3">
						<div class="card-body">
							<h5 class="card-title">Spouse's Information</h5> 
							
							<div class="d-md-flex flex-row">
								<div class="form-floating mb-3 p-1 col-sm-4">
									<select class="form-select" id="is_spouse" aria-label="Floating label select example" onchange="activate_spouse(this.value)">
										<option value="YES" {{ 'selected' if spouse_count > 0 else '' }}>YES</option>
										<option value="NO" {{ '' if spouse_count > 0 else 'selected' }}>NO</option>
									  </select>
									<label for="is_spouse">Do you have a spouse?</label>
								</div>
							</div>
							<input type="hidden" class="form-control" name ="family_count" id ="family_count" value="4" form="family_bg_form" required>

							{% if spouse_count > 0 %}
							<input type="hidden" class="form-control" name ="fb_relationship[1]" placeholder="" form="family_bg_update_form" value="SPOUSE" required>
							<input type="hidden" class="form-control" name ="family_count" id ="" value="4" form="family_bg_update_form" required>
							<input type="hidden" class="form-control" name ="id[1]" id="id[1]" placeholder="ID" form="family_bg_update_form" value="{{spouse[0].id}}" required>
							
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_last_name[1]" id="spouse_ln" placeholder="Last Name" form="family_bg_update_form" value="{{spouse[0].fb_last_name}}" required>
									<label for="fb_last_name[1]">Last Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_first_name[1]" id="spouse_fn" placeholder="First Name" form="family_bg_update_form" value="{{spouse[0].fb_first_name}}" required>
									<label for="fb_first_name[1]">First Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_middle_name[1]" id="spouse_mn" placeholder="Middle Name" form="family_bg_update_form" value="{{spouse[0].fb_middle_name}}" required>
									<label for="fb_middle_name[1]">Middle Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_name_ext[1]" id="spouse_ne" placeholder="Middle Name" form="family_bg_update_form" value="{{spouse[0].fb_name_ext}}" required>
									<label for="fb_name_ext[1]">Name Extension</label>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
								<input type="text" class="form-control" name ="fb_occupation[1]" id="spouse_oc" placeholder="Occupation" form="family_bg_update_form" value="{{spouse[0].fb_occupation}}" required>
								<label for="fb_occupation[1]">Occupation</label>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1 col-md-6">
									<input type="text" class="form-control" name ="fb_employer_business_name[1]" id="spouse_bn" placeholder="Employer / Business Name" form="family_bg_update_form" value="{{spouse[0].fb_employer_business_name}}" required>
									<label for="fb_employer_business_name[1]">Employer / Business Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1 col-md-6">
								<input type="text" class="form-control" name ="fb_business_address[1]" id="spouse_ba" placeholder="Employer / Business Address" form="family_bg_update_form" value="{{spouse[0].fb_business_address}}">
								<label for="fb_business_address[1]">Employer / Business Address</label>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1 col-md-6">
									<input type="text" class="form-control" name ="fb_contact_no[1]" id="spouse_cn" placeholder="Employer / Business Contact No." form="family_bg_update_form" value="{{spouse[0].fb_contact_no}}">
									<label for="fb_contact_no[1]">Employer / Business Contact No.</label>
								</div>
							</div>

							{% else %}
							<!-- ASDASKasdjasdhasdh -->
							<input type="hidden" class="form-control" name ="fb_relationship[1]" placeholder="" form="family_bg_form" value="SPOUSE" required>
							<input type="hidden" class="form-control" name ="family_count" id ="family_count" value="4" form="family_bg_form" required>
							<input type="hidden" class="form-control" name ="family_count" id ="" value="4" form="family_bg_update_form" required>

								<div class="d-md-flex flex-row">
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_last_name[1]" id="spouse_ln" placeholder="Last Name" form="family_bg_form" value="" required>
										<label for="fb_last_name[1]">Last Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_first_name[1]" id="spouse_fn" placeholder="First Name" form="family_bg_form" value="" required>
										<label for="fb_first_name[1]">First Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_middle_name[1]" id="spouse_mn" placeholder="Middle Name" form="family_bg_form" value="" >
										<label for="fb_middle_name[1]">Middle Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_name_ext[1]" id="spouse_ne" placeholder="Middle Name" form="family_bg_form" value="" >
										<label for="fb_name_ext[1]">Name Extension</label>
									</div>
								</div>
								<div class="d-md-flex flex-row">
									<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_occupation[1]" id="spouse_oc" placeholder="Occupation" form="family_bg_form" value="" required>
									<label for="fb_occupation[1]">Occupation</label>
									</div>
								</div>
								<div class="d-md-flex flex-row">
									<div class="form-floating flex-fill mb-3 p-1 col-md-6">
										<input type="text" class="form-control" name ="fb_employer_business_name[1]" id="spouse_bn" placeholder="Employer / Business Name" form="family_bg_form" value="" required>
										<label for="fb_employer_business_name[1]">Employer / Business Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1 col-md-6">
									<input type="text" class="form-control" name ="fb_business_address[1]" id="spouse_ba" placeholder="Employer / Business Address" form="family_bg_form" value="">
									<label for="fb_business_address[1]">Employer / Business Address</label>
									</div>
								</div>
								<div class="d-md-flex flex-row">
									<div class="form-floating flex-fill mb-3 p-1 col-md-6">
										<input type="text" class="form-control" name ="fb_contact_no[1]" id="spouse_cn" placeholder="Employer / Business Contact No." form="family_bg_form" value="">
										<label for="fb_contact_no[1]">Employer / Business Contact No.</label>
									</div>
								</div>
							{% endif %}

						</div>

					  </div>
					  <div class="card shadow-sm mb-3">
						<div class="card-body">
						  <h5 class="card-title">Parents' Information</h5>  
						  
							<div class="d-md-flex flex-row">
								{% if user_profile.familyBg %}
								{% for father in user_profile.familyBg %}
									{% if father.fb_relationship == 'FATHER' %}
								<input type="hidden" class="form-control" name ="fb_relationship[2]" placeholder="" form="family_bg_update_form" value="FATHER" required>

									<input type="hidden" value="{{father.id}}" name="id[2]" form="family_bg_update_form">
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_last_name[2]" placeholder="Last Name" form="family_bg_update_form" value="{{father.fb_last_name}}" required>
											<label for="fb_last_name">Father's Last Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_first_name[2]" placeholder="First Name" form="family_bg_update_form" value="{{father.fb_first_name}}" required>
											<label for="fb_first_name">Father's First Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_middle_name[2]" placeholder="Middle Name" form="family_bg_update_form" value="{{father.fb_middle_name}}" >
											<label for="fb_middle_name">Father's Middle Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_name_ext[2]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_update_form"  value="{{father.fb_name_ext}}">
											<label for="fb_name_ext">Father's Name Extension (Jr., Sr., II, III)</label>
										</div>

									{% endif %}
								{% endfor %}
								{% else %}
								<input type="hidden" class="form-control" name ="fb_relationship[2]" placeholder="" form="family_bg_form" value="FATHER" required>

									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_last_name[2]" placeholder="Last Name" form="family_bg_form" value="" required>
										<label for="fb_last_name">Father's Last Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_first_name[2]" placeholder="First Name" form="family_bg_form" value="" required>
										<label for="fb_first_name">Father's First Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_middle_name[2]" placeholder="Middle Name" form="family_bg_form" value="">
										<label for="fb_middle_name">Father's Middle Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_name_ext[2]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form"  value="" >
										<label for="fb_name_ext">Father's Name Extension (Jr., Sr., II, III)</label>
									</div>
								{% endif %}
							</div>
								<div class="d-md-flex flex-row">
								{% if user_profile.familyBg %}
								{% for mother in user_profile.familyBg %}
									{% if mother.fb_relationship == 'MOTHER' %}
								<input type="hidden" class="form-control" name ="fb_relationship[3]" placeholder="" form="family_bg_update_form" value="MOTHER" required>

									<input type="hidden" value="{{mother.id}}" name="id[3]" form="family_bg_update_form">

									<div class="form-floating flex-fill mb-3 p-1">
										
										<input type="text" class="form-control" name ="fb_maiden_name[3]" placeholder="" form="family_bg_update_form" value="{{ mother.fb_maiden_name if mother.fb_maiden_name is not none else 'N/A'}}">
										<label for="fb_maiden_name">Mother's Maiden Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_last_name[3]" placeholder="Last Name" form="family_bg_update_form" value="{{ mother.fb_last_name }}" required>
										<label for="fb_last_name">Mother's Last Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_first_name[3]" placeholder="First Name" form="family_bg_update_form" value="{{ mother.fb_first_name }}" required>
										<label for="fb_first_name">Mother's First Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_middle_name[3]" placeholder="Middle Name" form="family_bg_update_form" value="{{ mother.fb_middle_name }}" >
										<label for="fb_middle_name">Mother's Middle Name</label>
									</div>
									{% endif %}
								{% endfor %}
								{% else %}
								<input type="hidden" class="form-control" name ="fb_relationship[3]" placeholder="" form="family_bg_form" value="MOTHER" required>

								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_maiden_name[3]" placeholder="Maiden Name" form="family_bg_form" value="" required>
									<label for="fb_maiden_name">Mother's Maiden Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_last_name[3]" placeholder="Last Name" form="family_bg_form" value="" required>
									<label for="fb_last_name">Mother's Last Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_first_name[3]" placeholder="First Name" form="family_bg_form" value="" required>
									<label for="fb_first_name">Mother's First Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_middle_name[3]" placeholder="Middle Name" form="family_bg_form" value="" required>
									<label for="fb_middle_name">Mother's Middle Name</label>
								</div>
								{% endif %}

								</div>
						</div>
					</div>


					<div class="card shadow-sm mb-3">
						<div class="card-body">
						  <h5 class="card-title">Children's Information</h5>
						  {% set child_count = namespace(value=0) %}

						  {% if user_profile.familyBg %}

						  {% set field_count = namespace(value=4) %}
						  {% set no_child = namespace(value=0) %}

						  {% for child in user_profile.familyBg %}

							{% if child_count.value == 0 %}

									{% if no_child.value == 0 %}
										{% set no_child.value = no_child.value+1 %}
									{% endif %}


							  {% if child.fb_relationship == 'CHILD' %}
							  {% set child_count.value = child_count.value+1 %}
							  {% set field_count.value = field_count.value+1 %}
								{% if child_count.value > 0 %}
								<div class="card shadow-sm mb-3">
									<div class="card-body">
										
										<input type="hidden" class="form-control" name ="id[{{field_count.value}}]" placeholder="ID" form="family_bg_update_form" value="{{child.id}}" required>

										<input type="hidden" class="form-control" name ="fb_relationship[{{field_count.value}}]" placeholder="" form="family_bg_update_form" value="CHILD" required>
											<div class="d-md-flex flex-row">
												<div class="form-floating flex-fill mb-3 p-1">
													<input type="text" class="form-control" name ="fb_last_name[{{field_count.value}}]" placeholder="Last Name" form="family_bg_update_form" value="{{child.fb_last_name}}" required>
													<label for="fb_last_name">Last Name</label>
												</div>
												<div class="form-floating flex-fill mb-3 p-1">
													<input type="text" class="form-control" name ="fb_first_name[{{field_count.value}}]" placeholder="First Name" form="family_bg_update_form" value="{{child.fb_first_name}}" required>
													<label for="fb_first_name">First Name</label>
												</div>
												<div class="form-floating flex-fill mb-3 p-1">
													<input type="text" class="form-control" name ="fb_middle_name[{{field_count.value}}]" placeholder="Middle Name" form="family_bg_update_form" value="{{child.fb_middle_name}}" required>
													<label for="fb_middle_name">Middle Name</label>
												</div>
												<div class="form-floating flex-fill mb-3 p-1">
													<input type="text" class="form-control" name ="fb_name_ext[{{field_count.value}}]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_update_form" value="{{child.fb_name_ext}}" required>
													<label for="fb_name_ext">Name Extension (Jr., Sr., II, III)</label>
												</div>
											</div>
											<div class="d-md-flex flex-row">
												<div class="form-floating flex-fill mb-3 p-1">
													<input type="date" class="form-control" name ="fb_date_of_birth[{{field_count.value}}]" placeholder="Date of Birth" form="family_bg_update_form" value="{{child.fb_date_of_birth}}" required>
													<label for="fb_date_of_birth">Date of Birth</label>
												</div>
											</div>
											<a href="#" onclick="delete_child('{{child.id}}'); return false">Remove</a>
										</div>
									</div>


									{% endif %}

									
								{% endif %}
								{% endif %}

								{% endfor %}
						  


						  {%else%}
									
						  <div class="card shadow-sm mb-3">
							  <div class="card-body">
								  <input type="hidden" class="form-control" name ="fb_relationship[4]" placeholder="" form="family_bg_form" value="CHILD" required>
									  <div class="d-md-flex flex-row">
										  <div class="form-floating flex-fill mb-3 p-1">
											  <input type="text" class="form-control" name ="fb_last_name[4]" placeholder="Last Name" form="family_bg_form" required>
											  <label for="fb_last_name">Last Name</label>
										  </div>
										  <div class="form-floating flex-fill mb-3 p-1">
											  <input type="text" class="form-control" name ="fb_first_name[4]" placeholder="First Name" form="family_bg_form" required>
											  <label for="fb_first_name">First Name</label>
										  </div>
										  <div class="form-floating flex-fill mb-3 p-1">
											  <input type="text" class="form-control" name ="fb_middle_name[4]" placeholder="Middle Name" form="family_bg_form" required>
											  <label for="fb_middle_name">Middle Name</label>
										  </div>
										  <div class="form-floating flex-fill mb-3 p-1">
											  <input type="text" class="form-control" name ="fb_name_ext[4]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form" required>
											  <label for="fb_name_ext">Name Extension (Jr., Sr., II, III)</label>
										  </div>
									  </div>
									  <div class="d-md-flex flex-row">
										  <div class="form-floating flex-fill mb-3 p-1">
											  <input type="date" class="form-control" name ="fb_date_of_birth[4]" placeholder="Date of Birth" form="family_bg_form">
											  <label for="fb_date_of_birth">Date of Birth</label>
										  </div>
									  </div>
								  </div>
							  </div>

								{% endif %}
								<input type="hidden" value="{{child_count.value}}" id="child_count" name="child_count" form="family_bg_form">
								<input type="hidden" value="{{child_count.value}}" id="child_count" name="child_count" form="family_bg_update_form">

							<div id="add_child"></div>
						</div>
						<div class="col-sm-12 m-3 mt-0">
						<button type="button" class="btn btn-success" onclick="add_child()">Add</button>

						</div>
					</div>
			
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-primary" form="family_bg_form">SAVE</button>
					</div>
			</div>
		</div>


	</div>

</main>

{% endblock %}

{%block scripts%}
<script type="text/javascript">
	///ld/add-learning-and-development/{{emp_id}}
	window.onload = ()=>{
		activate_spouse(document.getElementById('is_spouse').value);
	}
	// document.addEventListener("load",()=>{
	// 	activate_spouse(document.getElementById('is_spouse'.value));
	// })
	function delete_child(id){
		fetch('/familyBg/delete-familyBg/{{user_profile.id}}', {
				method: 'POST',
				body: JSON.stringify({"id" : id})
			}).then((res)=>{
				if (res.status == 200){
					// document.getElementById('family_bg_form').reset();
				}
				return res.json();

			}).then((data)=>{
				window.location.reload();
			});
	}
	function activate_spouse(value){
		var spouse_ln = document.getElementById('spouse_ln');
		var spouse_fn = document.getElementById('spouse_fn');
		var spouse_mn = document.getElementById('spouse_mn');
		var spouse_ne = document.getElementById('spouse_ne');
		var spouse_oc = document.getElementById('spouse_oc');
		var spouse_eb = document.getElementById('spouse_bn');
		var spouse_ba = document.getElementById('spouse_ba');
		var spouse_cn = document.getElementById('spouse_cn');
		if(value == 'NO'){
			spouse_ln.disabled = true;
			spouse_fn.disabled = true;
			spouse_mn.disabled = true;
			spouse_ne.disabled = true;
			spouse_oc.disabled = true;
			spouse_eb.disabled = true;
			spouse_ba.disabled = true;
			spouse_cn.disabled = true;
		}else{
			spouse_ln.disabled = false;
			spouse_fn.disabled = false;
			spouse_mn.disabled = false;
			spouse_ne.disabled = false;
			spouse_oc.disabled = false;
			spouse_eb.disabled = false;
			spouse_ba.disabled = false;
			spouse_cn.disabled = false;
		}

	}

	function add_child(){
		document.getElementById('family_count').value ++;
		collection = document.getElementsByName('child_count');
		for (let i = 0; i < collection.length; i++) {
				collection[i].value ++
			}
		var x = document.getElementById('family_count').value
		document.getElementById('add_child').insertAdjacentHTML('beforebegin', `
						<div class="card shadow-sm mb-3" id="remove_child${x}">
							<div class="card-body">
								<input type="hidden" class="form-control" name ="fb_relationship[${x}]" placeholder="" form="family_bg_form" value="CHILD" required>
									<div class="d-md-flex flex-row">
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_last_name[${x}]" placeholder="Last Name" form="family_bg_form" required>
											<label for="fb_last_name">Last Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_first_name[${x}]" placeholder="First Name" form="family_bg_form" required>
											<label for="fb_first_name">First Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_middle_name[${x}]" placeholder="Middle Name" form="family_bg_form" required>
											<label for="fb_middle_name">Middle Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_name_ext[${x}]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form" required>
											<label for="fb_name_ext">Name Extension (Jr., Sr., II, III)</label>
										</div>
									</div>
									<div class="d-md-flex flex-row">
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="date" class="form-control" name ="fb_date_of_birth[${x}]" placeholder="Date of Birth" form="family_bg_form" required>
											<label for="fb_date_of_birth">Date of Birth</label>
										</div>
									</div>
									<a href="#" onclick="remove_child('remove_child${x}'); return false">Remove</a>
								</div>
							</div>
		`);
	}
	function remove_child(id){
		collection = document.getElementsByName('child_count');
		for (let i = 0; i < collection.length; i++) {
				collection[i].value --
			}
		document.getElementById(id).remove();
	}
	document.getElementById('family_bg_form').addEventListener('submit', (e)=>{
		e.preventDefault();
		var formElem = document.getElementById("family_bg_form");
		let formData = new FormData(formElem);

		const data = {}
		formData.forEach((value, key) => (data[key] = value))
		
		// console.log(data)
		fetch('/familyBg/add-familyBg/{{user_profile.id}}', {
				method: 'POST',
				body: formData
			}).then((res)=>{
				if (res.status == 200){
					// document.getElementById('family_bg_form').reset();
				}
				return res.json();

			}).then((data)=>{
					triggerToast(data); //this is the returned error message

					var formElem2 = document.getElementById("family_bg_update_form");
					
					let formData2 = new FormData(formElem2);

					const data2 = {}
					formData2.forEach((value, key) => (data2[key] = value))
					
					fetch('/familyBg/update-familyBg/{{user_profile.id}}', {
						method: 'POST',
						body: formData2
					}).then((res)=>{
						if (res.status == 200){
							// document.getElementById('family_bg_update_form').reset();
						}
						return res.json();

					}).then((data)=>{
							triggerToast(data); //this is the returned error message
							
							// activate_spouse('YES')
					})
			})

	});




</script>
{%endblock%}