{% extends 'base.html' %}

{% block title %} Family Background {% endblock %}

{%block cssperfile %} 
<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}
</style>


<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<main class="container">
	
	<div class="row mb-3">
		<!-- <div class="col-sm-12">
			<button class="btn btn-secondary btn-sm m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">New Service Record</button>
		</div> -->
		<div class="card mb-3">
			<div class="card-body">
				<form id="family_bg_form" action="#" method="POST"></form>
					<h3 class="card-title">Family Background</h3> 
						<div class="card shadow-sm mb-3">
							{% if user_profile.familyBg %}
							{% set count_family_update = namespace(value=4) %}

						{% for family in user_profile.familyBg %}
						
							{% if family.fb_relationship == "SPOUSE" %}
						  <div class="card-body">
							<h5 class="card-title">Spouse's Information</h5> 
							<input type="hidden" class="form-control" name ="fb_relationship[1]" placeholder="" form="family_bg_form" value="SPOUSE" required>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_last_name[1]" placeholder="Last Name" form="family_bg_form" value="{{family.fb_last_name}}" required>
									<label for="fb_last_name[1]">Last Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_first_name[1]" placeholder="First Name" form="family_bg_form" value="{{family.fb_first_name}}" required>
									<label for="fb_first_name[1]">First Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_middle_name[1]" placeholder="Middle Name" form="family_bg_form" value="{{family.fb_middle_name}}" required>
									<label for="fb_middle_name[1]">Middle Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_name_ext[1]" placeholder="Middle Name" form="family_bg_form" value="{{family.fb_name_ext}}" required>
									<label for="fb_name_ext[1]">Name Extension</label>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
								<input type="text" class="form-control" name ="fb_occupation[1]" placeholder="Occupation" form="family_bg_form" value="{{family.fb_occupation}}" required>
								<label for="fb_occupation[1]">Occupation</label>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1 col-md-6">
									<input type="text" class="form-control" name ="fb_employer_business_name[1]" placeholder="Employer / Business Name" form="family_bg_form" value="{{family.fb_employer_business_name}}" required>
									<label for="fb_employer_business_name[1]">Employer / Business Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1 col-md-6">
								<input type="text" class="form-control" name ="fb_business_address[1]" placeholder="Employer / Business Address" form="family_bg_form" value="{{family.fb_business_address}}">
								<label for="fb_business_address[1]">Employer / Business Address</label>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1 col-md-6">
									<input type="text" class="form-control" name ="fb_contact_no[1]" placeholder="Employer / Business Contact No." form="family_bg_form" value="{{family.fb_contact_no}}">
									<label for="fb_contact_no[1]">Employer / Business Contact No.</label>
								</div>
							</div>
						</div>
						{%endif%}
					  </div>

					  {% if family.fb_relationship == "FATHER" or family.fb_relationship == "MOTHER" %}
					  <div class="card shadow-sm mb-3">
						<div class="card-body">
						  <h5 class="card-title">Parents' Information</h5>  
						  <input type="hidden" class="form-control" name ="fb_relationship[2]" placeholder="" form="family_bg_form" value="FATHER" required>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_last_name[2]" placeholder="Last Name" form="family_bg_form" required>
									<label for="fb_last_name">Father's Last Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_first_name[2]" placeholder="First Name" form="family_bg_form" required>
									<label for="fb_first_name">Father's First Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_middle_name[2]" placeholder="Middle Name" form="family_bg_form" required>
									<label for="fb_middle_name">Father's Middle Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_name_ext[2]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form" required>
									<label for="fb_name_ext">Father's Name Extension (Jr., Sr., II, III)</label>
								</div>
							</div>

								<input type="hidden" class="form-control" name ="fb_relationship[3]" placeholder="" form="family_bg_form" value="MOTHER" required>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_name_ext[3]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form" required>
									<label for="fb_name_ext">Mother's Maiden Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_last_name[3]" placeholder="Last Name" form="family_bg_form" required>
									<label for="fb_last_name">Mother's Last Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_first_name[3]" placeholder="First Name" form="family_bg_form" required>
									<label for="fb_first_name">Mother's First Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_middle_name[3]" placeholder="Middle Name" form="family_bg_form" required>
									<label for="fb_middle_name">Mother's Middle Name</label>
								</div>
							</div>
						{% endif %}
						</div>
					</div>
					
					{% if family.fb_relationship == "CHILD" %}
					{% set count_family_update.value = count_family_update.value+1 %}

						<div class="card shadow-sm mb-3">
							<div class="card-body">
							<h5 class="card-title">Children's Information</h5>
							<input type="hidden" class="form-control" name ="fb_relationship[4]" placeholder="" form="family_bg_form" value="CHILD" required>
								<div class="d-md-flex flex-row">
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_last_name[4]" placeholder="Last Name" form="family_bg_form" required>
										<label for="fb_last_name">Last Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_first_name[4]" placeholder="First Name" form="family_bg_form" required>
										<label for="fb_first_name">First Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_middle_name[4]" placeholder="Middle Name" form="family_bg_form" required>
										<label for="fb_middle_name">Middle Name</label>
									</div>
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="text" class="form-control" name ="fb_name_ext[4]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form" required>
										<label for="fb_name_ext">Name Extension (Jr., Sr., II, III)</label>
									</div>
								</div>
								<div class="d-md-flex flex-row">
									<div class="form-floating flex-fill mb-3 p-1">
										<input type="date" class="form-control" name ="fb_date_of_birth[4]" placeholder="Date of Birth" form="family_bg_form" required>
										<label for="fb_date_of_birth">Date of Birth</label>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
					{%endfor%}
					<input type="text" class="form-control" name ="family_count" id ="family_count" value="{{count_family_update.value}}" form="family_bg_form" value="SPOUSE" required>

					{% else %}
						<div class="card-body">
							<h5 class="card-title">Spouse's Information</h5> 
							<input type="hidden" class="form-control" name ="fb_relationship[1]" placeholder="" form="family_bg_form" value="SPOUSE" required>
							<input type="hidden" class="form-control" name ="family_count" id ="family_count" value="4" form="family_bg_form" value="SPOUSE" required>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_last_name[1]" placeholder="Last Name" form="family_bg_form" value="" required>
									<label for="fb_last_name[1]">Last Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_first_name[1]" placeholder="First Name" form="family_bg_form" value="" required>
									<label for="fb_first_name[1]">First Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_middle_name[1]" placeholder="Middle Name" form="family_bg_form" value="" required>
									<label for="fb_middle_name[1]">Middle Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_name_ext[1]" placeholder="Middle Name" form="family_bg_form" value="" required>
									<label for="fb_name_ext[1]">Name Extension</label>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
								<input type="text" class="form-control" name ="fb_occupation[1]" placeholder="Occupation" form="family_bg_form" value="" required>
								<label for="fb_occupation[1]">Occupation</label>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1 col-md-6">
									<input type="text" class="form-control" name ="fb_employer_business_name[1]" placeholder="Employer / Business Name" form="family_bg_form" value="" required>
									<label for="fb_employer_business_name[1]">Employer / Business Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1 col-md-6">
								<input type="text" class="form-control" name ="fb_business_address[1]" placeholder="Employer / Business Address" form="family_bg_form" value="">
								<label for="fb_business_address[1]">Employer / Business Address</label>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1 col-md-6">
									<input type="text" class="form-control" name ="fb_contact_no[1]" placeholder="Employer / Business Contact No." form="family_bg_form" value="">
									<label for="fb_contact_no[1]">Employer / Business Contact No.</label>
								</div>
							</div>
						</div>

					  </div>
					  <div class="card shadow-sm mb-3">
						<div class="card-body">
						  <h5 class="card-title">Parents' Information</h5>  
						  <input type="hidden" class="form-control" name ="fb_relationship[2]" placeholder="" form="family_bg_form" value="FATHER" required>
							<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_last_name[2]" placeholder="Last Name" form="family_bg_form" required>
									<label for="fb_last_name">Father's Last Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_first_name[2]" placeholder="First Name" form="family_bg_form" required>
									<label for="fb_first_name">Father's First Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_middle_name[2]" placeholder="Middle Name" form="family_bg_form" required>
									<label for="fb_middle_name">Father's Middle Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_name_ext[2]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form" required>
									<label for="fb_name_ext">Father's Name Extension (Jr., Sr., II, III)</label>
								</div>
							</div>
								<input type="text" class="form-control" name ="fb_relationship[3]" placeholder="" form="family_bg_form" value="MOTHER" required>
								<div class="d-md-flex flex-row">
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_name_ext[3]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form" required>
									<label for="fb_name_ext">Mother's Maiden Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_last_name[3]" placeholder="Last Name" form="family_bg_form" required>
									<label for="fb_last_name">Mother's Last Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_first_name[3]" placeholder="First Name" form="family_bg_form" required>
									<label for="fb_first_name">Mother's First Name</label>
								</div>
								<div class="form-floating flex-fill mb-3 p-1">
									<input type="text" class="form-control" name ="fb_middle_name[3]" placeholder="Middle Name" form="family_bg_form" required>
									<label for="fb_middle_name">Mother's Middle Name</label>
								</div>
							</div>
						</div>
					</div>
					<div class="card shadow-sm mb-3">
						<div class="card-body">
						  <h5 class="card-title">Children's Information</h5>

						  <div class="card shadow-sm mb-3">
							<div class="card-body">
								<input type="hidden" class="form-control" name ="fb_relationship[4]" placeholder="" form="family_bg_form" value="CHILD" required>
									<div class="d-md-flex flex-row">
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_last_name[4]" placeholder="Last Name" form="family_bg_form" required>
											<label for="fb_last_name">Last Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_first_name[4]" placeholder="First Name" form="family_bg_form" required>
											<label for="fb_first_name">First Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_middle_name[4]" placeholder="Middle Name" form="family_bg_form" required>
											<label for="fb_middle_name">Middle Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_name_ext[4]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form" required>
											<label for="fb_name_ext">Name Extension (Jr., Sr., II, III)</label>
										</div>
									</div>
									<div class="d-md-flex flex-row">
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="date" class="form-control" name ="fb_date_of_birth[4]" placeholder="Date of Birth" form="family_bg_form" required>
											<label for="fb_date_of_birth">Date of Birth</label>
										</div>
									</div>
								</div>
							</div>

							<div id="add_child"></div>
						</div>
						<div class="col-sm-12 m-3 mt-0">
						<button type="button" class="btn btn-primary" onclick="add_child()">Add</button>

						</div>
					</div>
					{% endif %}
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-primary" form="family_bg_form">Submit</button>
					</div>
			</div>
		</div>
	</div>

</main>

{% endblock %}

{%block scripts%}
<script type="text/javascript">
	///ld/add-learning-and-development/{{emp_id}}
	function add_child(){
		document.getElementById('family_count').value ++;
		var x = document.getElementById('family_count').value
		document.getElementById('add_child').insertAdjacentElement('beforebegin', `
		<div class="card shadow-sm mb-3">
							<div class="card-body">
								<input type="hidden" class="form-control" name ="fb_relationship[${x}]" placeholder="" form="family_bg_form" value="CHILD" required>
									<div class="d-md-flex flex-row">
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_last_name[${x}]" placeholder="Last Name" form="family_bg_form" required>
											<label for="fb_last_name">Last Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_first_name[${x}]" placeholder="First Name" form="family_bg_form" required>
											<label for="fb_first_name">First Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_middle_name[${x}]" placeholder="Middle Name" form="family_bg_form" required>
											<label for="fb_middle_name">Middle Name</label>
										</div>
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="text" class="form-control" name ="fb_name_ext[${x}]" placeholder="Name Extension (Jr., Sr., II, III)" form="family_bg_form" required>
											<label for="fb_name_ext">Name Extension (Jr., Sr., II, III)</label>
										</div>
									</div>
									<div class="d-md-flex flex-row">
										<div class="form-floating flex-fill mb-3 p-1">
											<input type="date" class="form-control" name ="fb_date_of_birth[${x}]" placeholder="Date of Birth" form="family_bg_form" required>
											<label for="fb_date_of_birth">Date of Birth</label>
										</div>
									</div>
								</div>
							</div>
		`);
	}
	document.getElementById('family_bg_form').addEventListener('submit', (e)=>{
		e.preventDefault();
		var formElem = document.getElementById("family_bg_form");
		let formData = new FormData(formElem);

		const data = {}
		formData.forEach((value, key) => (data[key] = value))
		
		console.log(data)
		fetch('/familyBg/add-familyBg/{{user_profile.id}}', {
				method: 'POST',
				body: formData
			}).then((res)=>{
				if (res.status == 200){
					document.getElementById('family_bg_form').reset();
				}
				return res.json();

			}).then((data)=>{
					triggerToast(data); //this is the returned error message
			})

	});
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })



})()



</script>
{%endblock%}