{% extends 'base.html' %}

{% block title %} Learning and Development {% endblock %}

{%block cssperfile %} 
<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}
</style>


<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<main class="container-fluid">
	
	<div class="row mb-3">
		<!-- <div class="col-sm-12">
			<button class="btn btn-secondary btn-sm m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">New Service Record</button>
		</div> -->
		<div class="card mb-3">
			<div class="card-body">
				<!-- <h3 class="card-title">Learning & Development</h3> -->
				<form id="add_ld_form" action="#" method="POST"></form>
					<h3 class="card-title"><i class="bi bi-lightbulb"></i> Learning & Development</h3>
					  <!-- <input type="hidden" class="form-control" id="ld_no_fields" name ="ld_no_fields" placeholder="No. of Fields" min="1" max="10" form="add_ld_form" value="1"> -->
						<div class="card shadow-sm mb-3">
						  <div class="card-body">
						  <div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="text" class="form-control" name ="ld_program" placeholder="Interventions/Training Program" form="add_ld_form" required>
							  <label for="ld_program[1]">Title of L&D Interventions / Training Programs</label>
							</div>
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="date" class="form-control" name ="ld_date_from" placeholder="Inclusive Date of Attendance From" form="add_ld_form" required>
							  <label for="ld_date_from[1]">Inclusive Date of Attendance From</label>
							</div>
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="date" class="form-control" name ="ld_date_to" placeholder="Inclusive Date of Attendance To" form="add_ld_form" required>
							  <label for="ld_date_to[1]">Inclusive Date of Attendance To</label>
							</div>
						  </div>
						  <div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="number" class="form-control" name ="ld_no_hours" placeholder="Rating" form="add_ld_form" required>
							  <label for="ld_no_hours[1]">Number of Hours</label>
							</div>
							<!-- <div class="form-floating flex-fill mb-3 p-1">
							  <input type="text" class="form-control" name ="ld_type" placeholder="Type of Learning & Development (Ex. Manegerial, Supervisory, Technical)" form="add_ld_form" required>
							  <label for="ld_type[1]" style="font-size: 12px;">Type of Learning & Development (Ex. Managerial, Supervisory, Technical)</label>
							</div> -->
							<!-- <div class="form-floating flex-fill mb-3 p-1">
								<label for="ld_type[1]" style="font-size: 11px;">Type of Learning & Development (Ex. Manegerial, Supervisory, Technical, etc.)</label>
								<select class="form-select" id="ld_type[1]" name="ld_type[1]" aria-label="Floating label select example" value="" form="add_ld_form">
								  <option value="Managerial">Managerial</option>
								  <option value="Supervisory">Supervisory</option>
								  <option value="Technical">Technical</option>
								  <option value="Foundation">Foundation</option>
								</select>
							  </div> -->
							  <div class="form-floating flex-fill mb-3 p-1">
								<select class="form-select" id="ld_type" name="ld_type" aria-label="Floating label select example" form="add_ld_form">
									<option value="Managerial">Managerial</option>
									<option value="Supervisory">Supervisory</option>
									<option value="Technical">Technical</option>
									<option value="Foundation">Foundation</option>
								</select>
								<label for="ld_type[1]" style="font-size: 13.5px;">Type of Learning & Development (Ex. Manegerial, Supervisory, Technical, etc.)</label>
							  </div>
						  </div>
						  <div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1 col-md-6">
							  <input type="text" class="form-control" name ="ld_sponsored_by" placeholder="Conducted / Sponsored By" form="add_ld_form">
							  <label for="ld_sponsored_by[1]">Conducted / Sponsored By</label>
							</div>
						  </div>
						  <div class="d-md-flex flex-row">
							<div class="flex-fill mb-3">
								<label for="ld_attachment">Attachment (Only PDF files are allowed)</label>
								<input type="file" class="form-control" id="ld_attachment" name ="ld_attachment" form="add_ld_form" required>
							  </div>
						  </div>

						  <div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" form="add_ld_form">Submit</button>
						</div>
						</div>
						
					  </div>
				
				  <div class="card shadow-sm mb-3">
					<div class="card-body">
						<div class="col-sm-12">
							<div class="table-responsive">
								<table class="table table-striped" id="ld_table" width = "100%">
									<thead class="">
									<tr>
										<th scope="col">Title of L&D Interventions / Training Programs</th>
										<th scope="col">Inclusive Date (From)</th>
										<th scope="col">Inclusive Date (To)</th>
										<th scope="col">No. of Training Hours</th>
										<th scope="col">Type of L&D</th>
										<th scope="col">Conducted / Sponsored By</th>
										<th scope="col">Controls</th>
									</tr>
									</thead>
									<tbody>
									<tr>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="card shadow-sm mb-3">
					<div class="card-body">
					  <h3 class="card-title">Attachments</h3>
						<div class="d-md-flex flex-row">
							
							<div class="container">
								<div class="row" style="max-width: 1500px;">
								{% for ld_attachment in user_profile.learning_development %}
								  <!-- <div class="flex-fill mb-3 p-1"> -->
									<div class="col-md-12">
									  <div class="alert alert-info alert-dismissible fade show text-truncate" role="alert">
										<i class="bi bi-file-pdf"></i>
										<a href="{{ld_attachment.ld_attachment}}" target="_blank">
										  <span class="">
											{{ld_attachment.ld_attachment_file_name}}
										  </span>
										</a>
										<!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id = "{{ld_attachment.id}}" onclick="delete_file(this)"></button> -->
									  </div>
									</div>
								  <!-- </div> -->
								{% endfor %}
								</div>
							  </div>

					  </div>
					</div>
				  </div>

			</div>
		</div>
	</div>

</main>

{% endblock %}

{%block scripts%}
<script type="text/javascript">
	///ld/add-learning-and-development/{{emp_id}}
	document.getElementById('add_ld_form').addEventListener('submit', (e)=>{
		e.preventDefault();
		var formElem = document.getElementById("add_ld_form");
		let formData = new FormData(formElem);

		const data = {}
		formData.forEach((value, key) => (data[key] = value))
		
		console.log(data)
		fetch('/ld/add-learning-and-development/{{emp_id}}', {
				method: 'POST',
				body: formData
			}).then((res)=>{
				if (res.status == 413){
					triggerToast("The selected file exceeds maximum limit size of 50MB."); 
				}else if (res.status == 406){
					// return res.json();
					// do nothong
				}else{
					document.getElementById('add_ld_form').reset();

				}
				return res.json();

			}).then((data)=>{
					triggerToast(data); //this is the returned error message
					var table = $('#ld_table').DataTable();
					table.ajax.reload();
					window.location.reload();
			})

	});
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })

	var ld_table = $('#ld_table').DataTable( {
		language: {
            searchBuilder: {
				add: `Add Filter`
            }
        },
		bSortCellsTop: true,
		// bLengthChange: true,
		scrollX: true,
		// responsive: true,
		// colReorder: true,
        // dom: 'QBfrtip',
		
		dom: `Q<'row'<'col-sm-4 col-md-4'l><'col-sm-4 col-md-4'B><'col-sm-4 col-md-4'f>>
				<'row'<'col-sm-12'tr>>
				<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>`,
		lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
		buttons: [
			
				{
					extend: 'print',
					customize: function ( win ) {
						$(win.document.body)
							.css( 'font-size', '10pt' )
							.prepend(
								'<img src="../static/img/nia-logo.png" style="position:absolute; top:0; left:0;" />'
							);
	
						$(win.document.body).find( 'table' )
							.addClass( 'compact text-center' )
							.css( 'font-size', 'inherit' );
					},
					exportOptions: {
						columns: [':visible']
					}
            	},
					{
					text: 'Copy',
					extend: 'copyHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
				{
					text: 'Excel',
					extend: 'excelHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
				{
					text: 'PDF',
					extend: 'pdfHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
        ],
        "ajax": {
            "method" : "GET",
            "url": "/ld/get-learning-and-development/{{emp_id}}",
            "dataSrc": ""
        },

        "columns": [
			{ "data": "ld_program"},
			{ "data": "ld_date_from"},
			{ "data": "ld_date_to"},
			{ "data": "ld_no_hours"},
			{ "data": "ld_type"},
			{ "data": "ld_sponsored_by"},
            {
              data: null,
			  searchable: false,
              render: function ( data, type, row ) {
                return `
				<div class="d-sm-flex flex-row">
					<a class="btn btn-danger btn-sm m-2" title="Remove" id="${data.id}" onclick = "delete_ld(this)">
						<i class="bi bi-trash"></i>
					</a>
				</div>`;
              }
            }
        ]
    } );

})()
function delete_ld(el){
	// alert(el.id)
	fetch('/ld/delete-ld',{
		method: 'POST',
		body: JSON.stringify({"ld_id" : el.id})
	})
		.then(response => response.json())
		.then(data => {
			// triggerToast(data)
			window.location.reload()
		});
}


</script>
{%endblock%}