{% extends 'base.html' %}

{% block title %} Learning and Development {% endblock %}

{%block cssperfile %} 
<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}
</style>

<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<main class="container-fluid mt-4 ps-5 pe-5 pb-5">
	<ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	  </ul>
	<div class="row mb-3">
		<!-- <div class="col-sm-12">
			<button class="btn btn-secondary btn-sm m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">New Service Record</button>
		</div> -->
		<div class="card container">
			<div class="card-body">
				<!-- <h3 class="card-title">Learning & Development</h3> -->
				<form id="add_ld_form" action="#" method="POST" enctype="multipart/form-data"></form>
				<form id="add_ld_form" action="#" method="POST" enctype="multipart/form-data"></form>
				<div class="card text-white bg-blue shadow-sm mb-3" >
					<div class="card-header">
						<h3 class="card-title"><i class="bi bi-lightbulb"></i> Learning & Development</h3>
					</div>
					<div class="card-body">
					  <!-- <h5 class="card-title">Description</h5> -->
					  <ul>
						<li><p class="card-text">Please fill out all necessary fields.</p></li>
						<li><p class="card-text">Take note that updating your file attachment will overwirte the old attachment.</p></li>
					  </ul>
					</div>
				</div>
					  <!-- <input type="hidden" class="form-control" id="ld_no_fields" name ="ld_no_fields" placeholder="No. of Fields" min="1" max="10" form="add_ld_form" value="1"> -->
						<div class="card shadow-sm mb-3">
						  <div class="card-body">

						  <div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="text" class="form-control" name ="ld_program" placeholder="Interventions/Training Program" form="add_ld_form" required>
							  <label for="ld_program[1]">Title of L&D Interventions / Training Programs</label>
							</div>
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="date" class="form-control" name ="ld_date_from" placeholder="Inclusive Date of Attendance From" form="add_ld_form" required>
							  <label for="ld_date_from[1]">Inclusive Date of Attendance From</label>
							</div>
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="date" class="form-control" name ="ld_date_to" placeholder="Inclusive Date of Attendance To" form="add_ld_form" required>
							  <label for="ld_date_to[1]">Inclusive Date of Attendance To</label>
							</div>
						  </div>
						  <div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1">
							  <input type="number" class="form-control" name ="ld_no_hours" placeholder="Rating" form="add_ld_form" required>
							  <label for="ld_no_hours[1]">Number of Hours</label>
							</div>
							<!-- <div class="form-floating flex-fill mb-3 p-1">
							  <input type="text" class="form-control" name ="ld_type" placeholder="Type of Learning & Development (Ex. Manegerial, Supervisory, Technical)" form="add_ld_form" required>
							  <label for="ld_type[1]" style="font-size: 12px;">Type of Learning & Development (Ex. Managerial, Supervisory, Technical)</label>
							</div> -->
							<!-- <div class="form-floating flex-fill mb-3 p-1">
								<label for="ld_type[1]" style="font-size: 11px;">Type of Learning & Development (Ex. Manegerial, Supervisory, Technical, etc.)</label>
								<select class="form-select" id="ld_type[1]" name="ld_type[1]" aria-label="Floating label select example" value="" form="add_ld_form">
								  <option value="Managerial">Managerial</option>
								  <option value="Supervisory">Supervisory</option>
								  <option value="Technical">Technical</option>
								  <option value="Foundation">Foundation</option>
								</select>
							  </div> -->
							  <div class="form-floating flex-fill mb-3 p-1">
								<select class="form-select" id="ld_type" name="ld_type" aria-label="Floating label select example" form="add_ld_form">
									<option value="MANAGERIAL">MANAGERIAL</option>
									<option value="SUPERVISORY">SUPERVISORY</option>
									<option value="TECHNICAL">TECHNICAL</option>
									<option value="FOUNDATION">FOUNDATION</option>
								</select>
								<label for="ld_type[1]" style="font-size: 13.5px;">Type of Learning & Development (Ex. Managerial, Supervisory, Technical, etc.)</label>
							  </div>
						  </div>
						  <div class="d-md-flex flex-row">
							<div class="form-floating flex-fill mb-3 p-1 col-md-6">
							  <input type="text" class="form-control" name ="ld_sponsored_by" id="ld_sponsored_by"  placeholder="Conducted By" form="add_ld_form" required>
							  <label for="ld_sponsored_by[1]">Conducted By</label>
							  <div class="form-check">
								<input class="form-check-input" type="checkbox" id="nia_pimo" name="nia_pimo" value = "NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE" form="add_ld_form">
								<label class="form-check-label" for="nia_pimo">
								  NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE
								</label>
							  </div>
							</div>
						  </div>
						  <div class="d-md-flex flex-row">
							<div class="flex-fill mb-3">
								<label for="ld_attachment">Attachment (Only PDF files are allowed)</label>
								<input type="file" class="form-control" id="ld_attachment" name ="ld_attachment" form="add_ld_form" required>
							  </div>
						  </div>

						  <div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" form="add_ld_form">Submit</button>
						</div>

						</div>
					  </div>
				
				  <div class="card shadow-sm mb-3">
					<div class="card-body">
						<div class="col-sm-12">
								<div class="table-responsive">
									<table class="table table-striped text-left" id="ld_table" width = "100%">
										<colgroup>
											<col style="width: 5%" />
											<col style="width: 30%" />
											<col style="width: 14.28%" />
											<col style="width: 14.28%" />
											<col style="width: 10%" />
											<col style="width: 14.28%" />
											<col style="width: 20%" />
											<col style="width: 14.28%" />
											<col style="width: 14.28%" />
										</colgroup>
										<thead class="">
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Title of L&D Interventions / Training Programs</th>
											<th scope="col">Inclusive Date (From)</th>
											<th scope="col">Inclusive Date (To)</th>
											<th scope="col">No. of Training Hours</th>
											<th scope="col">Type of L&D</th>
											<th scope="col">Conducted By</th>
											<th scope="col">Attachment</th>
											<th scope="col">Controls</th>
										</tr>
										</thead>
										<tbody>
										<tr>
										</tr>
										</tbody>
									</table>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- ----------------------------------------------------------------------- -->
<!--                                 Modals                                  -->
<!-- ----------------------------------------------------------------------- -->
<div class="modal fade" id="viewExpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewExpModal" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-fullscreen-sm-down">
	  <div class="modal-content">
		<div class="modal-header text-white bg-blue">
		  <h5 class="modal-title" id="viewExpModal"><i class="bi bi-lightbulb"></i>Edit Learning & Development</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <div class="row mb-3 container">
			<div class="card mb-3">
				<div class="card-body">
					<form action="#" method="POST" name="update_ld_form" id="update_ld_form" enctype="multipart/form-data"></form>
                <input type="hidden" class="form-control" name ="id" id="update_id" placeholder="" value="" form="update_ld_form">
					<div class="d-md-flex flex-row">
						<div class="form-floating flex-fill mb-3 p-1">
						  <input type="text" class="form-control" id ="update_ld_program" name ="ld_program" placeholder="Interventions/Training Program" form="update_ld_form" required>
						  <label for="ld_program[1]">Title of L&D Interventions / Training Programs</label>
						</div>
						<div class="form-floating flex-fill mb-3 p-1">
						  <input type="date" class="form-control"  id ="update_ld_date_from" name ="ld_date_from" placeholder="Inclusive Date of Attendance From" form="update_ld_form" required>
						  <label for="ld_date_from[1]">Inclusive Date of Attendance From</label>
						</div>
						<div class="form-floating flex-fill mb-3 p-1">
						  <input type="date" class="form-control" id ="update_ld_date_to" name ="ld_date_to" placeholder="Inclusive Date of Attendance To" form="update_ld_form" required>
						  <label for="ld_date_to[1]">Inclusive Date of Attendance To</label>
						</div>
					  </div>
					  <div class="d-md-flex flex-row">
						<div class="form-floating flex-fill mb-3 p-1">
						  <input type="number" class="form-control" id ="update_ld_no_hours" name ="ld_no_hours" placeholder="Rating" form="update_ld_form" required>
						  <label for="ld_no_hours[1]">Number of Hours</label>
						</div>
						  <div class="form-floating flex-fill mb-3 p-1">
							<select class="form-select" id="update_ld_type" name="ld_type" aria-label="Floating label select example" form="update_ld_form">
								<option value="MANAGERIAL">MANAGERIAL</option>
								<option value="SUPERVISORY">SUPERVISORY</option>
								<option value="TECHNICAL">TECHNICAL</option>
								<option value="FOUNDATION">FOUNDATION</option>
							</select>
							<label for="update_ld_no_hours" style="font-size: 12px;">Type of Learning & Development (Ex. Managerial, Supervisory, Technical, etc.)</label>
						  </div>
					  </div>
					  <div class="d-md-flex flex-row">
						<div class="form-floating flex-fill mb-3 p-1 col-md-6">
						  <input type="text" class="form-control" id ="update_ld_sponsored_by" name ="ld_sponsored_by" placeholder="Conducted By" form="update_ld_form" required>
						  <label for="ld_sponsored_by[1]">Conducted By</label>
						  <div class="form-check">
							<input class="form-check-input" type="checkbox" id="update_nia_pimo" name="nia_pimo" value = "NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE" form="update_ld_form">
							<label class="form-check-label" for="update_nia_pimo">
							  NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE
							</label>
						  </div>
						</div>
					  </div>
					  <div class="d-md-flex flex-row">
						<div class="flex-fill mb-3">
							<label for="ld_attachment">Attachment (Only PDF files are allowed)</label>
							<input type="file" class="form-control" id="update_ld_attachment" name ="ld_attachment" form="update_ld_form">
						  </div>
					  </div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" form="update_ld_form">Save changes</button>
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
  </div>

{% endblock %}

{%block scripts%}
<script type="text/javascript">
	///ld/add-learning-and-development/{{emp_id}}
	document.getElementById('add_ld_form').addEventListener('submit', (e)=>{
		e.preventDefault();

		loadingScreen('block');

		var formElem = document.getElementById("add_ld_form");
		let formData = new FormData(formElem);

		const data = {}
		formData.forEach((value, key) => (data[key] = value))
		
		// console.log(data)
		fetch('/ld/add-learning-and-development/{{emp_id}}', {
				method: 'POST',
				body: formData
			}).then((res)=>{
				if (res.status == 413){
					// triggerToast("The selected file exceeds maximum limit size of 50MB."); 
				}else if (res.status == 406){
					 triggerToast("Invalid File Submitted.", 'error'); 

					// return res.json();
					// do nothong
				}else{
					document.getElementById('add_ld_form').reset();

				}
				return res.json();

			}).then((data)=>{
					triggerToast(data, "success"); //this is the returned error message
					var table = $('#ld_table').DataTable();
					table.ajax.reload();
					nia_pimo();
					loadingScreen('none');

					// window.location.reload();
			})

	});
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })

	var ld_table = $('#ld_table').DataTable( {
		// language: {
        //     searchBuilder: {
		// 		add: `Add Filter`
        //     }
        // },
		bSortCellsTop: true,
		// bLengthChange: true,
		scrollX: true,
		responsive: true,
		// colReorder: true,
        // dom: 'QBfrtip',
		
		dom: `<'row'<'col-sm-4 col-md-4'l><'col-sm-4 col-md-4'><'col-sm-4 col-md-4'f>>
				<'row'<'col-sm-12'tr>>
				<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>`,
		lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "order": [[ 0, "desc" ]],

		buttons: [
			
				{
					extend: 'print',
					customize: function ( win ) {
						$(win.document.body)
							.css( 'font-size', '10pt' )
							.prepend(
								'<img src="../static/img/nia-logo.png" style="position:absolute; top:0; left:0;" />'
							);
	
						$(win.document.body).find( 'table' )
							.addClass( 'compact text-center' )
							.css( 'font-size', 'inherit' );
					},
					exportOptions: {
						columns: [':visible']
					}
            	},
					{
					text: 'Copy',
					extend: 'copyHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
				{
					text: 'Excel',
					extend: 'excelHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
				{
					text: 'PDF',
					extend: 'pdfHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
        ],
        "ajax": {
            "method" : "GET",
            "url": "/ld/get-learning-and-development/{{emp_id}}",
            "dataSrc": ""
        },

        "columns": [
			{ "data": "id"},
			{ "data": "ld_program"},
			{ "data": "ld_date_from"},
			{ "data": "ld_date_to"},
			{ "data": "ld_no_hours"},
			{ "data": "ld_type"},
			{ "data": "ld_sponsored_by"},
			{
              data: null,
			  searchable: false,
              render: function ( data, type, row ) {
                return `
				<div class="d-sm-flex flex-row">
					<a href="../${data.ld_attachment}" title="View Attachment" id="${data.appointment_attachment_file_name}" target = "_blank" >
						<i class="bi bi-box-arrow-up-right"></i> Attachment
					</a>
				</div>`;
              }
            },
            {
              data: null,
			  searchable: false,
              render: function ( data, type, row ) {
                return `
				<div class="d-sm-flex flex-row">
					<a class="btn btn-primary btn-sm m-2" title="Edit" id="${data.id}"  data-bs-toggle="modal" data-bs-target="#viewExpModal" onclick = "edit_ld(this)">
						<i class="bi bi-pencil"></i>
					</a>
					<a class="btn btn-danger btn-sm m-2" title="Remove" id="${data.id}" onclick = "delete_ld(this)">
						<i class="bi bi-trash"></i>
					</a>
				</div>`;
              }
            }
        ],

    } );

})()

document.getElementById('update_ld_form').addEventListener('submit', (e)=>{
	e.preventDefault();
	var id = document.getElementById('update_id').value;
	var url = `/ld/save-ld/${id}/{{user_profile.id}}`;
            loadingScreen('block');
            let formData4 = new FormData(document.getElementById("update_ld_form"));
                
                const data4 = {}
                formData4.forEach((value, key) => (data4[key] = value));
               
                fetch(url, {
                method: 'POST',
                body: formData4
                }).then((res)=>{
				if (res.status == 406){
					triggerToast('Invalid file submitted. Only PDF files are allowed.')
                }
                else if (res.status == 200){
					// triggerToast('Successfully Saved Changes.')
                    return res.json()
                }
                
                }).then((data)=>{
					// triggerToast(data)
					loadingScreen('none');
					var myModal = document.getElementById('viewExpModal');
					var modal = bootstrap.Modal.getInstance(myModal).hide()
					// modal.hide();
                  $('#ld_table').DataTable().ajax.reload()
                //   document.getElementById('work_experience_form').reset()
                //   window.location.reload()

                });//END
})

function edit_ld(el){

    fetch(`/ld/edit-ld/${el.id}`,{
		method: 'GET'
	})
		.then(response => response.json())
		.then(data => {
			// console.log(data)
			document.getElementById('update_id').value = data[0].id;
			document.getElementById('update_ld_program').value = data[0].ld_program;
			document.getElementById('update_ld_date_from').value = data[0].ld_date_from;
			document.getElementById('update_ld_date_to').value = data[0].ld_date_to;
			document.getElementById('update_ld_no_hours').value = data[0].ld_no_hours;
			document.getElementById('update_ld_type').value = data[0].ld_type;
			document.getElementById('update_ld_sponsored_by').value = data[0].ld_sponsored_by;
			// document.getElementById('update_ld_attachment_file_').value = data[0].update_ld_attachment;
		});
  }



function delete_ld(el){
	// alert(el.id)
	loadingScreen("block");
	fetch('/ld/delete-ld',{
		method: 'POST',
		body: JSON.stringify({"ld_id" : el.id})
	})
		.then(response => response.json())
		.then(data => {
			// triggerToast(data)
			window.location.reload()
		});
}

function nia_pimo(){
		var nia_pimo = document.getElementById('nia_pimo');
		var station_place = document.getElementById('ld_sponsored_by');

		if(nia_pimo.checked){
			station_place.value = "";
			station_place.disabled = true;
			}
		else{
			station_place.disabled = false;
			}
	
	}

  function update_nia_pimo(){
		var nia_pimo = document.getElementById('update_nia_pimo');
		var station_place = document.getElementById('update_ld_sponsored_by');

		if(nia_pimo.checked){
			station_place.value = "NATIONAL IRRIGATION ADMINISTRATION - PANGASINAN IRRIGATION MANAGEMENT OFFICE";
			station_place.disabled = true;
			}
		else{
			station_place.disabled = false;
			}
	
	}

document.getElementById('nia_pimo').addEventListener('change', nia_pimo)
document.getElementById('update_nia_pimo').addEventListener('change', update_nia_pimo)

</script>
{%endblock%}