{% extends 'base.html' %}

{% block title %} Loyalty Awardees {% endblock %}

{%block cssperfile %} 
<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}

.truncate {
  max-width:150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

th{
  text-align: center;
}
td{
  text-align: left;
}
</style>
<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<main class="mt-4 mb-4">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <!-- ----------------------------------------------------------------------- -->
  <!--                         LIST OF awardeeS                                -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="row text-center d-flex justify-content-center">
        <div class="card shadow-sm mb-3 col-sm-8">
          <div class="card-body">

              <div class="card text-white bg-blue shadow-sm mb-3" >
                <div class="card-header"><h3 class="card-title text-center"><i class="bi bi-journals"></i> List of Loyalty Awardees</h3> </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-striped" id="loyalty_awardees_table" width = "100%">
                  <thead class="">
                  <tr class="align-middle">
                    <th style="word-wrap: break-word; min-width:160px; max-width:250px; white-space:normal;">Name</th>
                    <th style="word-wrap: break-word; min-width:160px; max-width:250px; white-space:normal;">First Day in Service <br>(No Gap)</th>
                    <th style="word-wrap: break-word; min-width:75px; max-width:90px; white-space:normal;">Number of Years in Service</th>
                    <th style="word-wrap: break-word; min-width:75px; max-width:90px; white-space:normal;">Claiming Year</th>
                  </tr>
                  </thead>
                  <tbody>
                    {# if getListOfawardees is not none #}
                      {% for awardee in getListOfawardees %}
                        <tr>
                          <td>{{awardee.proper_fullname}}</td>
                          <td class="text-center">{{awardee.first_day_in_service.strftime('%B %d, %Y')  if awardee.awardClaimingYear() is not none }}</td>
                          <td class="text-center">{{awardee.getYearsInService()}}</td>
                          <td class="text-center">{{awardee.awardClaimingYear().strftime('%B %d, %Y') if awardee.awardClaimingYear() is not none }}</td>
                        </tr>
                      {% endfor %}
                    {# endif #}
                  </tbody>
                </table>
              </div>

          </div>
        </div>

	</div>


</main>

{% endblock %}

{%block scripts%}

<script type="text/javascript">

   window.addEventListener('load',()=>{

    $('#loyalty_awardees_table').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend : 'excel', 
          text: 'Export to Excel',
          title: 'Optional awardees'
        }
      ],
      columnDefs:[{targets:3,className:"truncate"}],
        createdRow: function(row){
          var td = $(row).find(".truncate");
          td.attr("title", td.html());
      },
      responsive: false,
      order: [],
        dom: `<'row'<'col-sm-2'l><'col-sm-8'f><'col-sm-2'B>>
				<'row'<'col-sm-12'tr>>
				<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>`,
    });


});


</script>
{%endblock%}