{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{%block cssperfile %} 
	<!-- Custom style for login -->
	<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <!-- Custom styles for login -->

{% endblock %}

{% block content %}

<div class="container-fluid text-center">
	<main class="shadow-lg form-signin rounded">
		<img class="mb-4 img-fluid" id="" src="{{url_for('static', filename='img/nia-logo.gif')}}" alt="" width="192" height="192">
	  <form id="login_form" action="#" method="POST">
	    <h1 class="h3 mb-3 fw-bolder text-white">SIGN IN</h1>

	    <div class="form-floating mb-3">
	      <input type="number" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
	      <label for="floatingInput">Employee ID</label>
	    </div>
	    <div class="form-floating">
	      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
	      <label for="floatingPassword">Password</label>
	    </div>
	    
	    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
	    <div class="mb-3 ms-auto">
	      <label>
	        <a class="text-light" href="/check-token"> Sign Up </a>
	      </label>
	    </div>
	    <p class="mt-5 mb-3 text-light">&copy; 2021</p>
	  </form>
	</main>
</div>
{% endblock %}

{%block scripts%}
<script type="text/javascript">
	document.getElementById("login_form").addEventListener("submit", function(e){
  e.preventDefault()
  var formElem = document.getElementById("login_form");
  let loginData = new FormData(formElem);
  
  const data = {}
  loginData.forEach((value, key) => (data[key] = value))


  fetch('/', {
		method: 'POST',
		body: JSON.stringify(data),
	}).then((res)=>{
		
		//console.log(res.json())
		if (res.redirected) {
			triggerToast('Success!')
			window.location.href = res.url
		}else{
			return res.json()
		}
		
	})
	.then(err_msg => {
		triggerToast(err_msg);
	})
});
</script>
{%endblock%}