{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{%block cssperfile %} 
	<!-- Custom style for login -->
	<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
	<!-- <link href="http://fonts.cdnfonts.com/css/mistral" rel="stylesheet"> -->
	<link href="https://fonts.cdnfonts.com/css/cinzel-decorative-2" rel="stylesheet">

    <style>
		.title{
			/* font-family: 'Mistral', sans-serif; */
			font-family: 'Cinzel Decorative', sans-serif;
			font-size: 40px;
		}
	</style>
    <!-- Custom styles for login -->

{% endblock %}

{% block content %}

<div class="container-fluid text-center outer-box">
	<main class="shadow-lg form-signin rounded">
		<img class="mb-4 img-fluid" id="" src="{{url_for('static', filename='img/nia-logo.gif')}}" alt="" width="192" height="192">
	  <form id="login_form" action="#" method="POST">
	    <!-- <h4 class="mb-1 fw-bolder text-white">Pangasinan <br> Irrigation Management Office</h4> -->

	    <h1 class="h3 mb-3 fw-bolder text-white title">Online </br>201 File System</h1>

	    <div class="form-floating mb-3">
	      <input type="text" name="email" class="form-control" id="floatingInput" inputmode="numeric" pattern="[0-9]+" maxlength="6" placeholder="Employee ID No.">
	      <label for="floatingInput">Employee ID No.</label>
	    </div>
	    <div class="form-floating">
	      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
	      <label for="floatingPassword">Password</label>
	    </div>
	    
	    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
	    <div class="mb-3 ms-auto">
	      <label>
	        <a class="text-light" href="/check-token"> Sign Up</a>
	      </label>
		 <span class="text-light"> | </span>
		  <label>
	        <a class="text-light" href="#" onclick="triggerToast('Please Coordinate at Administrative Unit to Reset Your Password.', 'info')"> Forgot Password? </a>
	      </label>
	    </div>
	    <p class="mt-5 mb-3 text-light">&copy; 2022</p>
	  </form>
	</main>
</div>
{% endblock %}

{%block scripts%}
<script type="text/javascript">
	document.getElementById("login_form").addEventListener("submit", function(e){
  e.preventDefault()
  var formElem = document.getElementById("login_form");
  let loginData = new FormData(formElem);
  
  const data = {}
  loginData.forEach((value, key) => (data[key] = value))

  loadingScreen('block');
	
  fetch('/', {
		method: 'POST',
		body: JSON.stringify(data),
	}).then((res)=>{
		
		if(res.response == 403){
			triggerToast('Employee ID number does not exist!', 'error');

		}
		if (res.redirected) {
			
			triggerToast('Login Successful!', 'success');
			window.location.href = res.url;
		}else{
			return res.json();
		}
		
	})
	.then(err_msg => {
		if(err_msg == "id_does_not_exist"){
			triggerToast('Employee ID does not Exist!', 'error');
		}else if(err_msg == "incorrect_or_deactivated"){
			triggerToast('Incorrect Password or Account Deactivated.', 'error');
		}
  		loadingScreen('none');
	})
});
</script>
{%endblock%}