{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{%block cssperfile %} 
	<!-- Custom style for login -->
	<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
	<!-- <link href="http://fonts.cdnfonts.com/css/mistral" rel="stylesheet"> -->
	<link href="https://fonts.cdnfonts.com/css/cinzel-decorative-2" rel="stylesheet">
	<link href="https://fonts.cdnfonts.com/css/trajan-pro" rel="stylesheet">
                
	<!-- <link href="https://fonts.cdnfonts.com/css/cambridge" rel="stylesheet"> -->
	<link href="https://fonts.cdnfonts.com/css/h-haminda-script" rel="stylesheet">
	<link href="https://fonts.cdnfonts.com/css/teather" rel="stylesheet">

	<link href="https://fonts.cdnfonts.com/css/dream-collection" rel="stylesheet">
                
    <style>
		.title{
			/* font-family: 'Mistral', sans-serif; */
			/*font-family: 'Cinzel Decorative', sans-serif;*/
			font-family: 'Trajan Pro', sans-serif;
			font-size: 30px;
		}
		.sub-title{
			font-family: 'Dream Collection', sans-serif;
			/*font-family: 'h Haminda Script', sans-serif;*/
			font-weight: 100;
			font-size: 60px;
			line-height: 50px;
			
		}

		.center, .wrapper, .outer, .inner, .content, h4 {
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			z-index: -1;
	   }
		.outer {
			height: 200px;
			width: 200px;
			border-radius: 45%;
			background-image: -webkit-linear-gradient(left, #795def 25%, #eb3cf9 100%);
			background-image: -o-linear-gradient(left, #795def 25%, #eb3cf9 100%);
			background-image: linear-gradient(to right, #795def 25%, #eb3cf9 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF795DEF", endColorstr="#FFEB3CF9", GradientType=1);
	   }
		.inner {
			height: 175px;
			width: 175px;
			border-radius: 45%;
			background-image: -webkit-linear-gradient(left, #795def 25%, #eb3cf9 100%);
			background-image: -o-linear-gradient(left, #795def 25%, #eb3cf9 100%);
			background-image: linear-gradient(to right, #795def 25%, #eb3cf9 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF795DEF", endColorstr="#FFEB3CF9", GradientType=1);
	   }
		.content {
			height: 150px;
			width: 150px;
			background-color: #260e36;
			border-radius: 45%;
	   }
		h4 {
			text-align: center;
			vertical-align: middle;
			color: white;
			font-size: 24px;
			padding-bottom: 65px;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
	   }
		
	</style>
    <!-- Custom styles for login -->

{% endblock %}

{% block content %}

<div class="container-fluid text-center vw-100 vh-100 overflow-hidden position-relative">
	<main class="shadow-lg form-signin me-auto rounded position-absolute top-50 start-50 translate-middle">
		<!-- <img class="img-fluid" id="login-nia-logo" alt="NIA LOGO" width="192" height="192"> -->
		<!-- <img src="{{url_for('static', filename='img/nia-logo.png')}}" width="192" height="192"> -->
		<div class="position-relative mb-4">
			<div class="" style="z-index: 12;">
				<img src="{{url_for('static', filename='img/nia-logo.png')}}" width="178" height="178"/>
			</div>

			<div class="wrapper center" style="z-index: -1;">
				<div class="outer">
				</div>
				<div class="inner">
				</div>
				<div class="content">
				</div>
			</div>
			<h4>PIMO</h4>
			<!-- <img src="{{url_for('static', filename='img/nia-logo.png')}}" width="192" height="192" style="z-index: 12;"> -->

		</div>

	  <form id="login_form" action="#" method="POST">
	    <!-- <h4 class="mb-1 fw-bolder text-white">Pangasinan <br> Irrigation Management Office</h4> -->

	    <h1 class="text-white title">PANGASINAN IMO</h1>
	    <h6 class="fw-bolder text-white sub-title mb-4 mt-2 pt-2">Online 201 File System</h6>

	    <div class="form-floating mb-3">
	      <input type="text" name="email" class="form-control" id="floatingInput" inputmode="numeric" pattern="[0-9]+" maxlength="6" placeholder="Employee ID No.">
	      <label for="floatingInput">Employee ID No.</label>
	    </div>
	    <div class="form-floating">
	      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
	      <label for="floatingPassword">Password</label>
	    </div>
	    
	    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
	    <div class="mb-3 ms-auto">
	      <label>
	        <a class="text-light" href="/check-token"> Sign Up</a>
	      </label>
		 <span class="text-light"> | </span>
		  <label>
	        <a class="text-light" href="#" onclick="triggerToast('Please Coordinate at Administrative Unit to Reset Your Password.', 'info')"> Forgot Password? </a>
	      </label>
	    </div>
	    <!-- <p class="mt-5 mb-3 text-light">&copy; 2022</p> -->
		<p class="text-white">&copy; <script>document.write(new Date().getFullYear());</script> All rights reserved</p>
	  </form>
	</main>
</div>
{% endblock %}

{%block scripts%}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script type="text/javascript">


	TweenMax.to('.outer', 5, {rotation:360, animationDelay: 0, ease:Linear.easeNone, repeat:-1});
TweenMax.to('.inner', 5, {rotation:-360, animationDelay: 1, ease:Linear.easeNone, repeat:-1});
TweenMax.to('.content', 5, {rotation:360, animationDelay: 2, ease:Linear.easeNone, repeat:-1});


// Get the <img> element by its ID
//const imgElement = document.getElementById('login-nia-logo');

// URL of the image you want to load
///const imageUrl = "{{url_for('static', filename='img/nia-logo.gif')}}";

// Load the image from cache or network and set it as the src attribute of the <img> element
//loadImageFromCacheOrNetwork(imageUrl).then(response => {
  //if (response && response instanceof Response) {
    //response.blob().then(blob => {
    //  const objectURL = URL.createObjectURL(blob);
    //  imgElement.src = objectURL;
    //});
 //}
//});

document.getElementById("login_form").addEventListener("submit", function(e){
  e.preventDefault()
  var formElem = document.getElementById("login_form");
  let loginData = new FormData(formElem);
  
  const data = {}
  loginData.forEach((value, key) => (data[key] = value))

  loadingScreen('block');
	
  fetch('/', {
		signal: AbortSignal.timeout(15000),
		method: 'POST',
		body: JSON.stringify(data),
	}).then((res)=>{
		
		if(res.response == 403){
			triggerToast('Employee ID number does not exist!', 'error');
		}else if (res.response == 500){
			triggerToast('Server Error! Please try again.', 'error');
			loadingScreen('none');

		}
		if (res.redirected) {
			triggerToast('Login Successful!', 'success');
			window.location.href = res.url;
		}else{
			return res.json();
		}
		
	})
	.then(err_msg => {
		if(err_msg == "id_does_not_exist"){
			triggerToast('Employee ID does not Exist!', 'error');
		}else if(err_msg == "incorrect_or_deactivated"){
			triggerToast('Incorrect Password or Account Deactivated.', 'error');
		}
  		loadingScreen('none');
	})
});
</script>
{%endblock%}