{% if current_user.is_authenticated%}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">
      <img src="{{url_for('static', filename='img/nia-logo.png')}}" alt="" width="50px" height="50px" class="d-inline-block align-text-center">
      PIMO
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link" href="/dashboard" tabindex="-1" aria-disabled="true"><i class="bi bi-house-fill"></i> Home</a> -->
          <a class="nav-link" href="/dashboard" tabindex="-1" aria-disabled="true"><i class="bi bi-house-fill"></i> Home</a>
        </li>
        <ul class="navbar-nav navbar-right me-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-rolodex"></i> Employee Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/employees/my-profile/{{current_user.id}}"><i class="bi bi-person-lines-fill"></i> My Profile</a></li>
              <li><a class="dropdown-item" href="/family-background/{{current_user.id}}"><i class="bi bi-people-fill"></i> Family Background</a></li>
              <li><a class="dropdown-item" href="/work-experience/{{current_user.id}}"><i class="bi bi-journals"></i> Work Experience</a></li>
              <li><a class="dropdown-item" href="/voluntary-work/{{current_user.id}}"><i class="bi bi-person-workspace"></i> Voluntary Work</a></li>
              <li><a class="dropdown-item" href="/learning-development/{{current_user.id}}"><i class="bi bi-lightbulb"></i>  Learning & Development</a></li>
              <li><a class="dropdown-item" href="/other-information/{{current_user.id}}"><i class="bi bi-pen"></i> Other Information</a></li>
              <li><a class="dropdown-item" href="/questions/{{current_user.id}}"><i class="bi bi-question-octagon"></i> Questions</a></li>
              <li><a class="dropdown-item" href="/character-reference/{{current_user.id}}"><i class="bi bi-person-video2"></i> Character References</a></li>
              <!-- <li><a class="dropdown-item" href="/appointment/{{current_user.id}}"><i class="bi bi-card-heading"></i> Appointments</a></li> -->

              <!-- <li><a class="dropdown-item" href="/learning-development/{{current_user.id}}"><i class="bi bi-lightbulb"></i> Learning & Development</a></li> -->
              <!-- <li><a class="dropdown-item" href="/covid-vaccine/{{current_user.id}}"><i class="bi-bandaid"></i> COVID-19 Vaccination</a></li> -->
              

              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item {{'' if current_user.type_of_user == 'user'}}" href="/print-preview/{{current_user.id}}"><i class="bi bi-printer"></i> PDS Print Preview</a></li>
            </ul>
          </li>
        </ul>

        <li class="nav-item">
          <a class="nav-link" href="/employees/service-record/{{current_user.id}}" tabindex="-1" aria-disabled="true"><i class="bi bi-card-list"></i> Service Record</a>
        </li>

        <li class="nav-item">
          <!-- <a class="nav-link {{'disabled' if current_user.type_of_user == 'user'}}" href="/employees/service-record/{{current_user.id}}" tabindex="-1" aria-disabled="true"><i class="bi bi-card-list"></i> Service Record</a> -->
          <a class="nav-link" href="/appointment/{{current_user.id}}"><i class="bi bi-card-heading"></i> Appointments</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/learning-development/{{current_user.id}}"> <i class="bi bi-lightbulb"></i> Learning & Development</a>
        </li> -->

        <ul class="navbar-nav navbar-right me-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-printer"></i> Print PDS & WES
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="/print-preview/{{current_user.id}}"><i class="bi bi-printer"></i> Print PDS</a>
              </li>
              <li>
                <a class="dropdown-item" href="/wes/{{current_user.id}}"> <i class="bi bi-file-earmark-text"></i> Print WES</a>
              </li>
            </ul>

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="/coe/with-compensation/{{current_user.id}}"><i class="bi bi-printer"></i> Print COE (with compensation)</a>
              </li>
              <li>
                <a class="dropdown-item" href="/coe/certification/{{current_user.id}}"> <i class="bi bi-file-earmark-text"></i> Print COE</a>
              </li>
            </ul>
          </li>
        </ul>

        <li class="nav-item">
          <a class="nav-link" href="/afl/{{current_user.id}}"> <i class="bi bi-calendar-week"></i> Print Application for Leave</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/rol/{{current_user.id}}"> <i class="bi bi-journals"></i> Earned Leaves</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/coe-menu/{{current_user.id}}"> <i class="bi bi-file-earmark-text"></i> Certification of Employment</a>
        </li>
        <ul class="navbar-nav navbar-right me-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-box-seam"></i> Others
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/forms"><i class="bi bi-stickies-fill"></i> Downloadable Forms</a></li>
              <li><a class="dropdown-item" href="/covid-vaccine/{{current_user.id}}"> <i class="fas fa-syringe"></i> Vaccinations</a></li>
              <li><a class="dropdown-item" href="/tshirt-sizes/{{current_user.id}}"><i class="fas fa-tshirt"></i> Shirt Sizes</a></li>
              <li><a class="dropdown-item" href="/emergency-contact/{{current_user.id}}"><i class="bi bi-telephone"></i> Emergency Contact Details</a></li>
              <li><a class="dropdown-item" href="/other-questions/{{current_user.id}}"><i class="bi bi-question-diamond"></i> Other Questions</a></li>
              <!-- <li><a class="dropdown-item" href="/saln/{{current_user.id}}"><i class="fas fa-book"></i> SALN</a></li> -->
               <!-- <li><hr class="dropdown-divider"></li> -->
              <!-- <li><a class="dropdown-item" href="/others/{{current_user.id}}"><i class="bi bi-box-seam"></i> Others</a></li> -->
            </ul>
          </li>
        </ul>
        
        <!-- <ul class="navbar-nav navbar-right me-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-key"></i> Admin Access
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/admin/dashboard"><i class="bi bi-table"></i> List of Employees</a></li>
              <li><a class="dropdown-item" href="/family-background/{{current_user.id}}"><i class="bi bi-code"></i> Tokens</a></li>
               <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/others/{{current_user.id}}"><i class="bi bi-box-seam"></i> Others</a></li>
            </ul>
          </li>
        </ul> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard"> <i class="bi bi-table"></i> List of Employees</a>
        </li> -->
      </ul>
      
      <ul class="navbar-nav navbar-right me-3">

        {% if current_user.type_of_user == 'admin' %}
        <ul class="navbar-nav navbar-right me-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-key"></i> Admin Access
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/admin/dashboard"><i class="bi bi-table"></i> List of Employees</a></li>
              <li><a class="dropdown-item" href="/listOfExpiry/"><i class="bi bi-credit-card-2-front"></i> List of Expiring Licenses/IDs</a></li>
              <li><a class="dropdown-item" href="/listOfLoyaltyAwardees/"><i class="bi bi-award"></i> List of Loyalty Awardees</a></li>
              <li><a class="dropdown-item" href="/listOfRetirees/"><i class="bi bi-people-fill"></i> List of Retirees</a></li>
              <!-- <li><a class="dropdown-item" href="/family-background/{{current_user.id}}"><i class="bi bi-code"></i> Tokens</a></li> -->
              <li><a class="dropdown-item" href="/signup"><i class="bi bi-person-plus-fill"></i> Register User</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/systemSettings/sys-settings"><i class="bi bi-gear"></i> System Settings</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <!-- <img src="https://github.com/apj-lml.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->
            <strong>{{current_user.first_name.0}}{{current_user.middle_name.0}}{{current_user.last_name.0}}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark animate slideIn" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/change-password/{{current_user.id}}"><i class="bi bi-shield-lock"></i> Change Password</a></li>
            <li><a class="dropdown-item" href="#" onclick="clearCache(); return false;" ><i class="bi bi-trash2-fill"></i> Clear Cache</a></li>
            <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
          </ul>
        </li>

      </ul>
    {% endif %}


    </div>
  </div>
</nav>