{% extends 'base.html' %}

{% block title %} Other Vaccine Information {% endblock %}

{%block cssperfile %}
<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">

<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}

table#other_vac_table {
  table-layout: fixed;
  width: 100%;
}
</style>

<!-- <link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet"> -->

<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<main class="container-fluid mt-3">
	<div class="row mb-3 ms-auto">
<!-- ----------------------------------------------------------------------- -->
<!--                                 VACCINE                                 -->
<!-- ----------------------------------------------------------------------- -->


<div class="card mb-3">
  <div class="card-body">
    <div class="card text-white shadow-sm mb-3" >
      <div class="card-header bg-blue">
        <h3 class="card-title"><i class="fas fa-syringe"></i> COVID-19 Vaccinations </h3>
       </div>
      <div class="card-body">
        <button class="btn btn-primary mb-2">Add COVID-19 Vaccination</button>
        <form action="#" method="POST" name="vaccine_form" id="vaccine_form" enctype="multipart/form-data"></form>
        <div class="card text-white shadow-sm mb-3" >
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped text-center nowrap" id="other_vac_table" width = "100%">
                <thead class="">
                <tr class="align-middle">
                  <!-- <th>Type of Vaccine</th> -->
                  <th>1st Dose</th>
                  <th>2nd Dose</th>
                  <th>1st Booster</th>
                  <th>2nd Booster</th>
                  <!-- <th>2024</th> -->
                </tr>
                </thead>
                <tbody class="text-start">
                  <tr>
                    {% for covid_vaccine in user_profile.vaccine %}

                    <td>
                      <table class="table">
                        <tbody>
                          <tr class="text-center">
                            <td class="text-end">
                              Brand:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.vac_brand }}
                            </td>
                          </tr>
                          <tr class="text-center">
                            <td class="text-end">
                              Location:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.vac_place }}
                            </td>
                          </tr>
                          <tr class="text-center">
                            <td class="text-end">
                              Date:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.vac_first_dose }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="table">
                        <tbody>
                          <tr class="text-center">
                            <td class="text-end">
                              Brand:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.vac_brand }}
                            </td>
                          </tr>
                          <tr class="text-center">
                            <td class="text-end">
                              Location:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.vac_place }}
                            </td>
                          </tr>
                          <tr class="text-center">
                            <td class="text-end">
                              Date:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.vac_second_dose }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="table">
                        <tbody>
                          <tr class="text-center">
                            <td class="text-end">
                              Brand:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.booster_brand }}
                            </td>
                          </tr>
                          <tr class="text-center">
                            <td class="text-end">
                              Location:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.booster_place }}
                            </td>
                          </tr>
                          <tr class="text-center">
                            <td class="text-end">
                              Date:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.booster_date }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="table">
                        <tbody>
                          <tr class="text-center">
                            <td class="text-end">
                              Brand:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.booster_brand2 }}
                            </td>
                          </tr>
                          <tr class="text-center">
                            <td class="text-end">
                              Location:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.booster_place2 }}
                            </td>
                          </tr>
                          <tr class="text-center">
                            <td class="text-end">
                              Date:
                            </td>
                            <td class="text-start">
                              {{ covid_vaccine.booster_date2 }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    {% endfor %}
        
                  </tr>

              </tbody>
              </table>
            </div>
          </div>
        </div>  
  

      </div>
    </div>
    

  </div>
</div>


<div class="card mb-3">
    <div class="card-body">

      <div class="card text-white shadow-sm mb-3" >
        <div class="card-header bg-blue">
          <h3 class="card-title"><i class="fas fa-syringe"></i> Influenza Vaccinations</h3>
         </div>
        <div class="card-body">
        <button class="btn btn-primary mb-2">Add Influenza Vaccination</button>

          <form action="#" method="POST" name="vaccine_form" id="vaccine_form" enctype="multipart/form-data"></form>
          <div class="card text-white shadow-sm mb-3" >
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered text-center nowrap" id="other_vac_table" width = "100%">
                  <thead class="">
                  <tr class="align-middle">
                    <th>2020</th>
                    <th>2021</th>
                    <th>2022</th>
                    <th>2023</th>
                    <th>2024</th>
                  </tr>
                  </thead>
                  <tbody class="text-start">
                      <tr>
                        {% for ov in user_profile.other_vaccine if ov.vac_year == '2020' and ov.vac_type == 'influenza' %}
                        <td>

                          <table class="table">
                            <tbody>
                              <tr class="text-center">
                                <td class="text-end">
                                  Brand:
                                </td>
                                <td class="text-start">
                                  {{ ov.vac_brand }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end">
                                  Location:
                                </td>
                                <td class="text-start">
                                  {{ ov.vac_place }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end">
                                  Date:
                                </td>
                                <td class="text-start">
                                  {{ ov.vac_date }}
                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </td>

                        {% else %}
                        
                        <td>
                         <table class="table">
                            <tbody>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Brand:
                                </td>
                                <td class="text-start w-50">
                                  None
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Location:
                                </td>
                                <td class="text-start w-50">
                                  None
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Date:
                                </td>
                                <td class="text-start w-50">
                                  None
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        {% endfor %}

                      {% for ov in user_profile.other_vaccine if ov.vac_year == '2021' and ov.vac_type == 'influenza' %}
                        <td>
                          <table class="table">
                            <tbody>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Brand:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_brand }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Location:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_place }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Date:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_date }}
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          </td>
                          {% else %}
                          <td>
                           <table class="table">
                              <tbody>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Brand:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Location:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Date:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          {% endfor %}

                          {% for ov in user_profile.other_vaccine if ov.vac_year == '2022' and ov.vac_type == 'influenza' %}
                          <td>
                            <table class="table">
                              <tbody>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Brand:
                                  </td>
                                  <td class="text-start w-50">
                                    {{ ov.vac_brand }}
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Location:
                                  </td>
                                  <td class="text-start w-50">
                                    {{ ov.vac_place }}
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Date:
                                  </td>
                                  <td class="text-start w-50">
                                    {{ ov.vac_date }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
  
                            </td>
                            {% else %}
                            <td>
                             <table class="table">
                                <tbody>
                                  <tr class="text-center">
                                    <td class="text-end w-50">
                                      Brand:
                                    </td>
                                    <td class="text-start w-50">
                                      None
                                    </td>
                                  </tr>
                                  <tr class="text-center">
                                    <td class="text-end w-50">
                                      Location:
                                    </td>
                                    <td class="text-start w-50">
                                      None
                                    </td>
                                  </tr>
                                  <tr class="text-center">
                                    <td class="text-end w-50">
                                      Date:
                                    </td>
                                    <td class="text-start w-50">
                                      None
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            {% endfor %}

                       {% for ov in user_profile.other_vaccine if ov.vac_year == '2023' and ov.vac_type == 'influenza' %}
                        <td>
                          <table class="table">
                            <tbody>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Brand:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_brand }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Location:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_place }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Date:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_date }}
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          </td>
                          {% else %}
                          <td>
                           <table class="table">
                              <tbody>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Brand:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Location:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Date:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          {% endfor %}

                          {% for ov in user_profile.other_vaccine if ov.vac_year == '2024' and ov.vac_type == 'influenza' %}
                          <td>
                            <table class="table">
                              <tbody>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Brand:
                                  </td>
                                  <td class="text-start w-50">
                                    {{ ov.vac_brand }}
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Location:
                                  </td>
                                  <td class="text-start w-50">
                                    {{ ov.vac_place }}
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Date:
                                  </td>
                                  <td class="text-start w-50">
                                    {{ ov.vac_date }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
  
                            </td>
                            {% else %}
                            <td>
                             <table class="table">
                                <tbody>
                                  <tr class="text-center">
                                    <td class="text-end w-50">
                                      Brand:
                                    </td>
                                    <td class="text-start w-50">
                                      None
                                    </td>
                                  </tr>
                                  <tr class="text-center">
                                    <td class="text-end w-50">
                                      Location:
                                    </td>
                                    <td class="text-start w-50">
                                      None
                                    </td>
                                  </tr>
                                  <tr class="text-center">
                                    <td class="text-end w-50">
                                      Date:
                                    </td>
                                    <td class="text-start w-50">
                                      None
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            {% endfor %}
            
                      </tr>
    
                  </tbody>
                </table>
              </div>
            </div>
          </div>  
    

        </div>
      </div>
      

    </div>
  </div>

  
<div class="card mb-3">
    <div class="card-body">
      <div class="card text-white shadow-sm mb-3" >
        <div class="card-header bg-blue">
          <h3 class="card-title"><i class="fas fa-syringe"></i> Pneumococcal Vaccinations </h3>
         </div>
        <div class="card-body">
      <button class="btn btn-primary mb-2">Add Pneumococcal Vaccination</button>

          <form action="#" method="POST" name="vaccine_form" id="vaccine_form" enctype="multipart/form-data"></form>
          <div class="card text-white shadow-sm mb-3" >
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-striped text-center nowrap" id="other_vac_table" width = "100%">
                  <thead class="">
                  <tr class="align-middle">
                    <!-- <th>Type of Vaccine</th> -->
                    <th>2020</th>
                    <th>2021</th>
                    <th>2022</th>
                    <th>2023</th>
                    <th>2024</th>
                  </tr>
                  </thead>
                  <tbody class="text-start">
                    <tr>
                      {% for ov in user_profile.other_vaccine if ov.vac_year == '2020' and ov.vac_type == 'pneumococcal' %}
                      <td>

                        <table class="table">
                          <tbody>
                            <tr class="text-center">
                              <td class="text-end">
                                Brand:
                              </td>
                              <td class="text-start">
                                {{ ov.vac_brand }}
                              </td>
                            </tr>
                            <tr class="text-center">
                              <td class="text-end">
                                Location:
                              </td>
                              <td class="text-start">
                                {{ ov.vac_place }}
                              </td>
                            </tr>
                            <tr class="text-center">
                              <td class="text-end">
                                Date:
                              </td>
                              <td class="text-start">
                                {{ ov.vac_date }}
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>

                      {% else %}
                      
                      <td>
                       <table class="table">
                          <tbody>
                            <tr class="text-center">
                              <td class="text-end w-50">
                                Brand:
                              </td>
                              <td class="text-start w-50">
                                None
                              </td>
                            </tr>
                            <tr class="text-center">
                              <td class="text-end w-50">
                                Location:
                              </td>
                              <td class="text-start w-50">
                                None
                              </td>
                            </tr>
                            <tr class="text-center">
                              <td class="text-end w-50">
                                Date:
                              </td>
                              <td class="text-start w-50">
                                None
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      {% endfor %}

                    {% for ov in user_profile.other_vaccine if ov.vac_year == '2021' and ov.vac_type == 'pneumococcal' %}
                      <td>
                        <table class="table">
                          <tbody>
                            <tr class="text-center">
                              <td class="text-end w-50">
                                Brand:
                              </td>
                              <td class="text-start w-50">
                                {{ ov.vac_brand }}
                              </td>
                            </tr>
                            <tr class="text-center">
                              <td class="text-end w-50">
                                Location:
                              </td>
                              <td class="text-start w-50">
                                {{ ov.vac_place }}
                              </td>
                            </tr>
                            <tr class="text-center">
                              <td class="text-end w-50">
                                Date:
                              </td>
                              <td class="text-start w-50">
                                {{ ov.vac_date }}
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        </td>
                        {% else %}
                        <td>
                         <table class="table">
                            <tbody>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Brand:
                                </td>
                                <td class="text-start w-50">
                                  None
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Location:
                                </td>
                                <td class="text-start w-50">
                                  None
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Date:
                                </td>
                                <td class="text-start w-50">
                                  None
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        {% endfor %}

                        {% for ov in user_profile.other_vaccine if ov.vac_year == '2022' and ov.vac_type == 'pneumococcal' %}
                        <td>
                          <table class="table">
                            <tbody>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Brand:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_brand }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Location:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_place }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Date:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_date }}
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          </td>
                          {% else %}
                          <td>
                           <table class="table">
                              <tbody>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Brand:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Location:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Date:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          {% endfor %}

                     {% for ov in user_profile.other_vaccine if ov.vac_year == '2023' and ov.vac_type == 'pneumococcal' %}
                      <td>
                        <table class="table">
                          <tbody>
                            <tr class="text-center">
                              <td class="text-end w-50">
                                Brand:
                              </td>
                              <td class="text-start w-50">
                                {{ ov.vac_brand }}
                              </td>
                            </tr>
                            <tr class="text-center">
                              <td class="text-end w-50">
                                Location:
                              </td>
                              <td class="text-start w-50">
                                {{ ov.vac_place }}
                              </td>
                            </tr>
                            <tr class="text-center">
                              <td class="text-end w-50">
                                Date:
                              </td>
                              <td class="text-start w-50">
                                {{ ov.vac_date }}
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        </td>
                        {% else %}
                        <td>
                         <table class="table">
                            <tbody>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Brand:
                                </td>
                                <td class="text-start w-50">
                                  None
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Location:
                                </td>
                                <td class="text-start w-50">
                                  None
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Date:
                                </td>
                                <td class="text-start w-50">
                                  None
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        {% endfor %}

                        {% for ov in user_profile.other_vaccine if ov.vac_year == '2024' and ov.vac_type == 'pneumococcal' %}
                        <td>
                          <table class="table">
                            <tbody>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Brand:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_brand }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Location:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_place }}
                                </td>
                              </tr>
                              <tr class="text-center">
                                <td class="text-end w-50">
                                  Date:
                                </td>
                                <td class="text-start w-50">
                                  {{ ov.vac_date }}
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          </td>
                          {% else %}
                          <td>
                           <table class="table">
                              <tbody>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Brand:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Location:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                                <tr class="text-center">
                                  <td class="text-end w-50">
                                    Date:
                                  </td>
                                  <td class="text-start w-50">
                                    None
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          {% endfor %}
          
                    </tr>
  
                </tbody>
                </table>
              </div>
            </div>
          </div>  
    

        </div>
      </div>
      

    </div>
  </div>



    </div>


</main>

{% endblock %}



{%block scripts%}

{% if current_user.type_of_user == 'admin' %}
<!-- <script src="{{ url_for('static', filename='vaccine-validations.js') }}"></script> USE THIS FOR DISABLING-->
{% endif %}

<script src="{{ url_for('static', filename='vaccine-validations.js') }}"></script>

<script type="text/javascript">
   window.addEventListener('load',()=>{ 

    $('#uploaded_file_table').DataTable({
      responsive: true,
      dom: 'ftrip'
    });

        document.getElementById('vaccine_form').addEventListener('submit',(e)=>{
            loadingScreen("block");
            e.preventDefault();
            //-- ----------------------------------------------------------------------- -->
            //--                           SUBMIT OF VACCINE FORM                        -->
            //-- ----------------------------------------------------------------------- -->

            if (document.getElementById('vac_id').value == ""){
                var url = '/vaccine/add-vaccine/{{user_profile.id}}'
            }else{
                var url = '/vaccine/update-vaccine/{{user_profile.id}}'
            }
            let formData4 = new FormData(document.getElementById("vaccine_form"));
                
                const data4 = {}
                formData4.forEach((value, key) => (data4[key] = value));
               
                fetch(url, {
                method: 'POST',
                body: formData4
                }).then((res)=>{
                if (res.status == 200){
                    console.log("SUCCESSFULY SUBMITTED ALL DATA")
                    return res.json()
                }
                
                }).then((data)=>{
                  loadingScreen("none");
                  window.location.reload();

                });//END VACCINE

             
    })
});

function delete_file(e){
  // alert(e.id)

  loadingScreen("block")
  fetch('/employees/delete-file', {
    method: 'POST',
    body: JSON.stringify({"file_id" : e.id})
  })
	.then(response => response.json())
	.then((data)=>{
    window.location.reload();
  })
	.catch(err => console.error(err));
}
   


</script>
{%endblock%}