{% extends 'base.html' %}

{% block title %} Records of Leave {% endblock %}

{%block cssperfile %}
<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">

<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}
</style>

<!-- <link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet"> -->

<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<main class="container mt-3">
	<div class="row mb-3 ms-auto">
    <!-- <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul> -->
<!-- ----------------------------------------------------------------------- -->
<!--                                  FORMS                                  -->
<!-- ----------------------------------------------------------------------- -->

<div class="card mb-3 mt-4">
  <div class="card-body">
    <div class="card text-white bg-blue shadow-sm mb-3" >
      <div class="card-header">
        <h3 class="card-title"><i class="bi bi-journals"></i> Records of Leave</h3>
       </div>
      <div class="card-body">
        <div class="row text-center">
          <!-- <div class="row col-sm-12 mb-3"> -->
            <div class="col-sm-12 col-md-8 mb-3 ">
              <div class="form-floating has-validation">
                <input type="text" class="form-control" name ="emp_name" id="emp_name" placeholder="Name" disabled value="{{ user_profile.last_name }}, {{ user_profile.first_name }}{%if user_profile.name_extn != 'N/A'  %} {{ user_profile.name_extn }}, {% endif %} {%if user_profile.middle_name != 'N/A'  %}{{ user_profile.middle_name }} {% endif %}">
                <label class="text-blue fw-bold" id="emp_name" for="emp_name">Name</label>
              </div>
            </div>
            
              <div class="col-sm-12 col-md-4 mb-3 ">
                <div class="form-floating has-validation">
                  <input type="text" class="form-control" name ="emp_name" id="emp_name" placeholder="Name" disabled value="{{ user_profile.employment_status }}">
                  <label class="text-blue fw-bold" id="emp_name" for="emp_name">Employment Status</label>
                </div>
              </div>
          <!-- </div> -->
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 col-md-6 mb-3">
                  <div class="form-floating has-validation">
                    <input type="text" class="form-control" name ="position_title" id="position_title" placeholder="Position Title" disabled value="{{ user_profile.position_title }}">
                    <label class="text-blue fw-bold" id="position_title" for="position_title">Position Title</label>
                  </div>
              </div>
              <div class="col-sm-12 col-md-3 mb-3">
                  <div class="form-floating has-validation">
                    <input type="text" class="form-control" name ="jg" id="jg" placeholder="Job Grade" disabled value="{{ user_profile.job_grade }}">
                    <label class="text-blue fw-bold" id="jg" for="jg">Job Grade</label>
                  </div>
              </div>
              <div class="col-sm-12 col-md-3 mb-3">
                <div class="form-floating has-validation">
                  <input type="text" class="form-control" name ="monthly_daily_salary" id="monthly_daily_salary" disabled placeholder="Monthly/Daily Rate">
                  <label class="text-blue fw-bold" for="monthly_daily_salary">Monthly/Daily Rate</label>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card shadow-sm col-md-12 mb-3" >
      <div class="card-body">
          <div class="container-fluid p-0">
                  <div class="order-lg-1 my-auto showcase-text">
                      <div class="row d-flex justify-content-center">
                        <div class="col-sm-12 text-center mb-3">
                          <h1>EARNED LEAVES as of<br> {{ user_profile.rol[0].as_of.strftime('%B %d, %Y') if user_profile.rol[0] else 'N/A' }}</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 mb-3">
                              <div class="card">
                                <h5 class="card-header text-center bg-blue text-white"> Vacation Leave</h5>
                                <div class="card-body">
                                  <h1 class="card-title text-center">{{ user_profile.rol[0].vacation if user_profile.rol[0] else 'N/A' }}</h1>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-12 mb-3">
                              <div class="card">
                                <h5 class="card-header text-center bg-blue text-white">Sick Leave</h5>
                                <div class="card-body">
                                  <h1 class="card-title text-center">{{ user_profile.rol[0].sick if user_profile.rol[0] else 'N/A' }}</h1>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-12 mb-3">
                              <div class="card">
                                <h5 class="card-header text-center bg-blue text-white">Total Earned Leaves</h5>
                                <div class="card-body">
                                  <h1 class="card-title text-center">{{ user_profile.rol[0].vacation + user_profile.rol[0].sick if user_profile.rol[0] else 'N/A' }}</h1>
                                </div>
                              </div>
                            </div>
               
                        </div>
                        <div class="col-sm-12 col-md-4 mt-3">
                          <div class="card">
                            <h5 class="card-header text-center bg-purple text-white">Total Money Value</h5>
                            <div class="card-body">
                              <h1 class="card-title text-center" id="total_money_value">0</h1>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 text-center mt-5">
                          <button href="#" class="btn btn-primary" onclick="fillForm();" {{ 'disabled' if user_profile.employment_status == "JOB ORDER" }}><i class="bi bi-printer"></i> PRINT CERTIFICATION</button>
                        </div>
                        <div class="col-sm-12 text-center mt-3">
                          {% if current_user.type_of_user == "admin" %}
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadRolModal">
                              <i class="bi bi-upload"></i> UPLOAD RECORDS OF LEAVE
                            </button>
                          {% endif %}
                        </div>
                      </div>

                  </div>
  
              </div>
      </div>

    </div>

      </div>
      </div>
    </div>
    </main>

    <!-- Modal -->
<div class="modal fade" id="uploadRolModal" tabindex="-1" aria-labelledby="uploadRolModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadRolModalLabel">Upload Records of Leave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#" method="POST" name="rol_form" id="rol_form" enctype="multipart/form-data" onsubmit="loadingScreen('block')">
          <div class="mb-3">
            <label for="form_file" class="form-label">You can only upload 1 file at a time.</label>
            <input class="form-control" type="file" id="rolFile" name="rolFile" form="rol_form" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="rol_form">Upload</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{%block scripts%}
<script src="{{ url_for('static', filename='sgjg.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/pdf-lib/dist/pdf-lib.js"></script>
<script src="https://unpkg.com/@pdf-lib/fontkit@0.0.4"></script>
<script src="https://unpkg.com/downloadjs@1.4.7"></script>


<script type="text/javascript">

  async function fillForm() {

		loadingScreen('block')

		const { PDFDocument, StandardFonts, registerFontkit } = PDFLib

		formUrl = "{{ url_for('static', filename='leave-cert-template1.pdf') }}";
	  
    const formPdfBytes = await fetch(formUrl).then(res => res.arrayBuffer())
  
    const pdfDoc = await PDFLib.PDFDocument.load(formPdfBytes);

    const page = pdfDoc.getPages()[0];
    // Define the bold font
    const font = await pdfDoc.embedFont(StandardFonts.HelveticaBold);
	  
		const timesRomanBoldFont = await pdfDoc.embedFont(StandardFonts.TimesRomanBold)
		const timesRomanFont = await pdfDoc.embedFont(StandardFonts.TimesRoman)
		const timesRomanFontItalic = await pdfDoc.embedFont(StandardFonts.TimesRomanItalic)

	  // Embed the Cambria font
	  
		const cambriaFontBytes = await fetch("{{url_for('static', filename='/fonts/Cambria.ttf')}}").then(res => res.arrayBuffer());
		//const cambriaFont = await pdfDoc.embedFont(cambriaFontBytes);

    pdfDoc.registerFontkit(fontkit);
    const cambria = await pdfDoc.embedFont(cambriaFontBytes,{
      subset: true, 
      features: { liga: false }, 
    });

    const form = pdfDoc.getForm();

    const cert_content = form.getTextField('cert_content');
    const cert_content_closing = form.getTextField('cert_content_closing');
    const tb_vl = form.getTextField('tb_vl');
    const tb_sl = form.getTextField('tb_sl');
    const tb_total = form.getTextField('tb_total');
    
    const name = `{{ user_profile.first_name }} {{ user_profile.middle_initial }}{%if user_profile.name_extn != 'N/A' or user_profile.name_extn != '' %}.{% endif %} {{ user_profile.last_name }}{%if user_profile.name_extn != 'N/A'  %} ,{{ user_profile.name_extn }}{% endif %}`;
    const positionTitle = toTitleCase("{{ user_profile.position_title }}");
    const employmentStatus = toTitleCase("{{ user_profile.employment_status }}");
    const asOf = "{{ user_profile.rol[0].as_of.strftime('%B %d, %Y') if user_profile.rol[0] }}";
    const status = "{{ user_profile.employment_status }}";
    const totalAccumulated = "{{ user_profile.rol[0].vacation + user_profile.rol[0].sick if user_profile.rol[0] and user_profile.employment_status != 'JOB ORDER' else 'N/A' }}"

    const normalText = "This certification is issued to " + name + ", holding the position "+ positionTitle +
                       " on "+ employmentStatus + " status at the National Irrigation Administration - Pangasinan Irrigation Management Office, " +
                       "has earned accumulated a total of "+ totalAccumulated +" leave credits as of "+ asOf +"." +
                       "\n \n"+
                       "The breakdown of which is as follows:";


    const currentDate = new Date();

    // Get the day and suffix
    const day = currentDate.getDate();
    const daySuffix = getDaySuffix(day);

    // Get the month
    const month = currentDate.toLocaleString('default', { month: 'long' });

    // Get the year
    const year = currentDate.getFullYear();

    // Format the date
    const formattedDate = `${day}${daySuffix} day of ${month}, ${year}`;

    cert_content_closing.setText(`Issued this ${formattedDate} at the NIA-Pangasinan Irrigation Management Office, Bayaoas, Urdaneta City, Pangasinan.`);

    const timesBoldFont = await pdfDoc.embedFont(StandardFonts.TimesRomanBold);
    
    // Set the text content with rich formatting
    cert_content.setText(normalText);

    tb_vl.setText("{{ user_profile.rol[0].vacation if user_profile.rol[0] else 'N/A' }}");
    tb_sl.setText("{{ user_profile.rol[0].sick if user_profile.rol[0] else 'N/A' }}");
    tb_total.setText("{{ user_profile.rol[0].vacation + user_profile.rol[0].sick if user_profile.rol[0] else 'N/A' }}");
    
    cert_content.updateAppearances(cambria);
    cert_content_closing.updateAppearances(cambria);
    tb_vl.updateAppearances(cambria);
    tb_sl.updateAppearances(cambria);
    tb_total.updateAppearances(cambria);
        
    form.flatten();


		const pdfBytes = pdfDoc.save()

		const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
		const testPdfDataUri = await pdfDoc.saveAsBase64();
		
		// decode base64 string, remove space for IE compatibility
		var binary = atob(testPdfDataUri.replace(/\s/g, ''));
		var len = binary.length;
		var buffer = new ArrayBuffer(len);
		var view = new Uint8Array(buffer);
		for (var i = 0; i < len; i++) {
			view[i] = binary.charCodeAt(i);
		}
	
		var blob = new Blob( [view], { type: "application/pdf" });
		var url = URL.createObjectURL(blob);
	
		//var file = new Blob([pdfDataUri], {type: 'application/pdf'});
		//var fileURL = URL.createObjectURL(file);
	
		loadingScreen('none')
		window.open(url, 'leave_certification');

  }

  function toTitleCase(str) {
		return str.toLowerCase().replace(/(?:^|\s)\w/g, function(match) {
		  return match.toUpperCase();
		});
	  }

  // Function to get the suffix for the day
function getDaySuffix(day) {
  if (day >= 11 && day <= 13) {
    return 'th';
  }

  switch (day % 10) {
    case 1:
      return 'st';
    case 2:
      return 'nd';
    case 3:
      return 'rd';
    default:
      return 'th';
  }
}

	function numberWithCommas(x) {
		return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
	}

  var monthly_daily = 0;
  var total_earned_leaves = {{ user_profile.rol[0].vacation + user_profile.rol[0].sick if user_profile.rol[0] else '0'}} ;

  {% if user_profile.employment_status == 'PERMANENT' or user_profile.employment_status == 'COTERMINOUS' or user_profile.employment_status == 'TEMPORARY' %}
    document.getElementById('monthly_daily_salary').value = (String('Php '+numberWithCommas(job_grade_monthly_salary['{{ user_profile.job_grade }}']['{{ user_profile.step }}'])));
    monthly_daily = job_grade_monthly_salary['{{ user_profile.job_grade }}']['{{ user_profile.step }}'];
	{% elif user_profile.employment_status == 'CASUAL' %}
    document.getElementById('monthly_daily_salary').value = (String('Php '+numberWithCommas(casual_job_grade_daily_salary['{{ user_profile.job_grade }}']['{{ user_profile.step }}'])));
    monthly_daily = (casual_job_grade_daily_salary['{{ user_profile.job_grade }}']['{{ user_profile.step }}'])*22;
	{% elif user_profile.employment_status == 'JOB ORDER' %}
    document.getElementById('monthly_daily_salary').value = (String('Php '+numberWithCommas(daily_salary['{{ user_profile.salary_grade }}'])));
    monthly_daily = (daily_salary['{{ user_profile.salary_grade }}'])*22;
	{% endif %}

  {% if user_profile.employment_status != 'JOB ORDER' %}
    document.getElementById('total_money_value').innerHTML = 'Php '+numberWithCommas(((total_earned_leaves*monthly_daily)*(0.0481927)).toFixed(2));
  {% else %}
    document.getElementById('total_money_value').innerHTML = 'N/A';
  {% endif %}

    document.getElementById('rol_form').addEventListener('submit', (e)=>{
      e.preventDefault();

      var url = `/rol/add-rol/{{user_profile.id}}`;
      loadingScreen('block');
      let formData4 = new FormData(document.getElementById("rol_form"));
                    
      const data4 = {}
      formData4.forEach((value, key) => (data4[key] = value));
      
      fetch(url, {
          method: 'POST',
          body: formData4
        }).then((res)=>{
            if (res.status == 406){
              triggerToast('Invalid file submitted. Only Excel files are allowed.');
                    }
                    else if (res.status == 200){
                        return res.json()
                    }
                    
              }).then((data)=>{
                loadingScreen('none');
                var myModal = document.getElementById('uploadRolModal');
                // var modal = bootstrap.Modal.getInstance(myModal).hide()
              });//END
    });

   
</script>
{%endblock%}