{% extends 'base.html' %}

{% block title %} SALN {% endblock %}

{%block cssperfile %} 
<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}

.truncate {
  max-width:150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

th{
  text-align: center;
}
td{
  text-align: left;
}
</style>
<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<main class="mt-4 mb-5">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li> 
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <!-- ----------------------------------------------------------------------- -->
  <!--                         WORK EXPERIENCE                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="row mt-5 mb-5">
    <div class="card">
        <div class="card-body">
          <div class="card text-white bg-blue shadow-sm mb-2" >
              <div class="card-header"><h3 class="card-title"><i class="bi bi-journals"></i> Statement of Assets, Liabilities, and Net Worth (SALN) </h3> </div>
              <!-- <div class="card-body">
                <h5 class="card-title">Note</h5>
                <ul>
                  <li><p class="card-text">Husband and wife who are both public officials and employees may file the required statements jointly or separately.</p></li>
                  <li><p class="card-text">Check the PRESENT checkbox to indicate that you are currently employed.</p></li>
                </ul>
              </div> -->

					  </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="card shadow-sm mb-2">
                <div class="card-header bg-blue text-white">
                  <h5 class="mb-0">
                    <i class="fas fa-user-friends"></i>
                    PERSONAL INFORMATION
                  </h5>
                </div>

                  <div class="card-body">
                    <div class="d-md-flex flex-row">
                      <div class="mb-2 col-md-4 px-1">
                        <label for="filing_type">TYPE OF FILING</label>
                        <select class="form-select" id="filing_type" name="filing_type" onchange="" value="" form="saln_form">
                          <option value="N/A" selected>NOT APPLICABLE</option>
                          <option value="Residential">JOINT FILING</option>
                          <option value="Commercial">SEPARATE FILING</option>
                        </select>
                      <small class="" style="font-size: 12px; color:rgb(0, 30, 255);"><p style="line-height: normal;">*Husband and wife who are both public officials and employees may file the required statements jointly or separately.</p></small>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <div class="col-md-12 pe-1">
            <form action="#" method="POST" name="saln_rp_form" id="saln_rp_form" enctype="multipart/form-data"></form>
              <div class="card shadow-sm mb-2">
                <div class="card-header bg-blue text-white">
                  <h5 class="mb-0">
                    <i class="fas fa-city"></i>
                    REAL PROPERTIES
                    <!-- <i class="fas fa-info-circle" 
                        style="font-size: 15px;"
                        data-bs-toggle="popover" 
                        title="Notice!" 
                        data-bs-trigger="hover focus" 
                        data-bs-content="Including those of the spouse and unmarried children below eighteen (18) years of age living in declarant’s household">
                    </i> -->
                  </h5>
                </div>
                  <div class="card-body">
                    <div class="d-md-flex flex-row">
                      <div class="mb-2 flex-fill px-1">
                        <label for="rp_description">DESCRIPTION</label>
                        <input type="text" class="form-control" id="rp_description" name="rp_description" placeholder="" form="saln_rp_form" required>
                      </div>
                      <div class="mb-2 flex-fill px-1">
                        <label for="rp_kind">KIND</label>
                        <input type="text" class="form-control" id="rp_kind" name="rp_kind" placeholder="" form="saln_rp_form" required>
                      </div>
                      <!-- <div class="form-floating flex-fill mb-3 p-1">
                        <select class="form-select status_of_appointment" id="status_of_appointment" name="status_of_appointment" onchange="" value="" form="saln_form">
                          <option value="N/A" selected>N/A</option>
                          <option value="Residential">Residential</option>
                          <option value="Commercial">Commercial</option>
                          <option value="Industrial">Industrial</option>
                          <option value="Agricultural">Agricultural</option>
                          <option value="Mixed Use">Mixed Use</option>
                        </select>
                        <label for="status_of_appointment">Kind</label>
                      </div> -->

                    </div>
                    <div class="d-md-flex flex-row">
                      <div class="mb-2 flex-fill px-1">
                        <label for="rp_exact_location">EXACT LOCATION</label>
                        <input type="text" class="form-control" id="rp_exact_location" name="rp_exact_location" placeholder="" form="saln_rp_form" required>
                      </div>
                    </div>

                    <div class="d-md-flex flex-row">
                      <div class="mb-2 flex-fill px-1">
                        <label for="rp_assessed_value">ASSESSED VALUE</label>
                        <input type="text" class="form-control trailing-decimal-input" id="rp_assessed_value" name="rp_assessed_value" placeholder="" form="saln_rp_form" required>
                      </div>
                      <div class="mb-2 flex-fill px-1">
                        <label for="rp_current_makret_value">CURRENT FAIR MARKET VALUE</label>
                        <input type="text" class="form-control" id="rp_current_market_value" name="rp_current_market_value" placeholder="" form="saln_rp_form" required>
                      </div>
                    </div>

                    <div class="d-md-flex flex-row">
                      <div class="mb-2 flex-fill px-1">
                        <label for="rp_acquisition_year">ACQUISITION YEAR</label>
                        <input type="number" class="form-control" id="rp_acquisition_year" name="rp_acquisition_year" placeholder="" form="saln_rp_form" oninput="year_only(this)" required>
                        <small class="" style="font-size: 12px; color:rgb(0, 30, 255);"><p style="line-height: normal;">*Input year only [eg. 2023]</p></small>

                      </div>
                      <div class="mb-2 flex-fill px-1">
                        <label for="rp_acquisition_mode">ACQUISITION MODE</label>
                        <input type="text" class="form-control" id="rp_acquisition_mode" name="rp_acquisition_mode" placeholder="" form="saln_rp_form" required>
                      </div>
                      <div class="mb-2 flex-fill px-1">
                        <label for="rp_acquisition_cost">ACQUISITION COST</label>
                        <input type="text" class="form-control trailing-decimal-input" id="rp_acquisition_cost" name="rp_acquisition_cost" placeholder="" form="saln_rp_form" required>
                      </div>
                    </div>

                    <div class="col-sm-12 text-center">
                      <button type="submit" class="btn btn-primary btn-sm" form="saln_rp_form"><i class="fas fa-plus"></i> Add</button>
                    </div>

                  </div>
              </div>
            </div>


            <div class="col-md-12 ps-1">
              <form action="#" method="POST" name="saln_pp_form" id="saln_pp_form" enctype="multipart/form-data"></form>
              <div class="card shadow-sm mb-2" style="height: 442px;">
                <div class="card-header bg-blue text-white">
                  <h5 class="mb-0">
                    <i class="fas fa-luggage-cart"></i>
                    PERSONAL PROPERTIES
                  </h5>
                </div>
                  <div class="card-body">
                    <div class="d-md-flex flex-row">
                      <div class="mb-2 flex-fill px-1">
                        <label for="pp_description">DESCRIPTION</label>
                        <input type="text" class="form-control" id="pp_description" name="pp_description" placeholder="" form="saln_pp_form" required>
                      </div>
                    </div>
                    <div class="d-md-flex flex-row">
                      <div class="mb-2 flex-fill px-1">
                        <label for="pp_year_acquired">YEAR ACQUIRED</label>
                        <input type="number" class="form-control" id="pp_year_acquired" name="pp_year_acquired" placeholder="" form="saln_pp_form" oninput="year_only(this)" required>
                        <small class="" style="font-size: 12px; color:rgb(0, 30, 255);"><p style="line-height: normal;">*Input year only [eg. 2023]</p></small>
                      </div>
                    </div>
                    <div class="d-md-flex flex-row">
                      <div class="mb-2 flex-fill px-1">
                        <label for="pp_acquisition_cost">ACQUISITION COST / AMOUNT</label>
                        <input type="text" class="form-control trailing-decimal-input" id="pp_acquisition_cost" name="pp_acquisition_cost" placeholder="" form="saln_pp_form" required>
                      </div>
                    </div>

                    <div class="col-sm-12 text-center my-auto">
                      <button type="submit" class="btn btn-primary btn-sm" form="saln_pp_form"><i class="fas fa-plus"></i> Add</button>
                    </div>

                  </div>
              </div>
            </div>
          </div>


          <div class="col-md-12">
          <form action="#" method="POST" name="saln_liability_form" id="saln_liability_form" enctype="multipart/form-data"></form>
            <div class="card shadow-sm mb-2">
              <div class="card-header bg-blue text-white">
                <h5 class="mb-0">
                  <i class="fas fa-credit-card"></i>
                  LIABILITIES
                  <!-- <i class="fas fa-info-circle" 
                      style="font-size: 15px;"
                      data-bs-toggle="popover" 
                      title="Notice!" 
                      data-bs-trigger="hover focus" 
                      data-bs-content="Including those of the spouse and unmarried children below eighteen (18) years of age living in declarant’s household">
                  </i> -->
                </h5>
              </div>
                <div class="card-body">
                  <div class="d-md-flex flex-row">
                    <div class="mb-2 flex-fill px-1">
                      <label for="liability_nature">NATURE</label>
                      <input type="text" class="form-control" id="liability_nature" name="liability_nature" form="saln_liability_form" placeholder="" required>
                    </div>
                    <div class="mb-2 flex-fill px-1">
                      <label for="liability_creditor">NAME OF CREDITORS</label>
                      <input type="text" class="form-control" id="liability_creditor" name="liability_creditor" form="saln_liability_form" placeholder="" required>
                    </div>
                    <div class="mb-2 flex-fill px-1">
                      <label for="liability_outstanding_balance">OUTSTANDING BALANCE</label>
                      <input type="text" class="form-control trailing-decimal-input" id="liability_outstanding_balance" name="liability_outstanding_balance" form="saln_liability_form" placeholder="" required>
                    </div>
                  </div>
                  <div class="col-sm-12 text-center my-auto">
                    <button type="submit" class="btn btn-primary btn-sm" form="saln_liability_form"><i class="fas fa-plus"></i> Add</button>
                  </div>
                </div>
            </div>
          </div>


          <div class="col-md-12">
          <form action="#" method="POST" name="saln_business_interest_form" id="saln_business_interest_form" enctype="multipart/form-data"></form>
            <div class="card shadow-sm mb-2">
              <div class="card-header bg-blue text-white">
                <h5 class="mb-0">
                  <i class="fas fa-sitemap"></i>
                  BUSINESS INTERESTS AND FINANCIAL CONNECTIONS
                  <!-- <i class="fas fa-info-circle" 
                      style="font-size: 15px;"
                      data-bs-toggle="popover" 
                      title="Notice!" 
                      data-bs-trigger="hover focus" 
                      data-bs-content="Including those of the spouse and unmarried children below eighteen (18) years of age living in declarant’s household">
                  </i> -->
                </h5>
              </div>
                <div class="card-body">
                  <div class="d-md-flex flex-row">
                    <div class="mb-2 flex-fill px-1">
                      <label for="business">NAME OF ENTITY/BUSINESS ENTERPRISE</label>
                      <input type="text" class="form-control" id="business" name="business" placeholder="" form="saln_business_interest_form" required>
                    </div>
                  </div>
                  <div class="d-md-flex flex-row">
                    <div class="mb-2 flex-fill px-1">
                      <label for="business_address">BUSINESS ADDRESS</label>
                      <input type="text" class="form-control" id="business_address" name="business_address" placeholder="" form="saln_business_interest_form"  required>
                    </div>
                  </div>

                  <div class="d-md-flex flex-row flex-gap">
                    <div class="mb-2 flex-fill px-1">
                      <label for="business_nature">NATURE OF BUSINESS INTEREST &/OR FINANCIAL CONNECTION</label>
                      <input type="text" class="form-control" id="business_nature" name="business_nature" placeholder="" form="saln_business_interest_form"  required>
                    </div>
                    <div class="mb-2 flex-fill px-1">
                      <label for="creditor">DATE OF ACQUISITION OF INTEREST OR CONNECTION</label>
                      <input type="text" class="form-control" id="business_acquisition" name="business_acquisition" placeholder="" form="saln_business_interest_form"  required>
                    </div>
                  </div>

                  <div class="col-sm-12 text-center my-auto">
                    <button type="submit" class="btn btn-primary btn-sm" form="saln_business_interest_form"><i class="fas fa-plus"></i> Add</button>
                  </div>

                </div>
            </div>
          </div>


          <div class="col-md-12">
          <form action="#" method="POST" name="saln_relative_in_government_form" id="saln_relative_in_government_form" enctype="multipart/form-data"></form>
            <div class="card shadow-sm mb-2">
              <div class="card-header bg-blue text-white">
                <h5 class="mb-0">
                  <i class="fas fa-people-arrows"></i>
                  RELATIVES IN THE GOVERNMENT SERVICE
                  <!-- <i class="fas fa-info-circle" 
                      style="font-size: 15px;"
                      data-bs-toggle="popover" 
                      title="Notice!" 
                      data-bs-trigger="hover focus" 
                      data-bs-content="Including those of the spouse and unmarried children below eighteen (18) years of age living in declarant’s household">
                  </i> -->
                </h5>
              </div>
                <div class="card-body">
                  <div class="d-md-flex flex-row">
                    <div class="mb-2 flex-fill px-1">
                      <label for="relative_name">NAME OF RELATIVE</label>
                      <input type="text" class="form-control" id="relative_name" name="relative_name" placeholder="" form="saln_relative_in_government_form" required>
                    </div>
                  </div>
                  <div class="d-md-flex flex-row">
                    <div class="mb-2 flex-fill px-1">
                      <label for="relative_relationship">RELATIONSHIP</label>
                      <input type="text" class="form-control" id="relative_relationship" name="relative_relationship" placeholder="" form="saln_relative_in_government_form" required>
                    </div>
                    <div class="mb-2 flex-fill px-1">
                      <label for="relative_position">POSITION</label>
                      <input type="text" class="form-control" id="relative_position" name="relative_position" placeholder="" form="saln_relative_in_government_form" required>
                    </div>
                  </div>

                  <div class="d-md-flex flex-row flex-gap">

                    <div class="mb-2 flex-fill px-1">
                      <label for="relative_office_address">NAME OF AGENCY/OFFICE AND ADDRESS</label>
                      <input type="text" class="form-control" id="relative_office_address" name="relative_office_address" placeholder="" form="saln_relative_in_government_form" required>
                    </div>
                  </div>

                  <div class="col-sm-12 text-center my-auto">
                    <button type="submit" class="btn btn-primary btn-sm" form="saln_relative_in_government_form"><i class="fas fa-plus"></i> Add</button>
                  </div>

                </div>
            </div>
          </div>


        </div>
              <!-- <div class="card shadow-sm mb-3">
                <div class="card-body">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped" id="work_experience_table" width = "100%">
                        <thead class="">
                        <tr class="align-middle">
                          <th colspan="2" style="word-wrap: break-word; min-width:40px; max-width:40px; white-space:normal;">Inclusive Dates</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:75px; max-width:75px; white-space:normal;">Position Title</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:160px; max-width:160px; white-space:normal;">Agency / Company</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:160px; max-width:160px; white-space:normal;">Department / Office</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:160px; max-width:160px; white-space:normal;">Agency / Company Address</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:160px; max-width:160px; white-space:normal;">Immediate Supervisor</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:75px; max-width:75px; white-space:normal;">Monthly Salary</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:75px; max-width:75px; white-space:normal;">Salary / Job / Pay Grade</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:75px; max-width:75px; white-space:normal;">Status of Appointment</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:65px; max-width:65px; white-space:normal;" class="truncate">Government Service</th>
                          <th rowspan="2" style="word-wrap: break-word; min-width:75px; max-width:75px; white-space:normal;">Controls</th>
                        </tr>
                        <tr class="align-middle">
                          <th style="word-wrap: break-word; min-width:40px; max-width:40px; white-space:normal;"> (From)</th>
                          <th style="word-wrap: break-word; min-width:40px; max-width:40px; white-space:normal;"> (To)</th>
  
                        </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div> -->

        </div>
    </div>
	</div>


</main>

{% endblock %}

{%block scripts%}

<script type="text/javascript">

$('.trailing-decimal-input').on('change', function (e) {
var intRegex = /^\d+$/;
var floatRegex = /^((\d+(\.\d *)?)|((\d*\.)?\d+))$/;
if(intRegex.test($(this).val().replace(/,/gi, "")) || floatRegex.test($(this).val().replace(/,/gi, ""))) {
    var num = $(this).val().replace(/,/gi, "");
    var float_num = parseFloat(num);
    var final = parseFloat((float_num).toFixed(2)).toLocaleString("en-EN",{
      minimumFractionDigits: 2,
      maximumFractionDigits: 2 });
      
    $(this).val(final);
  
}else{
  $(this).val("")
}

});

function year_only (el) {
  if (el.value.length > 4) {
      el.value = el.value.slice(0,4); 
      triggerToast('Please input year only!', 'warning');
  }
}


document.getElementById('saln_rp_form').addEventListener("submit", (e)=>{
  e.preventDefault();

  let formData1 = new FormData(e.target);

  const data1 = {}
  formData1.forEach((value, key) => (data1[key] = value));

  fetch('/saln/add-rp/{{user_profile.id}}', {
    method: 'POST',
    body: formData1
    }).then((res)=>{
      if (res.status == 200){
        triggerToast("Successfully Added Real Property!", 'success')

      }
      return res.json()
    
    }).then((data)=>{


    });//END


})


document.getElementById('saln_pp_form').addEventListener("submit", (e)=>{ 
  e.preventDefault();

  let formData1 = new FormData(e.target);

  const data1 = {}
  formData1.forEach((value, key) => (data1[key] = value));

  fetch('/saln/add-pp/{{user_profile.id}}', {
    method: 'POST',
    body: formData1
    }).then((res)=>{
      if (res.status == 200){
        triggerToast("Successfully Added Personal Property!", 'success')

      }
      return res.json()
    
    }).then((data)=>{


    });//END

})


document.getElementById('saln_liability_form').addEventListener("submit", (e)=>{
  e.preventDefault();

  let formData1 = new FormData(e.target);

  const data1 = {}
  formData1.forEach((value, key) => (data1[key] = value));

  fetch('/saln/add-liability/{{user_profile.id}}', {
    method: 'POST',
    body: formData1
    }).then((res)=>{
      if (res.status == 200){
        triggerToast("Successfully Added Liability!", 'success')

      }
      return res.json()
    
    }).then((data)=>{


    });//END

})

document.getElementById('saln_business_interest_form').addEventListener("submit", (e)=>{
  e.preventDefault();

  let formData1 = new FormData(e.target);

  const data1 = {}
  formData1.forEach((value, key) => (data1[key] = value));

  fetch('/saln/add-business-interest/{{user_profile.id}}', {
    method: 'POST',
    body: formData1
    }).then((res)=>{
      if (res.status == 200){
        triggerToast("Successfully Added Business Interest & Financial Connection!", 'success')
      }
      return res.json()
    
    }).then((data)=>{


    });//END

})

document.getElementById('saln_relative_in_government_form').addEventListener("submit", (e)=>{
  e.preventDefault();

  let formData1 = new FormData(e.target);

  const data1 = {}
  formData1.forEach((value, key) => (data1[key] = value));

  fetch('/saln/add-relative-in-government/{{user_profile.id}}', {
    method: 'POST',
    body: formData1
    }).then((res)=>{
      if (res.status == 200){
        triggerToast("Successfully Added Relative in Government!", 'success')
      }
      return res.json()
    
    }).then((data)=>{


    });//END

})

</script>
{%endblock%}