{% extends 'base.html' %}

{% block title %} Admin Dashboard {% endblock %}

{%block cssperfile %} 
<style>

</style>


<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<main class="container">
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-secondary btn-sm m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">New Service Record</button>
		</div>
		<div class="col-sm-12 table-responsive">
			<table class="table table-dark table-striped table-bordered text-center">
				<thead>
				  <tr class="align-middle">
					<th scope="col" colspan="2">SERVICE <i>(Inclusive Dates)</i></th>
					<th scope="col" colspan="3">RECORD OF APPOINTMENT</th>
					<th scope="col" rowspan="2">STATION/PLACE OF ASSIGNMENT</th>
					<th scope="col" rowspan="2">LEAVE W/O PAY</th>
					<th scope="col" colspan="2">SEPARATION</th>
				  </tr>
				  <tr>
					<th scope="col">FROM</th>
					<th scope="col">TO</th>
					<th scope="col">DESIGNATION</th>
					<th scope="col">STATUS</th>
					<th scope="col">SALARY</th>
					<th scope="col">DATE</th>
					<th scope="col">CAUSE</th>
				  </tr>
				</thead>
				<tbody>

				</tbody>
			  </table>
		</div>
	</div>

</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Add Service Record</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form enctype="multipart/form-data" id="add_service_record" action="/employees/service-record/{{current_user.id}}" method="POST" autocomplete="off" class="needs-validation" novalidate>
				<div class="d-sm-flex flex-row"> 
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="date" class="form-control" id="service_from" name ="service_from" placeholder="Service From" value="" required>
					  <label for="service_from">Service From</label>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="date" class="form-control" id="service_to" name ="service_to" placeholder="Service To" value="" required>
					  <label for="first_name">Service To</label>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					  <div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="sf_present" name="sf_present" value = "Present">
						<label class="form-check-label" for="sf_present">
						  PRESENT
						</label>
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row"> 
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="text" class="form-control" id="designation" name ="designation" placeholder="Designation" value="" required>
					  <label for="designation">Designation</label>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<select class="form-select" id="status" name="status" aria-label="Floating label select example" value="">
							<option value="Job Order">Job Order</option>
							<option value="Permanent">Permanent</option>
							<option value="Casual">Casual</option>
							<option value="Coterminous">Coterminous</option>
							<option value="Separated">Separated</option>
						</select>
						<label for="middle_name">Employment Status</label>

						<div class="valid-feedback">
							Looks good!
						  </div>
						  <div class="invalid-feedback">
							This is required.
						  </div>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="text" class="form-control" id="salary" name ="salary" placeholder="Salary" value="" required>
					  <label for="salary">Salary</label>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<input type="text" class="form-control" id="station_place" name ="station_place" placeholder="Station/ Place of Assignment" value="" required>
						<label for="designation">Station/ Place of Assignment</label>
						<div class="valid-feedback">
							Looks good!
						  </div>
						  <div class="invalid-feedback">
							This is required.
						  </div>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="text" class="form-control" id="leave_wo_pay" name ="leave_wo_pay" placeholder="Leave W/O Pay" value="None">
					  <label for="salary">Leave W/O Pay</label>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<input type="date" class="form-control" id="separation_date" name ="separation_date" placeholder="Separation Date" value="">
						<label for="designation">Separation Date</label>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
					  <textarea rows="5" style="height:100%;" cols="50" class="form-control" id="separation_cause" name ="separation_cause" placeholder="Separation Cause" value=""></textarea>
					  <label for="salary">Separation Cause</label>
					</div>
				</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Save Record</button>
		</form>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}

{%block scripts%}
<script type="text/javascript">
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })


	var sf_present = document.getElementById('sf_present');
	sf_present.addEventListener('change',()=>{
		var service_to = document.getElementById('service_to');
		if(sf_present.checked){
			service_to.disabled = true;
			service_to.value = ''
			}
		else{
			service_to.disabled = false;
			}
	})
})()




	//var add_service_record = document.getElementById('add_service_record');
	//add_service_record.addEventListener('submit', (e)=>{
		//e.preventDefault()

	//})



	// fetch('/employees/service-record', {
    //     method: 'POST',
    //     body: formData
    //   }).then((res)=>{
    //     return res.json() 
    //   }).then(data => {
	// 	console.log(data)
	//   })
	//   .catch(console.error)


</script>
{%endblock%}