{% extends 'base.html' %}

{% block title %} Admin Dashboard {% endblock %}

{%block cssperfile %} 
<style>

</style>


<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<main class="container">
	
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-secondary btn-sm m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">New Service Record</button>
		</div>
		<div class="col-sm-12">
			<h1 class="text-center fw-bold">SERVICE RECORD</h1>
		</div>
		<div class="col-sm-12 mt-5">
			<div class="row">
				<div class="col-sm-1"><h6 class="fw-bold text-center">NAME:</h6></div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-12  border-dark border-bottom">
							<h6 class="fw-bold text-center">{{user.last_name}}</h6>
						</div>
						<div class="col-12"><h6 class="text-center"><i>Surname</i></h6></div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-12  border-dark border-bottom">
							<h6 class="fw-bold text-center">{{user.first_name}}</h6>
						</div>
						<div class="col-12"><h6 class="text-center"><i>Given Name</i></h6></div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-12  border-dark border-bottom">
							<h6 class="fw-bold text-center">{{user.middle_name}}</h6>
						</div>
						<div class="col-12"><h6 class="text-center"><i>Middle Name</i></h6></div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="row">
						<div class="col-12 text-center">
							<small class="fw-light"><i>(if married woman, give also maiden name)</i></small>
						</div>
						<div class="col-12">
							<input type="text" class="form-control border-0 text-center" placeholder="N/A">
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="row">
						<div class="d-inline-flex flex-row-reverse justify-content-center">
							<span class="border-bottom border-dark">{{today_date.strftime('%B %d, %Y')}}</span>
						</div>
						<div class="d-inline-flex flex-row-reverse justify-content-center">
							<i>Date Prepared</i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"><h6 class="fw-bold text-center">BIRTH:</h6></div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-12  border-dark border-bottom">
							<h6 class="fw-bold text-center">{{user.birthdate}}</h6>
						</div>
						<div class="col-12"><h6 class="text-center"><i>Date</i></h6></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-12  border-dark border-bottom">
							<h6 class="fw-bold text-center">{{user.place_of_birth}}</h6>
						</div>
						<div class="col-12"><h6 class="text-center"><i>Place</i></h6></div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="row">
						<div class="col-12 text-center">
							<small class="fw-light"><i>(Date herein should be checked from birth or baptismal certificate or some other reliable document)</i></small>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<p class="fw-light text-center"><i>This is to certify that the employee named herein above actually rendered services in this office as shown by the service record below, eachline of which is supported by appointment and other papers actually issud by this office and approved by the authorities concerned.</i></p>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table table-striped table-bordered text-center display" id="service_record_table" style="width: 100%;">
					<thead>
					  <tr class="align-middle">
						<th  colspan="2">SERVICE <i>(Inclusive Dates)</i></th>
						<th  colspan="3">RECORD OF APPOINTMENT</th>
						<th  rowspan="2">STATION/PLACE OF ASSIGNMENT</th>
						<th  rowspan="2">LEAVE W/O PAY</th>
						<th  colspan="2">SEPARATION</th>
					  </tr>
					  <tr class="align-middle">
						<th >FROM</th>
						<th >TO</th>
						<th >DESIGNATION</th>
						<th >STATUS</th>
						<th >SALARY</th>
						<th >DATE</th>
						<th >CAUSE</th>
					  </tr>
					</thead>
					<tbody>
	
					</tbody>
				  </table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p class="fw-light mb-0">This superseeds all Service Records previously issued inconsistent herewith.</p>
				<p class="fw-bold">INVALID IF THERE ARE ERASURES.</p>
			</div>
			<div class="col-sm-12 mt-3">
				<p><i>Certified Correct:</i></p>
			</div>
			<div class="col-sm-12 mt-5">
				<p class="fw-bold mb-0">FRANCIS CARLO L. ZACARIAS</p>
				<p class="mt-0"><i>Industrial Relations Management/Development Officer C</i></p>
			</div>
		</div>
	</div>

</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title"><i class="bi bi-card-list"></i> Add Service Record</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form enctype="multipart/form-data" id="add_service_record" action="/employees/service-record/{{current_user.id}}" method="POST" autocomplete="off" class="needs-validation" novalidate>
				<div class="d-sm-flex flex-row"> 
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="date" class="form-control" id="service_from" name ="service_from" placeholder="Service From" value="" required>
					  <label for="service_from">Service From</label>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="date" class="form-control" id="service_to" name ="service_to" placeholder="Service To" value="" required>
					  <label for="first_name">Service To</label>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					  <div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="sf_present" name="sf_present" value = "Present">
						<label class="form-check-label" for="sf_present">
						  PRESENT
						</label>
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row"> 
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="text" class="form-control" id="designation" name ="designation" placeholder="Designation" value="" required>
					  <label for="designation">Designation</label>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<select class="form-select" id="status" name="status" aria-label="Floating label select example" value="">
							<option value="Job Order">Job Order</option>
							<option value="Permanent">Permanent</option>
							<option value="Casual">Casual</option>
							<option value="Coterminous">Coterminous</option>
							<option value="Separated">Separated</option>
						</select>
						<label for="middle_name">Employment Status</label>

						<div class="valid-feedback">
							Looks good!
						  </div>
						  <div class="invalid-feedback">
							This is required.
						  </div>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="number" class="form-control" id="salary" name ="salary" placeholder="Salary" value="" required>
					  <label for="salary">Salary</label>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					  <div class="invalid-feedback">
						This is required.
					  </div>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<input type="text" class="form-control" id="station_place" name ="station_place" placeholder="Station/ Place of Assignment" value="" required>
						<label for="designation">Station/ Place of Assignment</label>
						<div class="valid-feedback">
							Looks good!
						  </div>
						  <div class="invalid-feedback">
							This is required.
						  </div>
					</div>
					<div class="form-floating flex-fill mb-3 p-1">
					  <input type="text" class="form-control" id="leave_wo_pay" name ="leave_wo_pay" placeholder="Leave W/O Pay" value="None">
					  <label for="salary">Leave W/O Pay</label>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
						<input type="date" class="form-control" id="separation_date" name ="separation_date" placeholder="Separation Date" value="">
						<label for="designation">Separation Date</label>
					</div>
				</div>
				<div class="d-sm-flex flex-row">
					<div class="form-floating flex-fill mb-3 p-1">
					  <textarea rows="5" style="height:100%;" cols="50" class="form-control" id="separation_cause" name ="separation_cause" placeholder="Separation Cause" value=""></textarea>
					  <label for="salary">Separation Cause</label>
					</div>
				</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Save Record</button>
		</form>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}

{%block scripts%}
<script type="text/javascript">
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })


	var sf_present = document.getElementById('sf_present');
	sf_present.addEventListener('change',()=>{
		var service_to = document.getElementById('service_to');
		if(sf_present.checked){
			service_to.disabled = true;
			service_to.value = ''
			}
		else{
			service_to.disabled = false;
			}
	})

	var products_table = $('#service_record_table').DataTable( {
		language: {
            searchBuilder: {
                title: ``,
				add: `Add Filter`
            }
        },
		bSortCellsTop: true,
		// bLengthChange: true,
		scrollX: true,
		// responsive: true,
		// colReorder: true,
        // dom: 'QBfrtip',
		
		dom: `Q<'row'<'col-sm-4 col-md-4'l><'col-sm-4 col-md-4'B><'col-sm-4 col-md-4'f>>
				<'row'<'col-sm-12'tr>>
				<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>`,
		lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
		buttons: [
			
				{
					extend: 'print',
					customize: function ( win ) {
						$(win.document.body)
							.css( 'font-size', '10pt' )
							.prepend(
								'<img src="http://datatables.net/media/images/logo-fade.png" style="position:absolute; top:0; left:0;" />'
							);
	
						$(win.document.body).find( 'table' )
							.addClass( 'compact text-center' )
							.css( 'font-size', 'inherit' );
					},
					exportOptions: {
						columns: [':visible']
					}
            	},
					{
					text: 'Copy',
					extend: 'copyHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
				{
					text: 'Excel',
					extend: 'excelHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
				{
					text: 'PDF',
					extend: 'pdfHtml5',
					exportOptions: {
						columns: [':visible']
					}
				},
        ],
        "ajax": {
            "method" : "GET",
            "url": "/employees/get-service-record/{{emp_id}}",
            "dataSrc": ""
        },

        "columns": [

			{ "data": "service_from"},
			{ "data": "service_to"},
			{ "data": "designation"},
			{ "data": "status"},
			{ "data": "salary"},
			{ "data": "station_place"},
			{ "data": "leave_wo_pay"},
			{ "data": "separation_date"},
			{ "data": "separation_cause"},
            // {
            //   data: null,
			//   searchable: false,
            //   render: function ( data, type, row ) {
            //     return `
			// 	<div class="d-sm-flex flex-row">
			// 		<a href="/employees/my-profile/${data.id}" class="btn btn-warning btn-sm m-2" title="View employee info" id="${data.id}">
			// 			<i class="bi bi-eye-fill"></i>
			// 		</a>
			// 		<a class="btn btn-danger btn-sm m-2" title="Remove this Product" id="${data.id}" onclick = "delete_product(this)">
			// 			<i class="bi bi-trash"></i>
			// 		</a>
			// 	</div>`;
            //   }
            // }
        ]
    } );

})()


	// fetch('/employees/service-record', {
    //     method: 'POST',
    //     body: formData
    //   }).then((res)=>{
    //     return res.json() 
    //   }).then(data => {
	// 	console.log(data)
	//   })
	//   .catch(console.error)


</script>
{%endblock%}