{% extends 'base.html' %}

{% block title %} Vaccine Information {% endblock %}

{%block cssperfile %}
<link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet">

<style type="text/css">
	div.dtsb-searchBuilder div.dtsb-titleRow {
    	display: none;
}
</style>

<!-- <link href="{{ url_for('static', filename='movingBg.css') }}" rel="stylesheet"> -->

<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<main class="container mt-3">
	<div class="row mb-3 ms-auto">
    <!-- <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul> -->
<!-- ----------------------------------------------------------------------- -->
<!--                                 VACCINE                                 -->
<!-- ----------------------------------------------------------------------- -->

<div class="card mb-3">
    <div class="card-body">
      <div class="card text-white bg-blue shadow-sm mb-3" >
        <div class="card-header">
          <h3 class="card-title"><i class="fas fa-syringe"></i> COVID-19 Vaccination</h3>
         </div>
        <div class="card-body">
          <ul>
          <li><p class="card-text">Please input all necessary fields.</p></li>
          <li><p class="card-text">File uploading only accepts PDF files. </p></li>
          </ul>
          <!-- <h5 class="card-title">Description</h5> -->
        </div>
      </div>
      
      <form action="#" method="POST" name="vaccine_form" id="vaccine_form" enctype="multipart/form-data"></form>

        {# for user_profile.vaccine[0] in user_profile.vaccine[0] #}
        <div class="card shadow-sm mb-3">
          <div class="card-body">
            <div class="d-md-flex flex-row col-sm-4">
              <div class="form-floating flex-fill mb-3 p-1">
                <select class="form-select" id="are_you_covid_vac" name="" aria-label="Floating label select example" value="">
                    {% if user_profile.vaccine %}
                        <option value="YES" selected disabled hidden>YES</option>
                    {% else %}
                        <option value="NO" selected disabled hidden>NO</option>
                    {% endif %}
                  <option value="YES">YES</option>
                  <option value="NO">NO</option>
                </select>
                <label for="are_you_covid_vac">Are you COVID-19 Vaccinated?</label>
              </div>
            </div>
          </div>
        </div>

          <div class="card shadow-sm mb-3">
              <div class="card-body">
                <div class="card-title">
                  <h3>COVID-19 Vaccine</h3>
                </div>
                <input type="hidden" class="form-control" name ="vac_id" id="vac_id" placeholder="ID" form="vaccine_form" value="{{user_profile.vaccine[0].id if user_profile.vaccine else ''}}">
                <div class="d-md-flex flex-row">
                  <div class="form-floating flex-fill mb-3 p-1">
                    <input type="text" class="form-control" name ="vac_id_no" id="vac_id_no" placeholder="Vaccine ID no." value="{{user_profile.vaccine[0].vac_id_no if user_profile.vaccine else ''}}" form="vaccine_form">
                    <label for="vac_id_no">Vaccine ID no.</label>
                  </div>
                  <div class="form-floating flex-fill mb-3 p-1">
                    <select class="form-select" id="vac_brand" name="vac_brand" aria-label="Floating label select example" value="{{user_profile.vaccine[0].vac_brand if user_profile.vaccine else ''}}" form="vaccine_form">
                        {% if user_profile.vaccine %}
                        <option value="{{user_profile.vaccine[0].vac_brand}}" selected hidden>{{user_profile.vaccine[0].vac_brand}}</option>
                        {% else %}
                        <option value="-" selected hidden>-</option>
                        {% endif %}
                        <option value="CORONAVAC (SINOVAC)">CORONAVAC (SINOVAC)</option>
                        <option value="COMIRNATY (PFIZER/BIONTECH)">COMIRNATY (PFIZER/BIONTECH)</option>
                        <option value="JANSSEN (JOHNSON & JOHNSON)">JANSSEN (JOHNSON & JOHNSON)</option>
                        <option value="OXFORD/ASTRAZENICA (VAXZEVRIA)">OXFORD/ASTRAZENICA (VAXZEVRIA)</option>
                        <option value="SPIKEVAX (MODERNA)">SPIKEVAX (MODERNA)</option>
                        <option value="SINOPHARM">SINOPHARM</option>
                        <option value="COVILO">COVILO</option>
                        <option value="COVAXIN (BHARAT-BIOTECH)">COVAXIN (BHARAT-BIOTECH)</option>
                        <option value="SPUTNIK V (GAMALEYA)">SPUTNIK V (GAMALEYA)</option>
                        <option value="COVOVAX">COVOVAX</option>
                    </select>
                    <label for="vac_brand">Vaccine Brand</label>
                  </div>
                </div>
                <div class="d-md-flex flex-row">
                  <div class="form-floating flex-fill mb-3 p-1">
                    <input type="text" class="form-control" name ="vac_place" id="vac_place" placeholder="Place of Vaccination (Municipality, Province)" form="vaccine_form" value="{{ user_profile.vaccine[0].vac_place if user_profile.vaccine else ''}}">
                    <label for="vac_place">Place of Vaccine (Municipality, Province)</label>
                  </div>
                </div>
                <div class="d-md-flex flex-row">
                  <div class="form-floating flex-fill mb-3 p-1 col-md-6">
                    <input type="date" class="form-control" name ="vac_first_dose" id="vac_first_dose" placeholder="Date of First Dose" form="vaccine_form" value="{{user_profile.vaccine[0].vac_first_dose if user_profile.vaccine else ''}}">
                    <label for="vac_date">Date of First Dose</label>
                  </div>
                  <div class="form-floating flex-fill mb-3 p-1 col-md-6">
                    <input type="date" class="form-control" name ="vac_second_dose" id="vac_second_dose" placeholder="Date of Second Dose" form="vaccine_form" value="{{user_profile.vaccine[0].vac_second_dose if user_profile.vaccine else '' }}">
                    <label for="vac_date">Date of Second Dose</label>
                  </div>
                </div>
                <div class="d-md-flex flex-row">
                  <div class="flex-fill mb-3 p-1 col-md-6">
                    <label for="vac_date">Vaccination Card</label>
                    <input type="file" class="form-control" name ="vaccine_card" id="vaccine_card" placeholder="Date of First Dose" form="vaccine_form" value="{{user_profile.vaccine[0].vac_first_dose if user_profile.vaccine else ''}}" required multiple>
                  </div>
                </div>
              </div>
          </div>
  

          <!-- ----------------------------------------------------------------------- -->
          <!--                              BOOSTER SHOT                               -->
          <!-- ----------------------------------------------------------------------- -->
          <div class="card shadow-sm mb-3">
            <div class="card-body">
              <div class="d-md-flex flex-row col-sm-6">
                <div class="form-floating flex-fill mb-3 p-1">
                  <select class="form-select" id="do_you_have_booster" name="" aria-label="Floating label select example" value="">
                    {% if user_profile.vaccine and user_profile.vaccine[0].booster_brand != 'N/A' %}
                    <option value="YES" selected disabled hidden>YES</option>
                    {% else %}
                    <option value="NO" selected disabled hidden>NO</option>
                    {% endif %}
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                  </select>
                  <label for="do_you_have_booster">Do You have Booster Shot (1st Dose)?</label>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow-sm mb-3">
            <div class="card-body">
              <div class="card-title">
                <h3>Booster Shot (First Dose)</h3>
              </div>
              <div class="d-md-flex flex-row">
                <div class="form-floating flex-fill mb-3 p-1">
                  <input type="text" class="form-control" id="booster_id_no" name ="booster_id_no" placeholder="Vaccine ID no." form="vaccine_form" value="{{user_profile.vaccine[0].booster_id_no if user_profile.vaccine else ''}}" disabled>
                  <label for="booster_id_no">1st Dose Booster Shot ID No.</label>
                </div>
                <div class="form-floating flex-fill mb-3 p-1">
                  <select class="form-select" id="booster_brand" name="booster_brand" aria-label="Floating label select example" form="vaccine_form" value="N/A" disabled required>
                    {% if user_profile.vaccine is not none and user_profile.vaccine|length > 0 %}
                    <option value="{{user_profile.vaccine[0].booster_brand}}" selected hidden>{{user_profile.vaccine[0].booster_brand}}</option>
                    {% else %}
                    <option value="N/A" selected hidden>N/A</option>
                    {% endif %}
                    <option value="CORONAVAC (SINOVAC)">CORONAVAC (SINOVAC)</option>
                    <option value="COMIRNATY (PFIZER/BIONTECH)">COMIRNATY (PFIZER/BIONTECH)</option>
                    <option value="JANSSEN (JOHNSON & JOHNSON)">JANSSEN (JOHNSON & JOHNSON)</option>
                    <option value="OXFORD/ASTRAZENICA (VAXZEVRIA)">OXFORD/ASTRAZENICA (VAXZEVRIA)</option>
                    <option value="SPIKEVAX (MODERNA)">SPIKEVAX (MODERNA)</option>
                    <option value="SINOPHARM">SINOPHARM</option>
                    <option value="COVILO">COVILO</option>
                    <option value="COVAXIN (BHARAT-BIOTECH)">COVAXIN (BHARAT-BIOTECH)</option>
                    <option value="SPUTNIK V (GAMALEYA)">SPUTNIK V (GAMALEYA)</option>
                    <option value="COVOVAX">COVOVAX</option>
                  </select>
                  <label for="booster_brand">Vaccine Brand</label>
                </div>
              </div>
              <div class="d-md-flex flex-row">
                <div class="form-floating flex-fill mb-3 p-1">
                  <input type="text" class="form-control" name ="booster_place" id="booster_place" placeholder="Place of Booster Shot (Municipality, Province)" form="vaccine_form" value="{{user_profile.vaccine[0].booster_place if user_profile.vaccine else 'N/A'}}" disabled required>
                  <label for="booster_place">Place of Booster Shot (Municipality, Province)</label>
                </div>
              </div>
              <div class="d-md-flex flex-row">
                <div class="form-floating flex-fill mb-3 p-1 col-md-6">
                  <input type="date" class="form-control" name ="booster_date" id="booster_date" placeholder="Date of Booster Shot" form="vaccine_form" value="{{user_profile.vaccine[0].booster_date if user_profile.vaccine else 'N/A'}}" disabled required>
                  <label for="booster_date">Date of Booster Shot</label>
                </div>
              </div>
              <div class="d-md-flex flex-row">
                <div class="flex-fill mb-3 p-1 col-md-6">
                  <label for="vac_date">1st Dose Booster Shot ID Card</label>
                  <input type="file" class="form-control" name ="booster_shot_card_first_dose" id="booster_shot_card_first_dose" placeholder="Date of First Dose" form="vaccine_form" value="" multiple required>
                </div>
              </div>
            </div>
        </div>

        <div class="card shadow-sm mb-3">
          <div class="card-body">
            <div class="d-md-flex flex-row col-sm-6">
              <div class="form-floating flex-fill mb-3 p-1">
                <select class="form-select" id="do_you_have_booster2" name="" aria-label="Floating label select example" value="">
                  {% if (user_profile.vaccine)|select|first%}
                  {% if user_profile.vaccine[0].booster_brand2 is not none %}
                      <option value="YES" selected disabled hidden>YES</option>
                      {% else %}
                      <option value="NO" selected disabled hidden>NO</option>
                  {% endif %}
                  <option value="YES">YES</option>
                    <option value="NO">NO</option>
                  {% endif %}

                </select>
                <label for="do_you_have_booster2">Do You have Booster Shot (2nd Dose)?</label>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow-sm mb-3">
          <div class="card-body">
            <div class="card-title">
              <h3>Booster Shot (Second Dose)</h3>
            </div>
            <div class="d-md-flex flex-row">
              <div class="form-floating flex-fill mb-3 p-1">
                <input type="text" class="form-control" id="booster_id_no2" name ="booster_id_no2" placeholder="Vaccine ID no." form="vaccine_form" value="{{user_profile.vaccine[0].booster_id_no2 if user_profile.vaccine[0].booster_id_no2 is not none else ''}}" disabled>
                <label for="booster_id_no">Booster Shot ID No.</label>
              </div>
              <div class="form-floating flex-fill mb-3 p-1">
                <select class="form-select" id="booster_brand2" name="booster_brand2" aria-label="Floating label select example" form="vaccine_form" value="{{user_profile.vaccine[0].booster_brand2 if user_profile.vaccine[0].booster_brand2 is not none else ''}}" disabled required>
                  {% if user_profile.vaccine[0].booster_brand2 is not none %}
                  <option value="{{user_profile.vaccine[0].booster_brand2}}" selected hidden>{{user_profile.vaccine[0].booster_brand2}}</option>
                  {% else %}
                  <option value="" selected hidden></option>
                  {% endif %}
                  <option value="CORONAVAC (SINOVAC)">CORONAVAC (SINOVAC)</option>
                  <option value="COMIRNATY (PFIZER/BIONTECH)">COMIRNATY (PFIZER/BIONTECH)</option>
                  <option value="JANSSEN (JOHNSON & JOHNSON)">JANSSEN (JOHNSON & JOHNSON)</option>
                  <option value="OXFORD/ASTRAZENICA (VAXZEVRIA)">OXFORD/ASTRAZENICA (VAXZEVRIA)</option>
                  <option value="SPIKEVAX (MODERNA)">SPIKEVAX (MODERNA)</option>
                  <option value="SINOPHARM">SINOPHARM</option>
                  <option value="COVILO">COVILO</option>
                  <option value="COVAXIN (BHARAT-BIOTECH)">COVAXIN (BHARAT-BIOTECH)</option>
                  <option value="SPUTNIK V (GAMALEYA)">SPUTNIK V (GAMALEYA)</option>
                  <option value="COVOVAX">COVOVAX</option>
                </select>
                <label for="booster_brand">Vaccine Brand</label>
              </div>
            </div>
            <div class="d-md-flex flex-row">
              <div class="form-floating flex-fill mb-3 p-1">
                <input type="text" class="form-control" name ="booster_place2" id="booster_place2" form="vaccine_form" value="{{user_profile.vaccine[0].booster_place2 if user_profile.vaccine[0].booster_place2 is not none else ''}}" disabled required>
                <label for="booster_place">Place of Booster Shot (Municipality, Province)</label>
              </div>
            </div>
            <div class="d-md-flex flex-row">
              <div class="form-floating flex-fill mb-3 p-1 col-md-6">
                <input type="date" class="form-control" name ="booster_date2" id="booster_date2" form="vaccine_form" value="{{user_profile.vaccine[0].booster_date2 if user_profile.vaccine[0].booster_place2 is not none else ''}}" disabled required>
                <label for="booster_date">Date of Booster Shot</label>
              </div>
            </div>
            <div class="d-md-flex flex-row">
              <div class="flex-fill mb-3 p-1 col-md-6">
                <label for="booster_shot_card_second_dose">2nd Dose Booster Shot ID Card</label>
                <input type="file" class="form-control" name ="booster_shot_card_second_dose" id="booster_shot_card_second_dose" form="vaccine_form" value="" multiple>
              </div>
            </div>
          </div>
      </div>
         {# endfor #}
            <!-- ----------------------------------------------------------------------- -->
            <!--                            IF NO VACCINE YET                            -->
            <!-- ----------------------------------------------------------------------- -->
        <div class="col-sm-12 text-center">
          <button type="submit" id="submit_covid_btn" class="btn btn-primary btn-md" form="vaccine_form">Submit</button>
        </div>
        
    </div>
  </div>

      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title">COVID-19 Vaccine Attachments</h3>
            <div class="card shadow-sm mb-3">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped table-sm" id="uploaded_file_table">
                    <thead>
                      <tr>
                        <th>File Tag</th>
                        <th>Attachment</th>
                        <th>Controls</th>
                      </tr>
                      </thead>
                      <tbody>
                    {% for file in user_profile.uploaded_files %}
                      <!-- <div class="flex-fill mb-3 p-1"> -->
                        {% if file.file_tag == 'vaccine_card' or file.file_tag == 'booster_shot_card_first_dose' or file.file_tag == 'booster_shot_card_second_dose' %}
                        <tr>
                          <td>{{file.file_tag}}</td>
                          <td><a href="{{file.file_path}}\{{file.file_name}}" target="_blank">{{file.file_name}}</a></td>
                          <td>
                            <a class="btn btn-danger btn-sm m-2" title="Remove" id="{{file.id}}" onclick = "delete_file(this)">
                              <i class="bi bi-trash"></i>
                            </a>
                          </td>
                        </tr>
      
                        {% endif %}
                      <!-- </div> -->
                    {% endfor %}
                  </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>


</main>

{% endblock %}

{%block scripts%}
<script src="{{ url_for('static', filename='vaccine-validations.js') }}"></script>
<script type="text/javascript">


   window.addEventListener('load',()=>{ 

    $('#uploaded_file_table').DataTable({
      responsive: true,
      dom: 'ftrip'
    });

        document.getElementById('vaccine_form').addEventListener('submit',(e)=>{
            loadingScreen("block");
            e.preventDefault();
            //-- ----------------------------------------------------------------------- -->
            //--                           SUBMIT OF VACCINE FORM                        -->
            //-- ----------------------------------------------------------------------- -->

            if (document.getElementById('vac_id').value == ""){
                var url = '/vaccine/add-vaccine/{{user_profile.id}}'
            }else{
                var url = '/vaccine/update-vaccine/{{user_profile.id}}'
            }
            let formData4 = new FormData(document.getElementById("vaccine_form"));
                
                const data4 = {}
                formData4.forEach((value, key) => (data4[key] = value));
               
                fetch(url, {
                method: 'POST',
                body: formData4
                }).then((res)=>{
                if (res.status == 200){
                    console.log("SUCCESSFULY SUBMITTED ALL DATA")
                    return res.json()
                }
                
                }).then((data)=>{
                  loadingScreen("none");
                  window.location.reload();

                });//END VACCINE

             
    })
});

function delete_file(e){
  // alert(e.id)
  loadingScreen("block")
  fetch('/employees/delete-file',{
    method: 'POST',
    body: JSON.stringify({"file_id" : e.id})
  })
	.then(response => response.json())
	.then((data)=>{
    window.location.reload();
  })
	.catch(err => console.error(err));
}
   


</script>
{%endblock%}